<template>
  <div class="container">
    <div class="row _mgbt-48px">
      <PageHeading 
        class="_mgbt-32px"
        text="Press & Articles"
      />
      <div 
        v-scroll-reveal="{delay: i * 200}" 
        v-for="(item, i) in $store.state.article.articles"
        :key="i"
        class="col-12 col-md-4 _mgv-16px"
      > 
        <ContentWithImage 
          :image="item.acf.content[0].top_left.image"
          :title="item.title.rendered"
          :date="item.date"
          :text="item.acf.short_description"
          :url="`articles/${item.slug}`"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ContentWithImage from '~/components/content-box/ContentWithImage'
import PageHeading from '~/components/text/PageHeading'

export default {
  components: {
    ContentWithImage,
    PageHeading
  },
  async asyncData({ store }) {
    // Save via commit in article.js
    await store.dispatch('article/getArticles') 
  }
}
</script>

<style scoped>
</style>

