<template>
  <div 
    v-if="product" 
    class="_w-100pct">
    <!-- Breadcrumb -->
    <div class="row">
      <div class="col-12 _mgt-24px _mgbt-48px-md _mgbt-24px">
        <Breadcrumb 
          :items="[
            {
              title: product.category_ids.filter((x) => x.parent !== 0)[0]
                .name,
              path: `/categories/${product.category_ids.filter((x) => x.parent !== 0)[0]
              .slug}`
            },
            {
              title: product.name,
              path: `/product/${product.slug}?color=${this.$route.query.color}`
            }
          ]"
        />
      </div>
    </div>
    <!-- Desktop -->
    <div  
      class="container _dp-n _dp-b-md">
      <!-- Product Detail -->
      <div class="row">
        <!-- Left -->
        <div class="col-12 col-md-8">
          <!-- Product Detail -->
          <!-- Gallery -->
          <div class="_mgbt-32px">
            <ProductGallery 
              :images="_galleryImages"
            />
          </div>
          <div 
            :class="{'-is-showing': isDetailsShowing}"
            class="_bdtw-4px _bdbtw-4px _bdcl-gray _pdv-12px"
            @click="isDetailsShowing = !isDetailsShowing"
          >
            <div class="_dp-f _jtfct-spbtw _alit-ct">
              <div> 
                <h6 class="_fs-6 _fw-600 _cs-pt">Product Details</h6>
              </div>
              <div class="_pdr-12px _cs-pt">
                <fa-icon
                  v-if="!isDetailsShowing"
                  :icon="['far', 'plus']"
                  class="_fs-7"
                />
                <fa-icon
                  v-if="isDetailsShowing"
                  :icon="['far', 'minus']"
                  class="_fs-7"
                />
              </div>
            </div>
            <div>
              <div 
                v-show="isDetailsShowing" 
                class="_lh-125pct description _pdv-16px"
                v-html="product.description"
              />
            </div>
          </div>
          <!-- Technologies -->
          <div 
            v-if="_fabricTechnologies"
            :class="{'-is-showing': isTechShowing}"
            class="_bdbtw-4px _bdcl-gray _pdv-12px "
            @click="isTechShowing = !isTechShowing"
          >
            <div class="_dp-f _jtfct-spbtw _alit-ct">
              <div> 
                <h6 class="_fs-6 _fw-600 _cs-pt">Fabric and Technologies</h6>
              </div>
              <div class="_pdr-12px _cs-pt">
                <fa-icon
                  v-if="!isTechShowing"
                  :icon="['far', 'plus']"
                  class="_fs-7"
                />
                <fa-icon
                  v-if="isTechShowing"
                  :icon="['far', 'minus']"
                  class="_fs-7"
                />
              </div>
            </div>
            <div>
              <div 
                v-show="isTechShowing"
                class="_lh-125pct _pdv-16px _pdh-12px"
              >
                <div 
                  v-for="(item,i) in _fabricTechnologies" 
                  :key="i">
                  <ProductTechnologies 
                    :id="item"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Right -->
        <div class="col-12 col-md-3">
          <!-- Name & Price -->
          <div class="_bdbtw-4px _bdcl-black">
            <h5 class="_fw-600">{{ product.name }}</h5>
            <h6 
              class="_pdbt-12px _ltspc-1px" 
              v-html="(_productVariation && _productVariation.price_html[$store.state.site.currency]) || product.price_html[$store.state.site.currency]"/>
          </div>
          <!-- Colors -->
          <div class="_bdbtw-4px _bdcl-gray _pdv-12px">
            <h6 
              class="_fw-600">
              <span v-if="_isColorExisted">Color – {{ _isColorExisted.name }}</span>
              <span v-else>Select color</span>
            </h6>
            <div class="_dp-f _alit-ct _pdv-8px _fw-wrv">
              <div 
                v-scroll-reveal 
                v-for="(value, key) in _colors"
                :key="key" 
                class="_mgr-8px _mgbt-8px _cs-pt"
                @click="selectOption(key)"
              >
                <ProductColor
                  :image="$store.state.product.attributes.pa_color.find(c => c.slug === key).meta.image"
                  :selected="$store.state.product.attributes.pa_color.find(c => c.slug === key).slug === $route.query.color"
                  size="36"
                />
              </div>
            </div>
          </div>
          <!-- Sizes -->
          <div class="_bdbtw-4px _bdcl-gray _pdv-12px">
            <div class="_dp-f _jtfct-spbtw _alit-ct">
              <h6 
                class="_fw-600">
                <span v-if="_isSizeExisted">Size – {{ _isSizeExisted.name }}</span>
                <span v-else>Select Size</span>
              </h6>
              <!-- <button 
                class="bio-button _bgcl-tpr _cl-pink _fs-8 _pd-4px"
                @click="$modal.show('size-chart')" 
              >Size Chart
              </button> -->
            </div>
            <div class="_dp-f _alit-ct _pdt-12px _pdbt-8px _fw-w">
              <div 
                v-scroll-reveal="{delay: i * 100}" 
                v-for="(size, i) in _sizes" 
                :key="i"
                class="_mgr-8px _mgbt-8px _cs-pt"
                @click="selectOption(size[0], 'size')"
              >
                <ProductSize 
                  :product-size="$store.state.product.attributes.pa_size.find(c => c.slug === size[0]).meta.label[0]"
                  :selected="$store.state.product.attributes.pa_size.find(c => c.slug === size[0]).slug === $route.query.size"
                  size="36"
                />
              </div>
            </div>
          </div>
          <!-- Quantity -->
          <div 
            v-if="_productVariation.variation_id" 
            class="_bdbtw-4px _bdcl-black _pdv-12px">
            <h6 class="_fw-600">Select Quantity</h6>
            <div 
              v-if="_productVariation.is_in_stock && _productVariation.max_qty" 
              class="_pdv-12px">
              <div class="bio-select">
                <select v-model="purchase.quantity">
                  <option 
                    disabled 
                    value="">Please Select Quantity</option>
                  <option 
                    v-for="i in _productVariation.max_qty" 
                    :key="i" 
                    :value="i"
                  >{{ i }}</option>
                </select>
              </div>
            </div>
            <!-- Not in stock -->
            <div v-else>
              <h6 class="_cl-accent _pdh-12px">Out of stock</h6>
            </div>
          </div>
          <!-- Add to bag -->
          <button 
            :class="{'-disabled': !_productVariation.variation_id || !_productVariation.max_qty, '-loading -disabled': isBtnLoading}"
            :disabled="!_productVariation.variation_id || !_productVariation.is_in_stock || !_productVariation.max_qty"
            class="_mgt-12px _ttf-upc bio-button _bdcl-tpr _bgcl-pink _cl-white _w-100pct _pdv-12px"
            @click="addToCart()">
            <span v-if="!_productVariation.variation_id || !_productVariation.max_qty">Please select size</span>
            <span v-else>Add to bag</span>
          </button>
        </div>
        <div 
          id="parent" 
          class="col-12 col-md-1 _pst-rlt">
          <no-ssr>
            <affix 
              :offset="{top: 100, bottom: 0}"
              relative-element-selector="#parent"
              style="width: 70px; margin-top: 100px;">
              <SocialShare />
            </affix>
          </no-ssr>
        </div>
      </div>
    </div>
    <!-- Mobile -->
    <div class="_dp-b _dp-n-md">
      <div>
        <ProductGallery 
          :images="_galleryImages"
          :selected-color="_isColorExisted && $route.query.color"
        />
      </div>
      <!-- Name & Price -->
      <div class="_pdh-12px _pdt-16px">
        <h5 class="_fw-600">{{ product.name }}</h5>
        <h6 
          class="_pdbt-0px _ltspc-1px" 
          v-html="(_productVariation && _productVariation.price_html[$store.state.site.currency]) || product.price_html[$store.state.site.currency]"/>
      </div>
      <!-- Sticky -->
      <div class="_bdbtw-4px _bdcl-black _pdh-12px _pdbt-16px">
        <!-- Add to bag -->
        <button 
          :class="{'-disabled': !_productVariation.variation_id || !_productVariation.max_qty, '-loading -disabled': isBtnLoading}"
          :disabled="!_productVariation.variation_id || !_productVariation.is_in_stock || !_productVariation.max_qty" 
          class="_mgt-12px _ttf-upc bio-button _bdcl-tpr _bgcl-pink _cl-white _w-100pct _pdv-12px"
          @click="addToCart()">
          <h4 class="_fs-5 _ttf-upc _fw-500">
            <span v-if="!_productVariation.variation_id || !_productVariation.max_qty">Please select size</span>
            <span v-else>Add to bag</span>
          </h4>
        </button>
      </div>
      <!-- Options -->
      <div>
        <!-- Colors -->
        <div class="_bdbtw-4px _bdcl-gray _pdv-12px">
          <h6 
            class="_fw-600 _pdh-12px">
            <span v-if="_isColorExisted">Color – {{ _isColorExisted.name }}</span>
            <span v-else>Select color</span>
          </h6>
          <div class="_dp-f _alit-ct _pdv-8px _pdh-12px _fw-wrv">
            <div 
              v-for="(value, key) in _colors" 
              :key="key" 
              class="_mgr-8px _cs-pt"
              @click="selectOption(key)"
            >
              <ProductColor
                :image="$store.state.product.attributes.pa_color.find(c => c.slug === key).meta.image"
                :selected="$store.state.product.attributes.pa_color.find(c => c.slug === key).slug === $route.query.color"
                size="36"
              />
            </div>
          </div>
        </div>
        <!-- Sizes -->
        <div class="_bdbtw-4px _bdcl-gray _pdv-12px">
          <div class="_dp-f _jtfct-spbtw _alit-ct _pdh-12px">
            <h6 
              class="_fw-600">
              <span v-if="_isSizeExisted">Size – {{ _isSizeExisted.name }}</span>
              <span v-else>Select Size</span>
            </h6>
            <button 
              class="bio-button _bgcl-tpr _cl-pink _fs-8 _pd-4px"
              @click="$modal.show('size-chart')" 
            >Size Chart
            </button>
          </div>
          <div class="_dp-f _alit-ct _pdv-8px _pdh-12px _fw-wrv">
            <div 
              v-for="(size, i) in _sizes" 
              :key="i" 
              class="_mgr-8px"
              @click="selectOption(size[0], 'size')"
            >
              <ProductSize 
                :product-size="$store.state.product.attributes.pa_size.find(c => c.slug === size[0]).meta.label[0]"
                :selected="$store.state.product.attributes.pa_size.find(c => c.slug === size[0]).slug === $route.query.size"
                size="36"
              />
            </div>
          </div>
        </div>
        <!-- Quantity -->
        <div 
          v-if="_productVariation.variation_id" 
          class="_bdbtw-4px _bdcl-black _pdv-12px">
          <h6 class="_fw-600 _pdh-12px">Select Quantity</h6>
          <div 
            v-if="_productVariation.is_in_stock && _productVariation.max_qty" 
            class="_pdv-12px _pdh-12px">
            <div class="bio-select">
              <select v-model="purchase.quantity">
                <option 
                  disabled 
                  value="">Please Select Quantity</option>
                <option 
                  v-for="i in _productVariation.max_qty" 
                  :key="i" 
                  :value="i"
                >{{ i }}</option>
              </select>
            </div>
          </div>
          <!-- Not in stock -->
          <div v-else>
            <h6 class="_cl-accent _pdh-12px">Out of stock</h6>
          </div>
        </div>
      </div>
      <!-- Product Details -->
      <div 
        :class="{'-is-showing': isDetailsShowing}"
        class="_bdbtw-4px _bdcl-gray _pdv-12px"
        @click="isDetailsShowing = !isDetailsShowing"
      >
        <div class="_dp-f _jtfct-spbtw _alit-ct">
          <div> 
            <h6 class="_fs-6 _fw-600 _pdh-12px _cs-pt">Product Details</h6>
          </div>
          <div class="_pdr-12px _cs-pt">
            <fa-icon
              v-if="!isDetailsShowing"
              :icon="['far', 'plus']"
              class="_fs-7"
            />
            <fa-icon
              v-if="isDetailsShowing"
              :icon="['far', 'minus']"
              class="_fs-7"
            />
          </div>
        </div>
        <div>
          <div 
            v-show="isDetailsShowing" 
            class="_lh-125pct description _pdv-16px _pdh-12px"
            v-html="product.description"
          />
        </div>
      </div>
      <!-- Technologies -->
      <div 
        v-if="_fabricTechnologies"
        :class="{'-is-showing': isTechShowing}"
        class="_bdbtw-4px _bdcl-gray _pdv-12px"
        @click="isTechShowing = !isTechShowing"
      >
        <div class="_dp-f _jtfct-spbtw _alit-ct">
          <div> 
            <h6 class="_fs-6 _fw-600 _pdh-12px _cs-pt">Fabric and Technologies</h6>
          </div>
          <div class="_pdr-12px _cs-pt">
            <fa-icon
              v-if="!isTechShowing"
              :icon="['far', 'plus']"
              class="_fs-7"
            />
            <fa-icon
              v-if="isTechShowing"
              :icon="['far', 'minus']"
              class="_fs-7"
            />
          </div>
        </div>
        <div>
          <div 
            v-show="isTechShowing"
            class="_lh-125pct _pdv-16px _pdh-12px"
          >
            <div 
              v-for="(item,i) in _fabricTechnologies" 
              :key="i">
              <ProductTechnologies 
                :id="item"/>
            </div>
          </div>
        </div>
      </div>
      <no-ssr class="_mgt-12px">
        <SocialShare />
      </no-ssr>
      <div style="clear: both"/>
    </div>
    <!-- You may also like -->
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-11 _mgt-24px-md _mgbt-48px">
          <div>
            <h6 class="_fw-600">You may also like</h6>
            <ProductColumnX
              v-if="product.similar_products.length"
              :product-list="product.similar_products"
              _class="col-6 col-md"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- Size Chart Modal -->
    <ModalSizeChart />
  </div>
</template>

<script>
import ProductGallery from '~/components/products/ProductGallery'
import Breadcrumb from '~/components/extras/Breadcrumb'
import ProductColor from '~/components/products/ProductColor'
import ProductSize from '~/components/products/ProductSize'
import ProductTechnologies from '~/components/products/ProductTechnologies'
import ModalSizeChart from '~/components/modals/SizeChart'
import ProductColumnX from '~/components/products/ProductColumnX'
import SocialShare from '~/components/extras/SocialShare'
import groupBy from 'lodash/groupBy'
export default {
  name: 'ProductSlug',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    ProductGallery,
    Breadcrumb,
    ProductColor,
    ProductSize,
    ProductTechnologies,
    ModalSizeChart,
    ProductColumnX,
    SocialShare
  },
  async asyncData({ store, params }) {
    let product = await store.dispatch('product/getIndividualProductSlug', {
      productSlug: params.slug
    })
    // if (!product) {
    //   return
    // }
    // products = products.map((_p) => _p.variations)
    return {
      product: product[0]
    }
  },
  data: () => ({
    purchase: {
      quantity: 1
    },
    isDetailsShowing: false,
    isTechShowing: false,
    isBtnLoading: false
  }),
  computed: {
    _colors() {
      return groupBy(this.product.variations, 'attributes.attribute_pa_color')
    },
    _sizes() {
      const grouped = groupBy(
        this.product.variations,
        'attributes.attribute_pa_size'
      )
      // console.log(Object.entries(grouped))
      return Object.entries(grouped).sort((a, b) => {
        return this.$store.state.site.sizeSort.indexOf(a[0]) - this.$store.state.site.sizeSort.indexOf(b[0])
      })
    },
    _fabricTechnologies () {
      const fabricTechnologiesIds = this.product.attributes.find((d) => d.name === 'pa_fabric_technologies')
      if(fabricTechnologiesIds) {
        return fabricTechnologiesIds.value
      }
      return false
    },
    _isSelected() {
      const colorSlug = this.$route.query.color
      if (!colorSlug) return false
      return true
    },
    _isColorExisted() {
      return this.$store.state.product.attributes.pa_color.find(
        (c) => c.slug === this.$route.query.color
      )
    },
    _isSizeExisted() {
      return this.$store.state.product.attributes.pa_size.find(
        (s) => s.slug === this.$route.query.size
      )
    },
    _productVariation() {
      const size = this.$route.query.size
      const color = this.$route.query.color
      if (!this._isSizeExisted || !this._isColorExisted) {
        return false
      }
      let variations = this.product.variations
      let variation = variations.find(
        (v) =>
          v.attributes.attribute_pa_color === color &&
          v.attributes.attribute_pa_size === size
      )
      return variation
    },
    _galleryImages() {
      if (!this.product.gallery_image_ids[0].slug.length) {
        return this.product.gallery_image_ids.map((v) => {
          return {
            image: v.url,
            color: (v.slug && v.slug[0]) || null
          }
        })
      }
      //
      return this.product.gallery_image_ids
        .filter((g) => g.slug[0] === this.$route.query.color)
        .map((v) => {
          return {
            image: v.url,
            color: (v.slug && v.slug[0]) || null
          }
        })
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      deep: true,
      handler: 'extractQuery'
    }
  },
  methods: {
    async addToCart() {
      // alert('add')
      this.isBtnLoading = true
      // console.log(this.currentProduct)
      const added = await this.$store.dispatch('purchase/addToCart', {
        id: this._productVariation.variation_id || this.product.id,
        quantity: this.purchase.quantity,
        variationId: this._productVariation.variation_id,
        data: {
          ...this._productVariation,
          parent_product: this.product
        }
      })
      this.isBtnLoading = false
      this.$toast.show(`${this.purchase.quantity} item(s) added to bag`).goAway(3500)
    },
    selectOption(val, mode = 'color') {
      // console.log(this.$route.query)
      let _query = this.$route.query
      if (mode === 'color') {
        return this.$router.replace({
          query: {
            color: mode === 'color' ? val : _query.color
          }
        })
      }
      if (this._isColorExisted) {
        return this.$router.replace({
          query: {
            color: mode === 'color' ? val : _query.color,
            size: mode === 'size' ? val : _query.size
          }
        })
      }
    },
    extractQuery() {
      return this.$router.replace({
        query: {
          color: !this._isColorExisted
            ? Object.keys(this._colors)[0]
            : this.$route.query.color,
          size: !this._isSizeExisted ? '' : this.$route.query.size
        }
      })
    }
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `${this.product.name} ${siteTitle}`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this.product.name} ${siteTitle}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `${this.product.description}`
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this._galleryImages[0] && this._galleryImages[0].image}`
        },
      ]
    }
  }
}
</script>
