<template>
  <div class="">
    <div class="container">
      <div class="row _dp-f _alit-ct _jtfct-spbtw menu-bar">
        <div 
          class="logo-container _pdv-8px _pdv-0px-md">
          <!-- Logo -->
          <nuxt-link to="/">
            <div class="logo _bgrp-nrp _bgs-ct _bgpst-ctl"/>
          </nuxt-link>
        </div>
        <div class="_dp-f _alit-ct">
          <div 
            class="_dp-n _dp-f-md _pst-rlt _bdcl-black _alit-ct _jtfct-fe">
            <!-- Desktop Menu -->
            <div 
              v-for="(item, i) in menuItems"
              :key="i" 
              class="_dp-f _alit-ct">
              <div 
                :class="{'_cl-pink': item.isActive}"
                class="menu-link _cl-black _ltspc-1px _cs-pt _h-100pct" >
                <nuxt-link 
                  v-if="item.path" 
                  :to="item.path"
                  class="_h-100pct _cl-black">
                  <h6 
                    class="_h-100pct _dp-f _alit-ct _ttf-upc" 
                    v-html="item.title"/>
                </nuxt-link>
                <div 
                  v-else 
                  class="_dp-f _alit-ct _h-100pct click-area" 
                  @click="item.isActive = !item.isActive"
                  @mouseenter="isDesktop && (item.isActive = true)"
                  @mouseleave="item.isActive = false">
                  
                  <img 
                    v-if="item.avatar && $store.state.auth && $store.state.auth.user"
                    :src="$store.state.auth.user.avatar_urls && $store.state.auth.user.avatar_urls['24']" 
                    class="_bdrd-50pct _mgr-8px-md box-shadow"
                    style="vertical-align: middle;"
                    alt="avatar">
                  
                  <h6 
                    class="_fw-500 _ttf-upc" 
                    v-html="item.title"/>
                </div>
                <!-- Desktop Dropdown Menu -->
                <slide-x-left-transition v-if="item.subMenu">
                  <div 
                    v-show="item.isActive"
                    class="_pst-asl _bgcl-white _zid-1 _pdv-12px _pdl-8px _pdr-12px dropdown  _bdcl-black"
                    @click="item.isActive = !item.isActive"
                    @mouseenter="item.isActive = true"
                    @mouseleave="item.isActive = false"
                  >
                    <div>
                      <h4 
                        v-if="item.header" 
                        class="_pdv-8px _lh-100pct _pdh-16px _ttf-upc _cl-black _ltspc-1px _f-3 _fs-5 _tal-ct _mgbt-12px"
                        v-html="item.header"/>
                      <ul>
                        <li  
                          v-for="(menuItem, j) in item.subMenu"
                          v-if="menuItem.show"
                          :key="j"
                          class="_pdh-16px"
                        >
                          <nuxt-link 
                            :to="menuItem.path" 
                            class="bio-link _cl-neutral-800 _cl-pink-hover" 
                          >
                            <h5 
                              class="_pdv-8px _fs-6" 
                              v-html="menuItem.title"/>
                          </nuxt-link>
                        </li>
                      </ul>
                    </div>
                  </div>
                </slide-x-left-transition >
              </div>
            </div>
          </div>

         
          <div class="_pst-rlt _pdh-0px-md _dp-f _alit-ct">
            <div class="_w-100pct _h-100pct _jtfct-spbtw-md _jtfct-fe _dp-f _alit-ct">
              <nuxt-link 
                v-if="$store.state.auth && $store.state.auth.user" 
                to="/my-account" 
                class="_dp-f _alit-ct _dp-n-md">
                <fa-icon 
                  :icon="['fal', 'user-circle']"
                  class="_cl-black _pd-2px "
                  size="lg"
                />
              </nuxt-link>
              <div 
                class="_dp-f _alit-ct _cs-pt _search-btn"
                @click="$store.commit('menu/SET_SEARCH_SHOWING', !$store.state.menu.isSearchShowing)"
                @mouseover="isSearchActive = true" 
                @mouseout="isSearchActive = false">
                <fa-icon 
                  :icon="['fal', 'search']"
                  class="_cl-black _pd-4px "
                  size="lg"
                />
                <fade-transition>
                  <div 
                    v-show="isSearchActive" 
                    style="width: 360px"
                    class="_pst-asl _r-0px _bgcl-white _zid-1 _pdh-16px dropdown _bdtw-8px _bdcl-black _pdv-24px">
                    <h4 class="_ttf-upc _cl-black _ltspc-1px _tal-ct _mgbt-24px">
                      SEARCH
                    </h4>
                    <Search />
                  </div>
                </fade-transition>
              </div>
              <div class="_pst-rlt">
                <Cart 
                  v-show="$store.state.menu.isCartShowing"
                  class="_dp-f _alit-ct"
                />
              </div>
              <div 
                class="_pst-rlt _w-64px _h-64px _dp-f _dp-n-md _alit-ct _jtfct-ct hamburger" 
                @click="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)">
                <div class="_w-32px _h-32px _pst-asl _dp-f _alit-ct inner">
                  <div 
                    class="menu icon" />
                </div>
              </div>
            </div>
          </div>
          
        </div>

      </div>
    </div>
    <!-- Mobile Dropdowns -->
    <!-- Mobile Dropdown Menu -->
    <slide-y-up-transition 
      class="_pst-asl l-0px _w-100pct _zid-1 _t-0px _r-0px _h-100vh _pdbt-48px menuDropdown" 
      origin="top right">
      <div 
        v-show="$store.state.menu.isShowing" 
        class="mobile-menu _bgcl-white" 
      >
        <div class="_dp-f _alit-ct _jtfct-spbtw _pdv-8px _bgcl-black _pdh-16px _h-48px">
          <div class="_ttf-upc _cl-white _ltspc-1px">
            5Lab Store
          </div>
          <div 
            class="_dp-ilb _pdl-12px _cs-pt" 
            @click="$store.commit('menu/SET_MOBILE_MENU', !$store.state.menu.isShowing)">
            <fa-icon 
              :icon="['fal', 'times']" 
              class="_cl-white"
              size="2x"/>
          </div>
        </div>
        <!-- Mobile Menu -->
        <div class="_h-100pct _ovfy-sc _bgcl-white">
          <div 
            v-scroll-reveal="{delay: i * 100}"
            v-for="(item, i) in menuItems"
            :key="i"
            class="menu-item _bdtw-1px _bdbtw-1px _bdcl-gray">
            <div 
              class="_pdh-16px _dp-f _alit-ct _jtfct-spbtw" 
              @click="item.isActive = !item.isActive">
              <!-- Title -->
              <div 
                v-if="item.subMenu" 
                class="_dp-f _alit-ct _h-100pct">
                <img 
                  v-if="item.avatar && $store.state.auth"
                  :src="$store.state.auth.user.avatar_urls && $store.state.auth.user.avatar_urls['24']" 
                  class="_bdrd-50pct _mgr-8px"
                  style="vertical-align: middle;"
                  alt="avatar">
                <h6 
                  class="_fs-6 _cl-black _ltspc-1px _pdv-8px _ttf-upc" 
                  v-html="item.title"/>
              </div>
              <nuxt-link 
                v-else
                :to="item.path"><h6 
                  class="_fs-6 _cl-black _ltspc-1px _pdv-8px _ttf-upc" 
                  v-html="item.title"/></nuxt-link>
              <!-- Toggle Icon -->
              <div v-if="item.subMenu">
                <fa-icon
                  :icon="['far', item.isActive? 'minus': 'plus']"
                  class="_fs-7 _cl-black"
                />
              </div>
            </div>
            <!-- If subMenu -->
            <div 
              v-if="item.subMenu && item.isActive" 
              class="_pdh-32px _pdv-8px _bdtw-2px _bdcl-gray">
              <div 
                v-scroll-reveal="{delay: i * 100}" 
                v-for="(item, i) in item.subMenu"
                v-if="item.show"
                :key="i"
                class="_pdv-4px">
                <nuxt-link 
                  :to="item.path" 
                  class="bio-link _cl-neutral-800 _fs-6" 
                >
                  <h6 v-html="item.title"/>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </slide-y-up-transition>
    <!-- Search Dropdown Menu -->
    <scale-transition 
      class="_pst-asl l-0px _w-100pct _zid-1 _t-0px _r-0px _h-100pct _pdbt-48px menuDropdown" 
      origin="top right">
      <div 
        v-show="$store.state.menu.isSearchShowing" 
        class="mobile-menu _bgcl-white _h-100pct">
        <div class="row _dp-f _alit-ct _pdv-8px _pdh-16px _h-48px">
          <div class="_f-1 _pdl-8px"/>
          <div class="_ttf-upc _cl-black _ltspc-1px _f-3 _tal-ct">
            SEARCH
          </div>
          <div 
            class="_cs-pt _f-1 _dp-f _jtfct-fe _pdr-8px" 
            @click="$store.commit('menu/SET_SEARCH_SHOWING', !$store.state.menu.isSearchShowing)">
            <fa-icon 
              :icon="['fal', 'times']" 
              size="2x"/>
          </div>
        </div>
        <!-- Search input -->
        <Search />
      </div>
    </scale-transition>
  </div>
</template>

<script>
import Search from '~/components/extras/Search'
import Cart from '~/components/purchase/Cart'
export default {
  components: {
    Search,
    Cart
  },
  props: {
    hasBorder: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    menuItems: [],
    isSearchActive: false,
    isDesktop: false
  }),
  created() {
    if (process.browser) {
      if (window.innerWidth > 1200) {
        this.isDesktop = true
      }
    }
    this.menuItems = this.$store.state.menu.headerMenu.map((a) => ({ ...a }))
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.avatar {
  width: 28px;
  height: 28px;
}
.logo {
  background-image: url('~/assets/images/logo-svg.svg');
  height: 35px;
}
.isSticky .logo {
  height:20px;
}

.menu-bar {
  @media (max-width: 340px) {
    justify-content: center !important;
  }
  @media (max-width: $sm-1) {
    border:none !important;
    border-bottom:1px solid rgba(0, 0, 0, 0.1) !important;
  }
  @media (min-width: $sm) {
     border-left:1px solid rgba(0, 0, 0, 0.1);
     border-bottom:1px solid rgba(0, 0, 0, 0.1);
     border-right:1px solid rgba(0, 0, 0, 0.1);
  }  
  @media (min-width: $md) {
     border:none;
  }
  @media (min-width: $lg) {
     border:none;
  }
}
.isSticky .menu-bar{
    //  border-left:1px dotted rgba(0, 0, 0, 0.2);
     border-right:1px solid rgba(0, 0, 0, 0.1);
     border-bottom:none !important;
     @media (min-width: $md) {
       border-right:1px dotted rgba(0, 0, 0, 0.2);
   }
}
// .isSticky .logo-container{
//   @media (min-width: $md) {
//         padding:15px;
//   }
//   @media (min-width: $lg) {
//     padding:15px;
//   }
// }
.logo-container{
  @media (max-width: $sm-1) {
    padding:15px;
  }
    @media (min-width: $sm) {
    padding:15px;
  }
    width: 35vw !important;
      @media (min-width: $md) {
        padding:0px;
    width: 145px !important;
  }
  @media (min-width: $lg) {
    width: 256px !important;
  }
}

.menu-link .click-area {
  transition:0.1s all ease-in-out;
  @media (min-width: $md) {
    padding:26px 12px !important;
  }
  @media (min-width: $lg) {
    padding:26px 24px !important;
  }
  h6 {
    font-size: 0.8rem !important;
  }
  &:hover{
    background: #e8e8e8;
    background: -moz-linear-gradient(top, #fff 0%, $pink 2000%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fff, color-stop(2000%, $pink)));
    background: -webkit-linear-gradient(top, #fff 0%, $pink 2000%);
    background: -o-linear-gradient(top, #fff 0%, $pink 2000%);
    background: -ms-linear-gradient(top, #fff 0%, $pink 2000%);
    background: linear-gradient(to bottom, #fff 0%, $pink 2000%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff', GradientType=0 );
  }
}
.isSticky .menu-link .click-area{
  @media (min-width: $md) {
    padding:16px 12px !important;
  }
  @media (min-width: $lg) {
    padding:16px 24px !important;
  }
}




.dropdown {
  box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.2);
  top: 100%;
  border-top:8px solid black;
  width: 260px;
  @include breakpoint(laptop) {
    display: none;
  }
}
.menu.icon {
  color: $blue;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  &::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
  &::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
}

.menuDropdown {
  display: none;
  @include breakpoint(laptop) {
    display: block;
  }
}

.hamburger {
  @media(max-width:360px){
    width:48px !important;
    border-right:none;
  }
    .inner {
      width:25px !important;
    }
}
._search-btn {
       @media(max-width:360px){
     padding:16px 5px;
  }
   padding:16px 10px;

  @media (min-width: $lg) {
    // border-left:1px solid rgba(0,0,0,0.1);
    // border-right:1px solid rgba(0,0,0,0.1);
    padding:26px 15px;
  }
}
.isSticky ._search-btn {
  @media (min-width: $lg) {
    padding:16px 15px !important;
  }
}
</style>
