<template>
  <div 
    class="bio-message -accent -has-icon _alit-ct">
    <fa-icon icon="lock"/> 
    <small class="_mgl-12px">Please use 8 - 16 characters (must include alphabets, numbers, and special characters)</small>
  </div>
</template>
