<template>
  <div class="_w-100pct">
    <ProductListView 
      :products="products"
      :breadcrumb="[
        {
          title: 'Sales',
          path: '/sales-promotions'
        },
        {
          title: `${$route.params.slug.replace('-', ' ')}`
        }
      ]"
    />
  </div>
</template>

<script>
import ProductListView from '~/components/products/ProductListView'
export default {
  name: 'SalesPromotionsSlug',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    ProductListView
  },
  async asyncData({ store, params }) {
    let products = await store.dispatch('product/getSalePromotionSlug', {
      promotion: params.slug
    })
    if (!products) {
      return { products: [] }
    }
    // products = products.map((_p) => _p.variations)
    return {
      products
    }
  }
}
</script>