<template>
  <form @submit.stop.prevent="submit">
    <div class="_mgt-12px">
      <p class="_lh-150pct">
        After completing the transfer of your payment, please confirm payment in My Order page and attached the transfer details or the bank slip. We will hold your order(s) for 3 days. If no payment is being made, order(s) will be automatically cancelled.
        <br>
        <br>
        กรุณาแจ้งยืนยันการโอนเงินผ่านทางหน้า My Orders โดยแนบสลิปหลักฐานการโอนเงินเพื่อยืนยันการสั่งซื้อ เราจะเริ่มดำเนินการส่งสินค้าเมื่อได้รับการโอนเงินเรียบร้อยแล้ว โดยสินค้าที่ไม่ได้รับการชำระเงินภายใน 3 วันหลังจากการสั่งซื้อ ระบบจะทำการยกเลิกโดยอัตโนมัติ
        <br>
        <br>
        <span class="_fw-700">ชื่อบัญชี และธนาคารที่รองรับการชำระเงิน</span>
        <br>
        <span>5Lab Group Co., Ltd.</span>
      </p>
      <!-- <img 
        class="_mgt-8px"
        src="~/assets/images/icons/bank-transfer-channels.jpg" 
        alt="Bank Transfer Channels"> -->
      <div 
        v-for="(item, i) in $store.state.purchase.gateways.find(g => g.id === 'bacs').account_details" 
        :key="i"
        class="_dp-ilb">
        <div 
          v-lazy:background="require(`assets/images/icons/banks/${item.sort_code}.jpg`)" 
          class="_h-32px _w-32px _mgr-12px _mgt-8px _bgrp-nrp _bgs-cv _bgpst-ct _bdcl-gray _bdw-4px"/>
      </div>
    </div>
    <button 
      :class="{'-loading -disabled': isBtnLoading}"
      :disabled="isBtnLoading"
      type="submit" 
      class="bio-button _bdw-0px _w-100pct _w-50pct-md _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px">
      <h4 class="_fs-5 _fw-500">
        Select
      </h4>
    </button>
    <!-- Return policy -->
    <small class="_cl-dark">By clicking the button above, you are agreeing to our <nuxt-link 
      target="_blank"
      class="bio-link" 
      to="/terms-conditions">terms and conditions</nuxt-link> and <nuxt-link 
        target="_blank"
        class="bio-link" 
        to="/return-policy">return policy</nuxt-link></small>
  </form>
</template>

<script>
export default {
  data: () => ({
    isBtnLoading: false,
  }),
  methods: {
    async submit() {
      // const x = window.confirm('ยืนยันการชำระเงินด้วยวิธีการโอนเงิน')
      // if (x === true) return await this.confirmPayByTransfer()
      return this.$emit('pay-bank-transfer')
    }
  }
}
</script>
