<template>
  <div class="cart ">
    <!-- Cart Slide-in -->
    <slide-x-right-transition>
      <div 
        v-show="$store.state.purchase.isCartShowing"
        :class="{'is-processing': isCartLoading}" 
        class="cart-panel-container _pst-f _t-0px _r-0px _w-100pct _w-80pct-md _bgcl-white"> 
        <div class="_w-100pct _bgcl-pink">
          <div class="cart-panel container">
            <div class="row _alit-ct _pdv-8px _bgcl-pink _cl-white">
              <div class="col-2"/>
              <div class="col-8 _tal-ct">
                <h5 class="_ttf-upc">
                  Bag ({{ _totalQuantity }})
                </h5>
              </div>
              <div class="col-2 _tal-r">
                <div 
                  class="_cs-pt" 
                  @click="$store.commit('purchase/SET_CART_SHOW', false)">
                  <span class="_fs-3 _lh-100pct">✕</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container _h-100vh _ovfy-sc _ovfy-hd-md">
          <!-- Product / Summary -->
          <div 
            v-if="_totalQuantity" 
            class="row _pdv-24px">
            <div class="col-12 col-md-8 order-last order-md-first">
              <div class="_bdcl-black-hover _pdbt-8px _bdbtw-4px">
                <h6 class="_fw-500">Products</h6>
              </div>
              <div class="_ovfy-at-md _ovfx-hd products-container">
                <PurchaseItem 
                  v-for="(value, key, i) in $store.state.purchase.cart.cart_contents"
                  :index="i"
                  :key="key"
                  :p-data="value"
                />
                <div class="_mgv-48px _tal-ct">
                  <div 
                    @click="$store.dispatch('purchase/clearCart')">
                    <button class="bio-button -black _cl-white _mgh-at _bgcl-dark-hover">Clear cart</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4 order-first order-md-last">
              <!-- Summary -->
              <Summary
                :showCountry="$route.path.indexOf('/checkout') === -1"
                :discountTotal="_discountTotal"
                :subTotal="_subTotal"
                :shippingFee="_shippingFee"
                :totalPrice="_totalPrice"
                :shippingCountry="$store.state.auth.customer.shipping_country"
                @changeCountry="onChangeCountry"
              />
              <!-- Buttons -->
              <div class="_mgv-24px">
                <button 
                  class="bio-button _bgcl-pink _ttf-upc _bdcl-tpr _w-100pct" 
                  @click="proceed()">Check out</button>
                <button 
                  class="bio-button _bgcl-white _cl-pink _ttf-upc _bdcl-tpr _w-100pct _mgv-12px" 
                  @click="$store.commit('purchase/SET_CART_SHOW', false)">Continue shopping</button>
              </div>
            </div>
          </div>
          <div 
            v-else 
            class="_dp-f _h-100pct _alit-ct _jtfct-ct">
            <div class="_tal-ct">
              <fa-icon 
                :icon="['far', 'frown']"
                size="6x"
              />
              <p class="_tal-ct _mgt-12px _cl-dark">
                YOUR BAG IS EMPTY!
              </p>
              <button 
                class="bio-button _bgcl-white _cl-pink _ttf-upc _bdcl-tpr _w-100pct _mgv-12px" 
                @click="$store.commit('purchase/SET_CART_SHOW', false)">Continue shopping</button>
            </div>
          </div>
        </div>
      </div>
    </slide-x-right-transition>
    <!-- Cart Button -->
    <div
      ref="cartBtn"
      class="_dp-f _alit-ct _cs-pt _cl-white _cart-btn "  
      @click="$store.commit('purchase/SET_CART_SHOW', !$store.state.purchase.isCartShowing)">
     
      <fa-icon 
        :icon="['fal', 'shopping-bag']"
        class="_cl-pink fa-2x _pd-1px _pst-rlt _bt-2px"
        size="lg"
      />
      <!-- Badge -->
      <Badge
        :number="_totalQuantity" 
        class="_mgl-4px _bgcl-pink"
      />
    </div>
    <!-- Curtain -->
    <fade-transition>
      <div 
        v-if="$store.state.purchase.isCartShowing"
        class="curtain _pst-f _t-0px _l-0px _w-100pct _h-100pct _zid-1"
        @click="$store.commit('purchase/SET_CART_SHOW', false)"
      />
    </fade-transition>
  </div>
</template>

<script>
import Badge from '~/components/extras/Badge'
import PurchaseItem from '~/components/purchase/PurchaseItem'
import Summary from '~/components/purchase/Summary'
export default {
  components: {
    Badge,
    PurchaseItem,
    Summary
  },
  data: () => ({
    isCartLoading: false,
    isMessageShowing: false,
    shipping: {
      country: null
    }
  }),
  computed: {
    _discountTotal () {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].discount_total
        )
      }
      return 0
    },
    _subTotal() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals']
            .cart_contents_total
        )
      }
      return 0
    },
    _totalPrice() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].total
        )
      }
      return 0
    },
    _shippingFee() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].shipping_total
        )
      }
      return 0
    },
    _totalQuantity() {
      const reducer = (a, c) => a + c
      if (!Object.keys(this.$store.state.purchase.cart.cart_contents).length)
        return 0
      return Object.values(this.$store.state.purchase.cart.cart_contents)
        .map((x) => (x = x.quantity))
        .reduce(reducer)
    }
  },
  watch: {
    '$store.state.purchase.cart.cart_contents'() {
      // If checkout/payment without cart item
      if (
        this.$route.path.indexOf('/checkout') > -1 &&
        !(this.$route.path.indexOf('/checkout/payment/') > -1) &&
        !Object.keys(this.$store.state.purchase.cart.cart_contents).length
      ) {
        return this.$router.replace('/')
      }
    },
    '$store.state.purchase.cart.isCartShowing'() {
      this.$store.dispatch('purchase/getCartContent')
    }
  },
  async created() {
    // Get Cart Content
    this.shipping.country =
      this.$store.state.auth.customer.shipping_country || 'TH'
    this.isCartLoading = true
    const cart = await this.$store.dispatch('purchase/getCartContent')
    this.isCartLoading = false
    // this.onChangeCountry(this.shipping.country)
    // console.log('created')
  },
  methods: {
    proceed() {
      this.$store.commit('purchase/SET_CART_SHOW', false)
      this.$router.replace({ path: '/checkout' })
    },
    async onChangeCountry(cc) {
      this.isCartLoading = true
      const cart = await this.$store.dispatch('purchase/setCustomerCountry', cc)
      return (this.isCartLoading = false)
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';

.cart {
  position: relative;
}

.curtain {
  @include breakpoint(mobile) {
    background: #fff;
  }
  background: rgba(0, 0, 0, 0.75);
}

.cart-panel-container {
  // @include breakpoint(mobile) {
  //   top: 0px;
  // }
  top: 0px;
  z-index: 2;
  box-shadow: -1px 0px 40px -10px rgba(0, 0, 0, 0.1);
  height: calc(100vh);
  &.is-processing {
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: #000;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: donut-spin 0.6s linear infinite;
      z-index: 2;
    }
  }
}
.products-container {
  height: calc(100vh - 120px);
}
.summary {
  border-top: 1px dashed rgba(0, 0, 0, 0.1);
  min-height: 84px;
}
@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

._cart-btn{
  border-left:1px solid rgba(0,0,0,0.1);
  border-right:1px solid rgba(0,0,0,0.1);
  padding:15px 15px;
  
  @media (min-width: $md) {
    border-left:1px dotted rgba(0,0,0,0.2);
    border-right:none;
  padding:0;
  padding-left:20px;
  }
  @media (min-width: $lg) {
  padding:0;
  padding-left:20px;
  }
}
.isSticky ._cart-btn{
  
  @media (min-width: $md) {
    padding:11px 10px !important;
    
  }
  @media (min-width: $lg) {
    padding:11px 15px !important;
  }
}
</style>
