<template>
  <form @submit.stop.prevent="submit">
    <no-ssr>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 _pdh-0px">
            <Card 
              v-if="false" 
              v-model="cardDetail" />
            <float-label>
              <input 
                v-card-focus
                v-validate="{required: true, min: 16, max: 16}"
                v-model="cardDetail.number" 
                maxlength="16"
                name="number" 
                placeholder="Card number" 
                type="tel" 
              >
              <small 
                v-show="errors.has('number')"
                class="_cl-negative" 
              >Please enter your card number</small>
            </float-label>
            <float-label>
              <input 
                v-card-focus
                v-validate="{required: true}"
                v-model="cardDetail.name" 
                name="name" 
                placeholder="Full name" 
                type="text" 
              >
              <small 
                v-show="errors.has('name')"
                class="_cl-negative" 
              >Please enter name on card</small>
            </float-label>
            <!-- MM & YY -->
            <div class="row _mgt-8px">
              <div class="col-6">
                <float-label>
                  <input 
                    v-validate="{required: true}"
                    v-card-focus
                    v-model="cardDetail.expiry.mm" 
                    maxlength="2"
                    name="expiry.mm" 
                    placeholder="MM" 
                    type="tel" 
                  >
                  <small 
                    v-show="errors.has('expiry.mm')"
                    class="_cl-negative" 
                  >Please enter expiration month in MM</small>
                </float-label>
              </div>
              <div class="col-6">
                <float-label>
                  <input 
                    v-validate="{required: true}"
                    v-card-focus
                    v-model="cardDetail.expiry.yy" 
                    maxlength="2"
                    name="expiry.yy" 
                    placeholder="YY" 
                    type="tel" 
                  >
                  <small 
                    v-show="errors.has('expiry.yy')"
                    class="_cl-negative" 
                  >Please enter expiration year in YY</small>
                </float-label>
              </div>
            </div>
            <float-label>
              <input 
                v-validate="{required: true}"
                v-card-focus
                v-model="cardDetail.cvc" 
                maxlength="4"
                name="cvc" 
                placeholder="CVC" 
                type="number" 
              >
              <small 
                v-show="errors.has('cvc')"
                class="_cl-negative" 
              >Please enter CVC</small>
            </float-label>
            <!-- Pay button -->
            <div class="_mgt-32px">
              <!-- Submit Button -->
              <button 
                type="submit" 
                class="bio-button _bdw-0px _w-100pct _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px">
                <h4 class="_fs-5 _fw-500">
                  Select
                </h4>
              </button>
              <!-- Return policy -->
              <small class="_cl-dark">By clicking the button above, you are agreeing to our <nuxt-link 
                target="_blank"
                class="bio-link" 
                to="/terms-conditions">terms and conditions</nuxt-link> and <nuxt-link 
                  target="_blank"
                  class="bio-link" 
                  to="/return-policy">return policy</nuxt-link></small>
            </div>
          </div>
          <!--  -->
          <div class="col-12 col-lg-6 _dp-f _alit-ct _jtfct-ct">
            <div class="_tal-ct _mgt-16px">
              <p>Secured by:</p>
              <img 
                class="_w-40pct"
                src="~/assets/images/other/omise-logo.png" 
                alt="Omise">
              <div class="_mgt-8px">
                <img 
                  src="https://managestore.5lab.co/wp-content/plugins/woocommerce/assets/images/icons/credit-cards/visa.svg"
                  class="_mgh-4px"
                  height="24"
                  alt="Visa">
                <img 
                  src="https://managestore.5lab.co/wp-content/plugins/woocommerce/assets/images/icons/credit-cards/mastercard.svg"
                  class="_mgh-4px"
                  height="24"
                  alt="Master Card">
              </div>
            </div>
          </div>
        </div>
      </div>
    </no-ssr>
  </form>
</template>

<script>
let defaultProps = {
  number: '',
  name: '',
  expiry: {
    mm: '',
    yy: ''
  },
  cvc: '',
  method: 'omise'
}
export default {
  data: () => ({
    cardDetail: defaultProps
  }),
  methods: {
    async submit() {
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        return this.$emit('pay-credit-card', this.cardDetail)
      }
    }
  }
}
</script>
