<template>
  <div class="container-fluid">
    <div 
      v-for="(item, i) in items" 
      :key="i" 
      class="row">
      <div class="col-12 _pdh-0px _mgv-16px _dp-f">
        <div 
          v-lazy:background-image="item.image" 
          class="_h-128px _w-128px"/>
        <div class="_pdh-12px">
          <h5 
            class="_fw-600 _lh-150pct" 
            v-html="item.name"/>
          <p class=" _lh-150pct">Quantity: {{ item.quantity }}</p>
          <p class=" _lh-150pct">Total: {{ item.total | currency }}</p>
        </div>
      </div>
    </div>
    <!-- จัดส่ง -->
    <div class="row">
      <div class="col-12 _dp-f _jtfct-spbtw _alit-ct _cl-pink">
        <p class="_fw-400 _fs-4">
          Shipping fee:
        </p>
        <p class="_fw-600 _fs-4">
          {{ shippingTotal | currency }}
        </p>  
      </div>
    </div>
    <!-- ยอดรวม -->
    <div class="row">
      <div class="col-12 _dp-f _jtfct-spbtw _alit-ct _cl-pink">
        <p class="_fw-400 _fs-4">
          Total:
        </p>
        <p class="_fw-600 _fs-4">
          {{ total | currency }}
        </p>  
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    shippingTotal: {
      type: String,
      default: ''
    },
    total: {
      type: String,
      default: ''
    }
  }
}
</script>

