<template>
  <div 
    :class="{'is-active': number === $store.state.purchase.checkoutStep}" 
    class="_dp-f _fdrt-cl _alit-ct item">
    <div class="step-badge _dp-f _alit-ct _jtfct-ct _cl-white _mgbt-8px _bdrd-50pct _w-32px _h-32px _fs-6">{{ number }}</div>
    <small 
      class="_tal-ct" 
      v-html="title"/>
  </div>
</template>

<script>
export default {
  props: {
    number: {
      type: Number,
      default: 1
    },
    title: {
      type: String,
      default: ''
    }
  },
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.item {
  position: relative;
  z-index: 2;
  .step-badge {
    background: silver;
  }
  small {
    color: silver;
  }
  &.is-active {
    .step-badge {
      background: $pink;
    }
    small {
      color: $pink;
    }
  }
}
</style>
