<template>
  <div 
    :class="{'is-processing': isProcessing}" 
    class="_dp-f _mgt-16px _pdbt-16px _bdcl-gray _bdbtw-4px item">
    <!-- Image -->
    <nuxt-link 
      v-lazy:background-image="_image" 
      :to="`/product/${pData.parent_product.slug}`"
      class="_f-2 image _h-128px"/>
    <!-- Detail -->
    <div class="_mgl-8px _dp-f _f-8 _fdrt-cl _pdv-4px _pdv-8px-md _pdh-2px _pdh-12px-md">
      <div class="_dp-f _jtfct-spbtw">
        <div>
          <nuxt-link :to="`/product/${pData.parent_product.slug}`">        
            <h6 
              class="_lh-100pct _cl-neutral-800 _fw-500" 
              v-html="_title" />
          </nuxt-link>
          <h6>{{ _lineTotal | currency }}</h6>
        </div>
        <div 
          v-if="editable"
          class="_cs-pt"
          @click="remove(pData.key)">
          <fa-icon :icon="['fal', 'trash-alt']"/>
        </div>
      </div>
      <!-- Amount -->
      <div class="row _mgt-12px">
        <div class="col-5">
          <h6 class="_fs-7 _mgbt-4px _fw-500">
            Color
          </h6>
          <div class="_h-32px _dp-f _alit-ct">
            {{ $store.state.product.attributes.pa_color.find(x => x.slug === pData.attributes.attribute_pa_color).name }}
          </div>
        </div>
        <div class="col-2">
          <h6 class="_fs-7 _mgbt-4px _fw-500">
            Size
          </h6>
          <div class="_h-32px _dp-f _alit-ct">
            {{ $store.state.product.attributes.pa_size.find(x => x.slug === pData.attributes.attribute_pa_size).name }}
          </div>
        </div>
        <div class="col-5">
          <h6 class="_fs-7 _mgbt-4px _fw-500">
            Qty.
          </h6>
          <div class="bio-select">
            <select 
              v-model="quantity" 
              class="_h-32px"
              @change="onAdjust(quantity)">
              <option 
                disabled 
                value="">Please Select Quantity</option>
              <option 
                v-for="i in pData.max_qty" 
                :key="i" 
                :value="i"
              >{{ i }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QuantityCalc from '~/components/purchase/QuantityCalc'
export default {
  name: 'PurchaseItem',
  components: {
    QuantityCalc
  },
  props: {
    editable: {
      type: Boolean,
      default: true
    },
    index: {
      type: Number,
      default: 1
    },
    pData: {
      type: Object,
      default: () => ({
        id: 1,
        title: 'aaa',
        price: 12000,
        image: 'http://via.placeholder.com/350x350',
        amount: 1
      })
    }
  },
  data: () => ({
    isProcessing: false,
    quantity: null
  }),
  computed: {
    _image() {
      return this.pData.image.src
    },
    _lineTotal() {
      return (
        parseFloat(this.pData.total) ||
        parseFloat(this.pData.line_total) ||
        parseFloat(this.pData.price)
      )
    },
    _title() {
      return `${this.pData.parent_product.name}`
    }
  },
  watch: {
    'pData.quantity': {
      handler () {
        this.quantity = this.pData.quantity
      },
      immediate: true
    }
  },
  serverCacheKey: props => props.index,
  methods: {
    async remove(key) {
      this.isProcessing = true
      await this.$store.dispatch('purchase/removeFromCart', key)
      this.isProcessing = false
    },
    async onAdjust(n) {
      // console.log(`on adjust: ${n}`)
      this.isProcessing = true
      const cart = await this.$store.dispatch(
        'purchase/updateProductQuantity',
        {
          keyId: this.pData.key,
          quantity: n
        }
      )
      this.isProcessing = false
    }
  }
}
</script>

<style lang="scss" scoped>
.item {
  &.is-processing {
    position: relative;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.9);
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      top: 40%;
      left: 50%;
      display: inline-block;
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: #000;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      animation: donut-spin 0.6s linear infinite;
      z-index: 2;
    }
  }
}
.image {
  min-width: 64px;
  max-width: 150px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
</style>
