<template>
  <!-- Summary -->
  <div>
    <div class="_bdcl-black-hover _pdbt-8px _bdbtw-4px">
      <h6 class="_fw-500">Order Summary</h6>
    </div>
    <div class="_mgv-16px">
      <!-- Subtotal -->
      <div class="_dp-f _jtfct-spbtw _mgv-4px">
        <h6>
          Subtotal
        </h6>
        <h6>{{ subTotal + discountTotal | currency }}</h6>
      </div>
      <!-- Discounts -->
      <div 
        v-if="discountTotal" 
        class="_dp-f _jtfct-spbtw _mgv-4px">
        <h6 class="_cl-accent _fw-600">
          Discount
        </h6>
        <h6 class="_cl-accent _fw-600">{{ discountTotal | currency }}</h6>
      </div>
      <!-- Shipping Fee -->
      <div class="_dp-f _jtfct-spbtw _mgv-4px _pdbt-16px _bdcl-gray _bdbtw-4px">
        <h6>
          Shipping Fee
        </h6>
        <h6 v-if="parseInt(shippingFee)">{{ shippingFee | currency }}</h6>
        <h6 v-else>Free</h6>
      </div>
      <!-- Select Country -->
      <div 
        v-if="showCountry" 
        class="_pdbt-16px _bdcl-gray _bdbtw-4px">
        <div class="bio-select _mgv-12px">
          <select 
            v-validate="{required: true}" 
            v-model="selectedCountry"
            name="shipping.country"
            class="select _w-100pct"
            @change="$emit('changeCountry', selectedCountry)"
          >
            <option 
              disabled 
              value="">Select your country</option>
            <option 
              v-for="(value, key) in $store.state.site.countryCodes" 
              :key="key" 
              :value="key" 
              v-html="value.title"/>
          </select>
        </div>
        <small>
          * Buy up to 2,000 THB, free shipping<br>
          ฟรีค่าจัดส่งสินค้า เมื่อซื้อสินค้าตั้งแต่ 2,000 บาทขึ้นไป
        </small>
      </div>
      <!-- Subtotal -->
      <div class="_dp-f _jtfct-spbtw _pdv-12px _bdcl-black-hover _bdbtw-4px">
        <h6 class="_fw-600">
          Order Total
        </h6>
        <h6 class="_fw-600">{{ totalPrice | currency }}</h6>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    showCountry: {
      type: Boolean,
      default: true
    },
    subTotal: {
      type: Number,
      default: 0
    },
    shippingFee: {
      type: Number,
      default: 0
    },
    totalPrice: {
      type: Number,
      default: 0
    },
    shippingCountry: {
      type: String,
      default: 'TH'
    },
    discountTotal: {
      type: Number,
      default: 0
    }
  },
  data: () => ({
    selectedCountry: null
  }),
  watch: {
    shippingCountry: {
      handler () {
        return this.selectedCountry = this.shippingCountry
      },
      immediate: true
    }
  }
}
</script>
