<template>
  <button 
    :class="{'-loading -disabled': isBtnLoading}" 
    :disabled="isBtnLoading"
    type="button"
    class="bio-button -facebook _w-100pct _mgv-16px _bdcl-neutral-100 _pdv-12px _bdrd-4px"
    @click="login">
    <h4 class="_fs-5 _ttf-upc _fw-500">
      <fa-icon :icon="['fab', 'facebook-f']"/>&nbsp;
      {{ text }}
    </h4>
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    isBtnLoading: false
  }),
  async mounted () {
    this.isBtnLoading = true
    const fbLoginRes = await this.$store.dispatch('auth/facebookGetRedirectResult')
    this.isBtnLoading = false
    // console.log(fbLoginRes)
    if (fbLoginRes) {
      // return this.login()
      return this.$emit('success', fbLoginRes)
      // console.log(fbLoginRes)
    }
    if (fbLoginRes.error) return this.$emit('error', 'Error. Please try again with another account.')
    return
  },
  methods: {
    async login () {
      this.isBtnLoading = true
      return await this.$store.dispatch('auth/facebookSignUp')
    }
  },
}
</script>


<style lang="scss" scoped>
.-facebook {
  background-color: rgb(59, 89, 152);
}
</style>
