<template>
  <footer class=" _bgcl-black _pst-rlt _pdv-16px _pdv-32px-md">
    <div class="container">
      <!-- Footer Menu -->
      <div class="row _jtfct-ct">
        <div class="col-md-10">
          <div class="row">
            <div class="col-12">
              <div class="row _dp-b _dp-f-md menu-footer">
                <div class="col-12 col-md-3">
                  <nuxt-link  
                    v-for="(item, i) in footerMenu.slice(0,3)" 
                    :key="i"
                    :to="item.path"
                    class="" 
                  >
                    <h6 class="fs-1 fs-4-md _cl-white _tal-ct _tal-l-md">{{ item.title }}</h6>
                  </nuxt-link>
                </div>
                <div class="col-12 col-md-3">
                  <nuxt-link  
                    v-for="(item, i) in footerMenu.slice(3,6)" 
                    :key="i"
                    :to="item.path"
                    class="" 
                  >
                    <h6 class="fs-1 fs-4-md _cl-white _tal-ct _tal-l-md">{{ item.title }}</h6>
                  </nuxt-link>
                </div>
                <div class="col-12 col-md-3">
                  <nuxt-link  
                    v-for="(item, i) in footerMenu.slice(6,9)" 
                    :key="i"
                    :to="item.path"
                    class="" 
                  >
                    <h6 class="fs-1 fs-4-md _cl-white _tal-ct _tal-l-md">{{ item.title }}</h6>
                  </nuxt-link>
                </div>
                <div class="col-12 col-md-3">
                  <nuxt-link  
                    v-for="(item, i) in footerMenu.slice(9,12)" 
                    :key="i"
                    :to="item.path"
                    class="" 
                  >
                    <h6 class="fs-1 fs-4-md _cl-white _tal-ct _tal-l-md">{{ item.title }}</h6>
                  </nuxt-link>
                  <div class="_dp-f-md _tal-ct _mgv-16px _mgt-4px-md">
                    <div
                      v-for="(x, i) in $store.state.site.socialMedias" 
                      :key="i"
                      class="_pdh-8px _dp-ilb"
                    >
                      <a
                        :href="x.path"
                        target="_blank"
                      >
                        <fa-icon 
                          :icon="[x.style, x.icon]" 
                          :flip="x.flip"
                          class="_cl-white _fs-6"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Currency -->
      <div class="row _jtfct-ct">
        <div class="col-md-10">
          <div class="row">
            <div class="col-12">
              <div class="row _jtfct-fe">
                <div class="col-12 col-md-3 _tal-ct _tal-l-md">
                  <div class="_cl-white _dp-ilb _mgbt-16px">
                    <div class="bio-select">
                      <select 
                        v-model="currency" 
                        class="_h-32px _w-128px _bgcl-black _cl-white _bdcl-white"
                        @change="changeCurrency"
                      >
                        <option 
                          disabled 
                          value="">Please Select Currency</option>
                        <option value="thb">Thai Baht</option>
                        <option value="usd">US Dollar</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data: () => ({
    items: [],
    currency: 'thb'
  }),
  computed: {
    footerMenu() {
      return this.$store.state.menu.footerMenu.filter((x) => x.footer)
    }
  },
  methods: {
    changeCurrency () {
      return this.$store.commit('site/SET_CURRENCY', this.currency)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
