<template>
  <header 
    :class="{'isSticky _pst-f has-shadow animate': $store.state.menu.isUserSticky, 'isNotSticky': !$store.state.menu.isUserSticky}" 
    class="_zid-1 _w-100pct  _t-0px _l-0px  _bgcl-lightgray">
    <MenuNav />
  </header>
</template>

<script>
import MenuNav from '~/components/navigations/MenuNav'
export default {
  components: {
    MenuNav
  },
  props: {
    hasBorder: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    menuItems: [],
    prevY: 0,
    isNavSticky: false
  }),
  created() {
    if (process.browser) {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  methods: {
    handleScroll() {
      // console.log(window.scrollY)
      if (window.scrollY > 100) {
        this.$store.commit('menu/SET_USER_STICKY', true)
      } else {
        this.$store.commit('menu/SET_USER_STICKY', false)
      }
      this.prevY = window.scrollY
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  transition: 0.2s;
}
.has-shadow {
  box-shadow: 0px 1px 20px -5px rgba(0, 0, 0, 0.2);
}
.animate {
  animation-delay: 1s;
  animation: 0.5s menu-slide-down;
}
@keyframes menu-slide-down {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}
</style>
