<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-md-12 _mgv-12px">
        <h5 class="_pdh-16px _ttf-upc _fw-600 _cl-black">Delivery</h5>
        <BillingAndShippingForm 
          proceed-btn-title="SAVE"
          @success="onSuccess"
        />
      </div>
    </div>
  </div>
</template>

<script>
import BillingAndShippingForm from '~/components/forms/BillingAndShippingForm'
export default {
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `Delivery ${siteTitle}`
    }
  },
  components: {
    BillingAndShippingForm
  },
  data: () => ({
    errorMsg: 'x'
  }),
  methods: {
    onSuccess () {
      this.$toast.show(`Delivery Information Saved.`).goAway(3500)
    }
  },
  layout: 'profile'
}
</script>
