<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-md-10 _mgv-12px">
        <h5>บัตรเครดิตของฉัน</h5>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'profile'
}
</script>
