<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10">
        <Profile />
      </div>
    </div>
  </div>
</template>

<script>
import Profile from '~/components/forms/Profile'
export default {
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `Profile ${siteTitle}`
    }
  },
  components: {
    Profile
  },
  layout: 'profile'
}
</script>
