<template>
  <div class="container">
    <div class="row _mgbt-48px _dp-f _jtfct-ct">
      <div class="col-12 col-md-11">
        <PageHeading 
          :text="_article.title.rendered"
        />    
        <div class="_w-100pct _ltspc-1px _tal-ct _mgbt-32px">{{ _article.date | moment('YYYY') }}</div>
      
        <ContentCollection
          :top-left-image="_article.acf.content[0].top_left.image"
          :top-left-description="_article.acf.content[0].top_left.description"
          :bottom-left-image="_article.acf.content[0].bottom_left.image"
          :bottom-left-description="_article.acf.content[0].bottom_left.description"
          :middle-right-image="_article.acf.content[0].middle_right.image"
          :middle-right-description="_article.acf.content[0].middle_right.description"
          :is-collection = "false"
        />
      </div>  
      <div class="col-12 col-md-1 _pst-rlt _pdt-32px _pdt-50pct-md">
        <no-ssr>
          <socialShare />
        </no-ssr>
      </div>
    </div>
    
    <!-- Collection -->
    <div 
      v-if="_article.acf.related_collection" 
      class="row _dp-f _jtfct-ct _alit-ct _pdv-32px">
      <div class="col-12 col-md-10">
        <div class="row">
          <div class="col-12 _pdbt-12px">
            <div class="row">
              <div class="col-12 col-md-6">
                <Headline 
                  :text="`Collection`"
                />
              </div>
              <div class="col-12 col-md-6 _dp-f _jtfct-fe _alit-ct">
                <nuxt-link 
                  :to="`/product/collection/${_article.acf.related_collection.post_name}`"
                  class="link _tal-l">
                  <h6  
                    class="_fs-6 _lh-150pct _fw-500 _cl-pink "
                  >
                    Shop This Collection
                    <fa-icon 
                      :icon="['far', 'angle-right']" 
                    />
                  </h6>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <!-- Products -->
        <div class="row">
          <div class="col-12">
            <ProductColumnX
              v-if="products.length"
              :product-list="products.slice(0, 8)"
              _class="col-6 col-md-3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'
import ContentCollection from '~/components/content-box/ContentCollection'
import ProductColumnX from '~/components/products/ProductColumnX'
import SocialShare from '~/components/extras/SocialShare'

export default {
  name: 'Articles',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    PageHeading,
    Headline,
    ContentCollection,
    ProductColumnX,
    SocialShare
  },
  data: () => ({
    products: []
  }),
  async asyncData({ store, params }) {
    let article = await store.dispatch('article/getIndividualArticleSlug', {
      articleSlug: params.slug
    })
    if (!article) {
      return { article: [] }
    }
    return {
      article
    }
  },
  computed: {
    _article() {
      return this.article[0]
    }
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `${this._article.title.rendered} ${siteTitle}`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this._article.title.rendered} ${siteTitle}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `${this._article.acf.content[0].top_left.description}`
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this._article.acf.content[0].top_left.image}`
        },
      ]
    }
  },
  async created () {
    this.products = await this.$store.dispatch(
      'product/getProductsByCollectionSlug', {
        collectionSlug: this._article.acf.related_collection.post_name
      }
    )
  }
}
</script>

