<template>
  <div class="_mgt-16px">
    <!-- Items -->
    <slide-y-down-transition 
      class="_dp-n _dp-b-md" 
      group>
      <div 
        v-for="(x, i) in items"
        :key="i"
      >
        <nuxt-link 
          :to="x.path"
          class="_cl-black" 
          active-class="active"
          exact
        >
          <div class="_dp-f _alit-ct _jtfct-spbtw _pdv-16px _pdl-12px _bdbtw-2px _bdcl-gray">
            <span>
              {{ x.title }}
            </span>
            <!-- <fa-icon :icon="x.icon"/> -->
          </div>
        </nuxt-link>
      </div>
      <!-- Mobile Dropdown -->
    </slide-y-down-transition>
    <div class="_dp-b _dp-n-md bio-select">
      <select @change="navigate">
        <option 
          v-for="(x, i) in items"
          :value="x.path" 
          :key="i"
          :checked="$route.path === x.path"
        >{{ x.title }}</option>
      </select>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: []
  }),
  mounted() {
    this.items = [
      {
        path: '/my-account',
        title: 'My Account',
        icon: 'user'
      },
      {
        path: '/my-account/orders',
        title: 'My Orders',
        icon: 'clipboard-list'
      },
      {
        path: '/my-account/address',
        title: 'Delivery',
        icon: 'truck'
      },
      {
        path: '/my-account/logout',
        title: 'Log Out',
        icon: 'sign-out-alt'
      }
    ]
  },
  methods: {
    navigate(e) {
      const path = e.target.value
      this.$router.push({ path })
    }
  }
}
</script>

<style lang="scss">
.active {
  div {
    span {
      font-weight: 500;
      color: darken(#f25c8d, 20%);
    }
  }
}
</style>
