<template>
  <section class="_pdbt-16px _bgcl-black _pdv-16px">
    <!-- Picture -->
    <div class="_w-100pct _dp-f _jtfct-ct">
      <div 
        :style="`background-image: url(${$store.state.auth.user.avatar_urls['96']})`" 
        class="image _w-48px _h-48px _bdrd-50pct _bgs-cv _bgpst-ct" 
      />
    </div>
   
    <!-- Info -->
    <div class="_w-100pct _pdt-8px _dp-f _jtfct-ct">
      <h5 class="_lh-100pct _mgv-4px _cl-white _fs-6">Hi, {{ $store.state.auth.user.first_name || $store.state.auth.user.email }} {{ $store.state.auth.user.last_name }}</h5>
    </div>
  </section>
</template>

<style lang="scss" scoped>
section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.image {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
</style>
