<template>
  <div class="best-seller row _dp-f _jtfct-ct _mgt-24px">
    <div class="col-md-10">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-6">
              <Headline 
                :text="`Best Seller`"
              />
            </div>
            <div class="col-md-6 _dp-f _fdrt-cl _alit-fe _jtfct-ct"/>
          </div>
          <div class="row">
            <div class="col-12">
              <ProductColumnX
                v-if="products.length"
                :product-list="products.slice(0, 8)"
                _class="col-6 col-md-3"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12 _dp-f _jtfct-ct">
              <nuxt-link 
                to="/product/best-sellers"
                class="link _tal-l _pd-24px">
                <h6  
                  class="_fs-6 _lh-150pct _fw-500 _cl-pink"
                >
                  Shop All Best Sellers 
                  <fa-icon 
                    :icon="['far', 'angle-right']" 
                    class="_mgl-8px"
                  />
                </h6>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Headline from '~/components/text/Headline'
import ProductColumnX from '~/components/products/ProductColumnX'
export default {
  components: {
    Headline,
    ProductColumnX
  },
  props: {
    products: {
      default: () => [],
      type: Array
    }
  }
}
</script>
