<template>
  <div>
    <div 
      class="_bdbtw-4px _dp-f _dp-b-md _alit-ct _jtfct-spbtw _pdbt-12px" 
    >
      <h6 class="_cl-black _fs-6"><fa-icon :icon="['fal', 'filter']"/> Filters</h6>
      <div 
        class="_cs-pt _dp-n-md" 
        @click="$modal.hide('mobile-filter')">
        <fa-icon 
          :icon="['fal', 'times']" 
          size="2x"/>
      </div>
    </div>
    <div>
      <h6 class="_fs-5 _cl-black _fw-500 _pdt-16px _lh-100pct _mgbt-12px">Color</h6>
      <!-- Color checkboxes -->
      <div class="row">
        <div 
          v-for="(item, i) in colors.slice(0, isShowingMoreColors ? colors.length : 8)" 
          :key="i" 
          class="col-12">
          <div class="bio-checkbox _w-100pct _pdv-4px _mgh-8px">
            <input 
              :id="item.color" 
              v-model="filter.colors[item.color]"
              type="checkbox"
            >
            <label :for="item.color">
              <div 
                class="_w-100pct _dp-f _alit-ct _pst-rlt" 
                style="top: -3px;">
                <ProductColor :image="$store.state.product.attributes.pa_color.find(c => c.slug === item.color).meta.image" />
                <span class="_mgl-8px _fs-7">{{ $store.state.product.attributes.pa_color.find(c => c.slug === item.color).name }}</span>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Show more -->
          <button 
            v-if="colors.length > 8"
            class="bio-button -gray _bgcl-tpr _bdw-0px _fs-7 _pd-8px" 
            @click="isShowingMoreColors = !isShowingMoreColors"><fa-icon 
              :icon="['far', `angle-${isShowingMoreColors? 'up': 'down'}`]" 
              class="_mgr-4px"/> Show {{ isShowingMoreColors? 'less': 'more' }} colors</button>
        </div>
      </div>
    </div>
    <div class="_bdtw-2px _mgt-8px _bdcl-gray">
      <h6 class="_fs-5 _cl-black _fw-500 _pdt-16px _lh-100pct _mgbt-12px">Size</h6>
      <div>
        <div 
          v-for="(item, i) in sizes" 
          :key="i" 
          class="bio-checkbox _pdv-4px _mgh-8px">
          <input 
            :id="item.size" 
            v-model="filter.sizes[item.size]"
            type="checkbox">
          <label :for="item.size">
            <div class="_w-100pct _dp-f _alit-ct">
              <div class="_w-16px _h-16px _fs-7">
                {{ $store.state.product.attributes.pa_size.find(c => c.slug === item.size).meta.label[0] }}
              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductColor from '~/components/products/ProductColor'
export default {
  name: 'Filters',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    ProductColor
  },
  props: {
    colors: {
      type: Array,
      default: () => []
    },
    sizes: {
      type: Array,
      default: () => []
    },
    filter: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    isShowingMoreColors: false
  }),
  methods: {
    scrollTop () {
      if (process.browser) {
        window.scrollTo(0, 0)
      }
    }
  },
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
label {
  &::before {
    top: 0px;
    width: 18px !important;
    height: 18px !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
  &::after {
    top: 4px !important;
    left: 3px !important;
    border-color: $pink !important;
  }
}
</style>
