<template>
  <div 
    v-if="$route.query.color">
    <!-- Mobile Carousel -->
    <div class="_dp-b _dp-n-md">
      <no-ssr>
        <agile 
          ref="agile" 
          :options="slickOptions">
          <div 
            v-for="(v, i) in images"
            :key="i" 
            class="slide">
            <div class="row banner-container bg-white">
              <div class="col-12">
                <div 
                  v-lazy:background-image="v.image"
                  class="_ratio-3-4 _bgrp-nrp _bgpst-t _dp-f _alit-ct _pdl-48px _lh-200pct "
                />
              </div>
            </div>
          </div>
        </agile>
      </no-ssr>
    </div>
    <!-- Desktop -->
    <div class="row _dp-n _dp-f-md">
      <div class="col-1"/>
      <div class="col-2 _dp-f _fdrt-cl">
        <div 
          v-lazy:background-image="item.image" 
          v-for="(item, i) in images"
          :key="i" 
          :class="{'_opct-40': i !== imageIndex}"
          class="_bgrp-nrp _ratio-3-4 _mgbt-12px _bgpst-t _cs-pt option-image _bgcl-white box-shadow"
          @click="imageIndex = i"
        />
      </div>
      <div class="col-9">
        <div 
          v-lazy:background-image="images[imageIndex].image"
          ref="mainImage"
          :class="{'is-zooming': isZooming, '_bgpst-t': !isZooming}"
          class="_bgrp-nrp _dp-f _alit-ct _pdl-48px _ratio-3-4 _bgcl-white box-shadow"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductGallery',
  // serverCacheKey: () => Math.floor(Date.now() / 1000000),
  props: {
    images: {
      default: () => [],
      type: Array
    },
    selectedColor: {
      default: null,
      type: String
    }
  },
  data() {
    return {
      mousePosition: {},
      isZooming: false,
      imageIndex: 0,
      slickOptions: {},
      left:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M16.2,21c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L9.6,12L17,4.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L6.8,12l8.8,8.7C15.7,20.9,16,21,16.2,21z"/></svg>',
      right:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M7.8,21c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l7.4-7.3L7,4.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l8.8,8.7l-8.8,8.7C8.3,20.9,8,21,7.8,21z"/></svg>'
    }
  },
  mounted() {
    if (process.browser) {
      this.slickOptions = {
        slidesToShow: 1,
        // fade: true,
        arrows: true,
        autoplay: false,
        pauseOnHover: true,
        pauseOnDotsHover: true,
        dots: true
      }
      // this.$nextTick(() => this.changeSlide())
    }
  },
  methods: {
    pageOffset(el) {
      // -> {x: number, y: number}
      // get the left and top offset of a dom block element
      var rect = el.getBoundingClientRect(),
        scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
        scrollTop = window.pageYOffset || document.documentElement.scrollTop
      return {
        y: rect.top + scrollTop,
        x: rect.left + scrollLeft
      }
    },
    onMouseMove(evt) {
      if (process.browser) {
        const el = this.$refs.mainImage
        // console.log(el.offsetWidth)
        const x = evt.pageX - this.pageOffset(el).x
        const y = evt.pageY - this.pageOffset(el).y
        el.style.backgroundPosition = `${x / el.offsetWidth * 100}% ${y /
          el.offsetHeight *
          100}%`
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.image {
  height: 128px;
}
.main-image {
  height: 700px;
}
[lazy='loaded'].is-zooming {
  background-size: 300%;
}
.option-image {
  transition: 0.2s !important;
  &:hover {
    opacity: 0.7 !important;
  }
}
</style>
