<template>
  <div class="row _mgbt-24px">
    <div class="col-12 col-md-4 _dp-f _jtfct-ct">
      <nuxt-link to="/fabric-technologies">
        <div 
          v-lazy:background-image="_fabricTechnologies.meta.image" 
          class="_bgs-ct _bgpst-tr _bgs-ct _w-128px _h-128px _mgbt-16px _mgbt-0px-md"
        />
      </nuxt-link>
    </div>
    <div class="col-12 col-md-8 _dp-f _jtfct-ct _fdrt-cl _alit-ct _alit-fst-md">
      <nuxt-link to="/fabric-technologies">
        <h6 class="_f-qs _cl-black _fs-6 _fw-700 _mgbt-8px">{{ _fabricTechnologies.name }}</h6>
      </nuxt-link>
      <div v-html="_fabricTechnologies.description"/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: null
    },
  },
  data: () => ({
    isTechShowing: false,
  }),
  computed: {
    _fabricTechnologies () {
      return this.$store.state.product.attributes.pa_fabric_technologies.find(
        (t) => t.term_id === this.id)
    },
  }
}
</script>

