<template>
  <div 
    :style="`width: ${size}px; height: ${size}px; box-shadow: 0 0 0 2px rgba(0, 0, 0, ${selected? 0.7: 0});`"
    class="bio-button _bdrd-50pct _ratio-50 _bgrp-nrp _bgs-cv _bdw-2px _bgcl-gray _bdcl-white _alit-ct _jtfct-ct _dp-f _pd-0px"
  >
    <h6 class="_fw-500 _cl-black _fs-7 _opct-60">{{ productSize }}</h6>
  </div>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      default: '24'
    },
    productSize: {
      type: String,
      default: 'S'
    },
    selected: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

