<template>
  <div class="container">
    <div class="row">
      <div 
        v-scroll-reveal="{delay: i * 100}" 
        v-for="(item, i) in productList" 
        :key="i"
        :class="_class"
        class="_mgv-12px product-item"
      >
        <ProductCard 
          :image="_image(item)"
          :name="item.name"
          :color="`${getColor(item)? '– ' + getColor(item).name: ''}`"
          :url="`/product/${item.slug}?color=${getColor(item)? getColor(item).slug: ''}`"
          :price="_price(item)"
          :is-new="item.isNew"
          :is-sale="(item.price_html.thb).indexOf('<ins>') > -1"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ProductCard from '~/components/products/ProductCard'

export default {
  components: {
    ProductCard
  },
  props: {
    productList: {
      type: Array,
      default: () => []
    },
    _class: {
      type: String,
      default: ''
    }
  },
  methods: {
    _price (item) {
      // (item.price_html || item.price || item.display_price)
      if (item.price_html || item.price) {
        return item.price_html[this.$store.state.site.currency] || item.price
      }
      if (item.display_price !== item.display_regular_price) {
        return `<del>${this.$options.filters.currency(item.display_regular_price)}</del><ins>${this.$options.filters.currency(item.display_price)}</ins>`
      } else {
        return this.$options.filters.currency(item.display_price)
      }
    },
    _image(item) {
      if (item.image && this.isObject(item.image)) {
        return item.image.src
      }
      return item.image || item.image_id
    },
    isObject(o) {
      return o !== null && typeof o === 'object' && Array.isArray(o) === false
    },
    getColor(item) {
      if (item.attributes.attribute_pa_color) {
        return this.$store.state.product.attributes.pa_color.find(
          (c) => c.slug === item.attributes.attribute_pa_color
        )
      }
      return ''
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.product-item {
  @include breakpoint(mobile) {
    &:nth-child(odd) {
      padding-left: 0px;
      padding-right: 8px;
    }
    &:nth-child(even) {
      padding-right: 0px;
      padding-left: 8px;
    }
  }
}
</style>
