<template>
  <div 
    v-lazy:background-image="image" 
    :style="`width: ${size}px; height: ${size}px; box-shadow: 0 0 0 ${selected? 2: 0}px rgba(0, 0, 0, 0.8);`"
    class="_bdrd-50pct _ratio-50 _bgrp-nrp _bgpst-ct _bgs-cv _dp-ilb _bdw-2px _bdcl-white"
  />
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: '24'
    },
    selected: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
</style>

