<template>
  <no-ssr>
    <div 
      class="product-thumb _pst-rlt _h-100pct"
    >
      <!-- If Product is on sale -->
      <div 
        v-if="isSale" 
        class="_pst-asl _zid-0 _l-0px _t-8px _bgcl-accent _cl-white _pdh-8px _pdv-4px _fs-7 _fw-600">
        SALE
      </div>
      <nuxt-link 
        :to="url" 
        class="link _h-100pct _dp-f _fdrt-cl">
        <div 
          v-lazy:background-image="image" 
          class="_ratio-3-4 _bgpst-t" 
        />
        <div class="_pdh-8px _pdbt-12px _dp-f _f-at _fdrt-cl _jtfct-spbtw"> 
          <h6  
            v-line-clamp:20="2"
            class="_fs-7 _mgt-8px _cl-black _lh-125pct"
          >
            {{ name }} {{ color }}
          </h6>
          <div 
            class="_fs-7 _cl-black _mgt-12px" 
            v-html="price"/>
        </div>
      </nuxt-link>
    </div>
  </no-ssr>
</template>

<script>
export default {
  name: 'ProductCard',
  // serverCacheKey: () => Math.floor(Date.now() / 1000000),
  props: {
    image: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'ชื่อสินค้า'
    },
    url: {
      type: String,
      default: '/'
    },
    color: {
      type: String,
      default: 'สี'
    },
    price: {
      type: String,
      default: ''
    },
    isNew: {
      type: Boolean,
      default: false
    },
    isSale: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.image {
  width: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
}

.link span {
  transition: 0.15s;
  transform: scale(1);
  &:hover {
    transform: scale(1.1);
  }
}
.product-thumb {
  transition: 0.15s;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.2);
  .image {
    opacity: 0.85;
  }
  &:hover {
    box-shadow: 0px 3px 20px -2px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    .image {
      opacity: 1;
    }
  }
}
.product-thumb.new {
  &::before {
    content: 'New';
    position: absolute;
    background: #069eda;
    margin-top: 20px;
    padding: 8px 10px;
    color: #fff;
  }
}
.product-thumb.sale {
  &::before {
    content: 'Sale';
    position: absolute;
    background: #e83c30;
    margin-top: 20px;
    padding: 8px 10px;
    color: #fff;
  }
}
</style>