<template>
  <div>
    <div class="_w-100pct">
      <div 
        :class="{'_bdbtw-2px': _products.length}" 
        class="row _mgt-16px _mgt-24px-md _mgbt-48px-md _bdcl-gray _bdbtw-0px-md">
        <div class="col-12">
          <Breadcrumb 
            :items="breadcrumb"
          />
          <div 
            v-if="!isSearching" 
            class="_w-100pct _tal-ct _mgbt-16px _mgbt-24px-md _mgt-4px _mgt-12px-md">{{ _products.length }} Items</div>
        </div>
      </div>
      <!-- Mobile Filters and Sorts -->
      <div 
        v-if="_products.length" 
        class="row _dp-n-md _bdcl-gray _bdbtw-2px _bdbtw-0px-md _mgbt-8px">
        <div 
          class="_cs-pt col-6 _dp-f _alit-ct _jtfct-ct _bdcl-gray _bdrw-1px" 
          @click="$modal.show('mobile-filter')">
          <h6 class="_cl-black _ttf-upc _fs-7 _fw-500 _pdv-8px"><fa-icon :icon="['fal', 'filter']"/> Filters</h6>
        </div>
        <div class="col-6 _dp-f _alit-ct _jtfct-ct _bdcl-gray _bdlw-1px">
          <select 
            v-model="sortBy" 
            class="sort-select">
            <option 
              v-for="(item, i) in $store.state.product.sortModes" 
              :key="i" 
              :value="item.slug">
              SORT: {{ item.title }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- Mobile Filter Tags -->
    <div 
      v-if="_products.length" 
      class="container _dp-n-md">
      <div class="row">
        <div class="col-12">
          <!-- colors -->
          <div 
            v-for="(value, key) in filter.colors" 
            v-if="value"
            :key="key"
            class="_dp-ilb"
            @click="filter.colors[key] = false"
          >
            <FilterTag 
              :value="key"
            />
          </div>
          <!-- sizes -->
          <div 
            v-for="(value, key) in filter.sizes" 
            v-if="value"
            :key="key"
            class="_dp-ilb"
            @click="filter.sizes[key] = false"
          >
            <FilterTag 
              :value="key"
              mode="size"
            />
          </div>
        </div>
      </div>
      <!-- Mobile Filter modal -->
      <modal 
        :pivot-y="0.1"
        :adaptive="true" 
        :scrollable="true" 
        name="mobile-filter" 
        classes="modal _ovfy-at _pdbt-32px" 
        width="100%" 
        height="auto">
        <div class="_pdh-12px _pdv-12px">
          <Filters 
            :colors="_colors"
            :sizes="_sizes"
            :filter="filter"
          />
          <button 
            class="bio-button _bgcl-pink _mgt-24px _w-100pct _pdv-12px _bdcl-tpr" 
            @click="$modal.hide('mobile-filter')">DONE</button>
        </div>
      </modal>
    </div>
    <!-- Loading -->
    <div v-if="isSearching">
      <div class="row">
        <div class="col-12 _tal-ct">
          <h5>
            LOADING 
            <fa-icon 
              :icon="['fas', 'spinner']" 
              spin />
          </h5>
        </div>
      </div>
    </div> 
    <!-- Found -->
    <div 
      v-else-if="_products.length" 
      class="container">
      <!-- Desktop -->
      <div class="row">
        <div 
          id="sidebar" 
          class="col-12 col-md-3 _pdbt-64px _dp-n _dp-b-md _ovfx-hd">
          <no-ssr class="_ovfx-hd">
            <affix
              :offset="{ top: 100, bottom: 200 }"
              :scroll-affix="true" 
              class="sidebar-affix"
              relative-element-selector="#sidebar"
            >
              <Filters 
                :colors="_colors"
                :sizes="_sizes"
                :filter="filter"
              />
            </affix>
          </no-ssr>
        </div>
        <div class="col-12 col-md-9 _pdbt-64px">
          <div class="_pst-rlt _dp-n _dp-b-md">
            <div 
              class="_tal-r _cs-pt" 
              @click="isSortOpen = !isSortOpen"
              @mouseout="isSortOpen = false"
            >
              <h6 
                v-if="sortBy" 
                class="_cl-black _fs-6"><fa-icon :icon="['fas', 'sort']"/> Sort: {{ $store.state.product.sortModes.find(s => s.slug === sortBy).title }}</h6>
            </div>
            <div 
              v-if="isSortOpen" 
              class="_pst-asl sortMenu _r-0px _bdtw-8px _bdcl-black _mxw-256px _pdh-24px _zid-1 _bgcl-white" 
              @mouseover="isSortOpen = true" 
              @mouseout="isSortOpen = false">
              <div 
              >
                <nuxt-link 
                  v-for="(x, i) in $store.state.product.sortModes" 
                  :key="i"
                  :to="{query: {
                    sortBy: x.slug
                  }}"
                  class="col-12 _pdv-8px" 
                >
                  <h6 class="_fs-7 _cl-dark _cl-pink-hover _fw-500">{{ x.title }}</h6>
                </nuxt-link>
              </div>
            </div>
          </div>
          <ProductColumnX
            v-if="_products.length"
            :product-list="_products"
            _class="col-6 col-sm-4 col-md-3"
          />
        </div>
      </div>
    </div>
    <!-- Not found -->
    <div 
      v-else 
      class="container">
      <div class="row _jtfct-ct">
        <div class="col col-md-4">
          <div class="_tal-ct">
            <fa-icon 
              :icon="['far', 'frown']"
              size="6x"
            />
            <div class="_mgt-16px _mgbt-64px">
              <h4 class="_ltspc-1px">SORRY</h4>
              <p>We can't find what you are looking for.</p>
            </div>
            <nuxt-link 
              class="_w-100pct" 
              to="/">
              <button class="bio-button _w-100pct _bgcl-tpr _cl-pink">GO TO HOME</button>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductColumnX from '~/components/products/ProductColumnX'
import groupBy from 'lodash/groupBy'
import uniqBy from 'lodash/uniqBy'
import Breadcrumb from '~/components/extras/Breadcrumb'
import Filters from '~/components/products/Filters'
import FilterTag from '~/components/extras/FilterTag'
export default {
  components: {
    Breadcrumb,
    ProductColumnX,
    Filters,
    FilterTag
  },
  props: {
    products: {
      type: Array,
      default: () => []
    },
    breadcrumb: {
      type: Array,
      default: () => []
    },
    isSearching: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    isSortOpen: false,
    sortBy: null,
    filter: {
      colors: {},
      sizes: {}
    },
    isMobileFiltersShowing: false
  }),
  computed: {
    _colors() {
      let _a = []
      this.products.map((p) => _a.push(...p.variations))
      const grouped = groupBy(_a, 'attributes.attribute_pa_color')
      const arr = Object.entries(grouped).map((x) => ({
        color: x[0]
      }))
      return arr
    },
    _sizes() {
      let _a = []
      this.products.map((p) => _a.push(...p.variations))
      const grouped = groupBy(_a, 'attributes.attribute_pa_size')
      const arr = Object.entries(grouped).map((x) => ({
        size: x[0]
      })).sort((a, b) => {
        return this.$store.state.site.sizeSort.indexOf(a.size) - this.$store.state.site.sizeSort.indexOf(b.size)
      })
      return arr
    },
    _products() {
      const products = this.flatten(
        this.products.map((p) =>
          uniqBy(p.variations, 'attributes.attribute_pa_color').map((v) => {
            return {
              slug: p.slug,
              name: p.name,
              date_created: p.date_created,
              ...v,
              attributes: {
                ...v.attributes,
                attribute_pa_size: Array.from(
                  new Set(
                    p.variations.map((x) => x.attributes.attribute_pa_size)
                  )
                )
              }
            }
          })
        )
      )
      // Calculate filtered colors
      let filteredColors = Object.entries(this.filter.colors)
        .filter((x) => x[1])
        .map((y) => y[0])
      // Calculate filtered sizes
      let filteredSizes = Object.entries(this.filter.sizes)
        .filter((x) => x[1])
        .map((y) => y[0])
      //
      let returnColors = products
      let returnSizes = products
      let returnProducts = []
      if (filteredColors.length) {
        returnColors = products.filter(function(e) {
          // console.log(e.attributes.attribute_pa_color) // black √
          return this.indexOf(e.attributes.attribute_pa_color) > -1
        }, filteredColors)
      }
      if (filteredSizes.length) {
        let x = []
        products.forEach((p) => {
          p.attributes.attribute_pa_size.forEach((c) => {
            if (filteredSizes.indexOf(c) > -1) {
              x.push(p)
            }
          })
        })
        if (x.length) {
          returnSizes = x
        }
      }
      returnProducts = returnColors.filter((v) => -1 !== returnSizes.indexOf(v))
      // Sort
      if (this.sortBy) {
        // console.log(this.sortBy)
        switch (this.sortBy) {
          case 'popular':
            return returnProducts.sort(
              (a, b) => a.date_created.date - b.date_created.date
            )
            break
          case 'price-high-low':
            return returnProducts.sort(
              (a, b) => b.display_price - a.display_price
            )
          case 'price-low-high':
            return returnProducts.sort(
              (a, b) => a.display_price - b.display_price
            )
          case 'newest':
            return returnProducts.sort(
              (a, b) => a.date_created.date - b.date_created.date
            )
            break
          default:
            return returnProducts.sort(
              (a, b) => a.date_created.date - b.date_created.date
            )
            break
        }
      }
      return returnProducts
    },
    categoryName() {
      if (this.products[0])
        return this.products[0].category_ids.filter((x) => x.parent === 0)[0]
          .name
      return 'Not found'
    },
    subcategoryName() {
      if (this.products[0])
        return this.products[0].category_ids.filter((x) => x.parent !== 0)[0]
          .name
      return 'Not found'
    },
    isFiltering() {
      return false
    }
  },
  watch: {
    '$route.query': {
      immediate: true,
      deep: true,
      handler: 'extractQuery'
    },
    'filter.colors': {
      deep: true,
      handler() {}
    }
  },
  methods: {
    extractQuery() {
      // Detect sortModes
      let sortModes = this.$store.state.product.sortModes
      this.sortBy =
        (this.$route.query.sortBy && this.$route.query.sortBy) || null
      if (!this.sortBy) {
        this.$router.replace({
          query: {
            ...this.$route.query,
            sortBy: sortModes.find((s) => s.default).slug
          }
        })
      }
      return
    },
    flatten(arr) {
      return Array.prototype.concat(...arr)
    }
  }
}
</script>

<style lang="scss" scoped>
.sort-select {
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  width: 150px;
}
.sortMenu {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.sidebar-affix {
  @media (min-width: 1200px) {
    width: 250px;
  }
  width: 210px;
}
</style>
