<template>
  <div class="card-carousel">
    <div class="card-img">
      <!-- <img :src="currentImage" alt=""> -->
    </div>
    <div class="thumbnails">
      <div 
        v-for="(image, index) in slides"
        :key="index"
        :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
        class="col-3"
        @click="activateImage(index)"
      >
        <img :src="image">
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  props: {
    slides: {
      default: () => [],
      type: Array
    }
  },
  data: () => ({
    activeImage: 0
  })
}
</script>

<style lang="scss" scoped>
</style>
