<template>
  <div class="container">
    <div class="row _mgbt-48px">
      <PageHeading 
        text="Product reviews"
      />
      <div 
        v-scroll-reveal 
        v-for="(item, i) in _collections"
        v-if="item.acf.collection_images"
        :key="i"
        class="col-12 _mgt-24px"
      > 
        <!-- {{ item.acf.collection_images }} -->
        <Collection 
          :image="item.acf.collection_images[0].image"
          :name="item.title.rendered"
          :date="item.date"
          :url="`/collections/${item.slug}`"
          :link-text="`Read this review`"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ContentWithImage from '~/components/content-box/ContentWithImage'
import Collection from '~/components/extras/Collection'
import PageHeading from '~/components/text/PageHeading'

export default {
  components: {
    ContentWithImage,
    PageHeading,
    Collection
  },
  scrollToTop: true,
  async asyncData({ store }) {
    const collections = await store.dispatch('product/getCollection')
  },
  computed: {
    _collections() {
      return this.$store.state.product.collections
    }
  }
}
</script>

<style scoped>
</style>

