<template>
  <div class="container">
    <div class="row _mgbt-48px">
      <PageHeading 
        text="Sale & Promotions"
      />
      <div 
        v-for="(item, i) in _salePromotions"
        :key="i"
        class="col-12 _mgt-24px"
      > 
        <Collection 
          :image="item.acf.image"
          :name="item.title.rendered"
          :date="item.date"
          :url="`sales-promotions/${item.slug}`"
          :link-text="`Shop This Promotion`"
        />
      </div>
    </div>
  </div>
</template>

<script>
import ContentWithImage from '~/components/content-box/ContentWithImage'
import Collection from '~/components/extras/Collection'
import PageHeading from '~/components/text/PageHeading'

export default {
  components: {
    ContentWithImage,
    PageHeading,
    Collection
  },
  async asyncData({ store }) {
    const salePromotions = await store.dispatch('product/getSalePromotions')
  },
  computed: {
    _salePromotions() {
      return this.$store.state.product.salesAndPromotions
    }
  }
}
</script>

<style scoped>
</style>

