<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-md-8">
        <div class="_dp-f _jtfct-ct">
          <div class="_w-64px _h-64px _bdrd-50pct _bgcl-pink _dp-f _jtfct-ct _alit-ct">
            <fa-icon 
              size="2x" 
              class="_cl-white"
              icon="check"/>
          </div>
        </div>
        <!-- Spacer -->
        <div class="_w-32px _bdcl-black _bdtw-4px _mgt-32px _mgbt-32px _mgh-at"/>
        <!-- Order complete -->
        <div>
          <div class="_ttf-upc _tal-ct _lh-150pct _fs-5">
            <span class="_fw-500">Your Order is complete</span>
            <br>
            <span class="_fw-500">Order id: #{{ order.id }}</span>
            <br>
            <span>การสั่งซื้อเสร็จสมบูรณ์</span>
            <br>
            <span class="_fw-500">หมายเลขยืนยันการสั่งซื้อ: #{{ order.id }}</span>
          </div>
          <!-- Line items -->
          <OrderLineItems 
            :items="order.line_items"
            :shipping-total="order.shipping_total"
            :total="order.total"
            class="_mgv-12px _pdv-4px _bdcl-gray _bdtw-1px _bdbtw-1px"
          />
          <!-- If bacs -->
          <div 
            v-if="order.payment_method === 'bacs'" 
            class="_mgt-24px _tal-ct">
            <p>
              Please note that you will need to complete the transaction within 72 hours. Failure to pay will result in the System will automatic cancellation of your order.<br>
              กรุณาโอนเงินเพื่อชำระค่าสินค้าภายในเวลา 72 ชม. หลังจากเวลาที่กำหนด ทางระบบจะดำเนินการยกเลิกการสั่งซื้อโดยอัตโนมัติ
            </p>
            <div class="_mgt-24px">
              <h6 class="_fw-700">ชื่อบัญชีสำหรับการชำระเงิน</h6>
              <p>5Lab Group Co., Ltd.</p>
            </div>
            <div class="row _mgt-24px">
              <div 
                v-for="(item, i) in $store.state.purchase.gateways.find(g => g.id === 'bacs').account_details" 
                :key="i"
                class="col-6 _mgv-8px">
                <div class="_dp-f _alit-ct">
                  <div 
                    v-lazy:background="require(`assets/images/icons/banks/${item.sort_code}.jpg`)" 
                    class="_h-32px _w-32px _bgrp-nrp _bgs-cv _bgpst-ct _bdcl-gray _bdw-4px"/>
                  <div class="_mgl-4px _fs-7">{{ item.sort_code.toUpperCase() }} {{ item.account_number }}</div>
                </div>
              </div>
            </div>
          </div>
          <!-- If PayPal -->
          <div 
            v-if="order.payment_method === 'paypal'" 
            class="_mgt-24px _tal-ct">
            <p>
              Please note that you will need to complete the transaction within 72 hours. Failure to pay will result in the System will automatic cancellation of your order.<br>
              กรุณาโอนเงินเพื่อชำระค่าสินค้าภายในเวลา 72 ชม. หลังจากเวลาที่กำหนด ทางระบบจะดำเนินการยกเลิกการสั่งซื้อโดยอัตโนมัติ
            </p>
            <div class="_mgv-24px">
              <img 
                src="https://managestore.5lab.co/wp-content/uploads/2018/06/paypal.png" 
                alt="PayPal" 
                height="32"
                class="_mgbt-8px">
              <h6 class="_fw-700">บัญชีสำหรับการชำระเงินด้วย ​PayPal</h6>
              <p class="_fw-600">PayPal account: 5LabGroup@gmail.com</p>
            </div>
          </div>
        </div>
        <!-- Spacer -->
        <div class="_w-32px _bdcl-black _bdtw-4px _mgt-32px _mgbt-32px _mgh-at"/>
        <!-- Buttons -->
        <div class="row _jtfct-ct _mgv-24px">
          <div class="col-12 col-md-5 _mgv-8px">
            <nuxt-link :to="`/my-account/orders/${order.id}`">
              <button class="bio-button _w-100pct _bgcl-pink _bdcl-tpr _ttf-upc">
                <span v-if="order.payment_method === 'omise'">Go to my order</span>
                <span v-else>Upload payment slip</span>
              </button>
            </nuxt-link>
          </div>
          <div class="col-12 col-md-5 _mgv-8px">
            <nuxt-link to="/">            
              <div class="bio-button _w-100pct _bgcl-tpr _cl-pink _ttf-upc">Continue shopping</div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrderLineItems from '~/components/purchase/OrderLineItems'
export default {
  components: {
    OrderLineItems,
  },
  async asyncData({ store, params }) {
    store.commit('purchase/SET_STEP', 3)
    const gateways = await store.dispatch('purchase/getPaymentGateways')
    if (gateways) {
      store.commit(
        'purchase/SET_GATEWAYS',
        gateways.filter((x) => x.enabled)
      )
    }
    const order = await store.dispatch(
      'order/getOrder',
      params.id
    )
    return { order }
  },
  data: () => ({
    order: {}
  }),
  validate({ params }) {
    // Check for valid order id
    if (params.id) {
      // Clear Cart
      // store.commit('purchase/CLEAR_CART')
      return true
    }
    return false
  },
  layout: 'checkout'
}
</script>
