<template>
  <div class="container">
    <!-- Back -->
    <div class="row">
      <div class="col-12 _mgbt-16px">
        <nuxt-link 
          to="/checkout" 
          class="bio-link -fancy -dark">
          <fa-icon icon="arrow-circle-left"/>
          Back to shipping
        </nuxt-link>
      </div>
    </div>
    <!-- Payment Methods -->
    <div class="row">
      <div class="col-12 col-md-8">
        <!-- New UI -->
        <div class="_pd-16px _bgcl-white">
          <h5 class="_mgh-12px _fw-500 _mgbt-16px">Select Payment Method</h5>
          <div
            v-for="(x, i) in methods"
            :key="i"
            class="_f-2 _f-2-md tab _pdh-12px _pdv-16px _bdtw-1px _bdcl-neutral-400"
            @click="$router.replace({ query: { method: x.id } })" 
          >
            <div class="bio-radio">
              <input 
                :id="x.id" 
                :checked="$route.query.method === x.id" 
                :name="x.id" 
                type="radio"
              >
              <label :for="x.id">
                <h6 class="_pdl-4px">
                  <span 
                    class="_fw-600" 
                    v-html="x.title"/>
                  <br>
                  <span 
                    class="_fw-500" 
                    v-html="x.description"/>
                </h6>
                <p class="_pdl-4px"/>
              </label>
              <div class="_pdl-32px">
                <BankTransfer 
                  v-if="x.id === 'bacs' && $route.query.method === $store.state.purchase.gateways[0].id" 
                  @pay-bank-transfer="confirmPayBankTransfer"/>
                <CreditCard 
                  v-if="x.id === 'omise' && $route.query.method === 'omise'" 
                  @pay-credit-card="confirmPayCard" />
                <div v-if="x.id === 'paypal' && $route.query.method === 'paypal'">
                  <p>
                    Login to your PayPal account and then complete your payment. please confirm payment in My Order page and attached the transfer details. We will hold your order(s) for 3 days. If no payment is being made, order(s) will be automatically cancelled. 
                    <br>
                    <br>
                    เมื่อคุณชำระจ่ายใช้จ่ายแล้ว กรุณาแจ้งยืนยันการชำระเงินผ่านทางหน้า My Order โดยแนบสลิปหลักฐานการโอนเงินเพื่อยืนยันการสั่งซื้อ เราจะเริ่มดำเนินการส่งสินค้าเมื่อได้รับการโอนเงินเรียบร้อยแล้ว โดยสินค้าที่ไม่ได้รับการชำระเงินภายใน 3 วันหลังจากการสั่งซื้อ ระบบจะทำการยกเลิกโดยอัตโนมัติ
                  </p>
                  <button 
                    class="bio-button _bdw-0px _w-100pct _w-50pct-md _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px"
                    @click="confirmPayPal">
                    <h4 class="_fs-5 _fw-500">
                      Select
                    </h4>
                  </button>
                  <!-- Return policy -->
                  <small class="_cl-dark">By clicking the button above, you are agreeing to our <nuxt-link 
                    target="_blank"
                    class="bio-link" 
                    to="/terms-conditions">terms and conditions</nuxt-link> and <nuxt-link 
                      target="_blank"
                      class="bio-link" 
                      to="/return-policy">return policy</nuxt-link></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <Summary 
          :discountTotal="_discountTotal"
          :subTotal="_subTotal"
          :shippingFee="_shippingFee"
          :totalPrice="_totalPrice"
          :showCountry="false"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.tab-buttons {
  .tab {
    padding: 10px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    &.active {
      border-bottom: 3px solid rgba(0, 0, 0, 0.5);
      font-weight: 700;
    }
  }
}
</style>


<script>
import Summary from '~/components/purchase/Summary'
import BankTransfer from '~/components/purchase/BankTransfer'
import CreditCard from '~/components/purchase/CreditCard'
import urls from '~/services/apiUrl'
// Remove cart
export default {
  components: {
    Summary,
    BankTransfer,
    CreditCard
  },
  async asyncData({ app, store }) {
    // Get payment gateways
    store.commit('purchase/SET_STEP', 2)
    const gateways = await store.dispatch('purchase/getPaymentGateways')
    if (gateways) {
      return store.commit(
        'purchase/SET_GATEWAYS',
        gateways.filter((x) => x.enabled)
      )
    }
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `Checkout - Payment method ${siteTitle}`
    }
  },
  layout: 'checkout',
  computed: {
    methods() {
      return this.$store.state.purchase.gateways
    },
    _subTotal() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals']
            .cart_contents_total
        )
      }
      return 0
    },
    _totalPrice() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].total
        )
      }
      return 0
    },
    _shippingFee() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].shipping_total
        )
      }
      return 0
    },
    _discountTotal () {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].discount_total
        )
      }
      return 0
    },
  },
  watch: {
    '$route.query': {
      handler: 'checkQuery',
      immediate: true
    },
    '$store.state.purchase.cart.cart_contents'() {
      if (!Object.keys(this.$store.state.purchase.cart.cart_contents).length) {
        this.$router.replace({ path: '/' })
      }
    }
  },
  methods: {
    checkQuery() {
      // if (this.$route.query.method && )
      let gws = this.$store.state.purchase.gateways.map((x) => x.id)
      if (gws.indexOf(this.$route.query.method) === -1)
        return this.$router.replace({
          query: { method: '' }
        })
    },
    async pay(cardDetail) {
      // Freeze page
      // console.log(cardDetail)
      const res = await this.$store.dispatch(
        'purchase/payByCreditCard',
        cardDetail
      )
      console.log(res)
      if (res.id && res.data && res.data.customer_id) {
        this.$store.commit('purchase/SET_PURCHASING', false)
        return (window.location.href = `/checkout/payment/${res.id}`)
      }
      this.$store.commit('purchase/SET_PURCHASING', false)
    },
    async confirmPayPal() {
      const x = window.confirm('Confirm payment?')
      if (x === true) {
        this.$store.commit('purchase/SET_PURCHASING', true)
        const res = await this.$store.dispatch('order/createOrder', {
          method: this.$store.state.purchase.gateways.find(
            (g) => g.id === 'paypal'
          )
        })
        if (res.id && res.data && res.data.customer_id) {
          this.$store.commit('purchase/SET_PURCHASING', false)
          return (window.location.href = `/checkout/payment/${res.id}`)
        }
        this.$store.commit('purchase/SET_PURCHASING', false)
      }
    },
    confirmPayCard(cardDetail) {
      const x = window.confirm('Confirm payment?')
      if (x === true) return this.pay(cardDetail)
    },
    async confirmPayBankTransfer() {
      const x = window.confirm('Confirm payment?')
      if (x === true) {
        this.$store.commit('purchase/SET_PURCHASING', true)
        this.isBtnLoading = true
        const res = await this.$store.dispatch('order/createOrder', {
          method: this.$store.state.purchase.gateways.find(
            (g) => g.id === 'bacs'
          )
        })
        // console.log(res)
        this.isBtnLoading = false
        if (res.id && res.data && res.data.customer_id) {
          this.$store.commit('purchase/SET_PURCHASING', false)
          return (window.location.href = `/checkout/payment/${res.id}`)
        }
        this.$store.commit('purchase/SET_PURCHASING', false)
        // Throw error
        console.log(res)
        window.alert('Error payment')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.bio-radio > label:before {
  top: 2px;
  border-color: $pink;
}
.bio-radio > label:after {
  top: 7px;
  background-color: $pink;
  border-color: $pink;
}
</style>
