<template>
  <div class="_w-100pct">
    <ProductListView 
      :products="products"
      :breadcrumb="[
        {
          title: products[0].category_ids.filter((x) => x.parent !== 0)[0]
            .name,
        }
      ]"
    />
  </div>
</template>

<script>
import ProductListView from '~/components/products/ProductListView'
export default {
  name: 'SubcatSlug',
  components: {
    ProductListView
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `${
        this.products[0].category_ids.filter((x) => x.parent !== 0)[0].name
      } ${siteTitle}`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${
            this.products[0].category_ids.filter((x) => x.parent !== 0)[0].name
          } ${siteTitle}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `${this.products[0].category_ids.filter(
            (x) => x.parent === 0
          )[0].name} > ${
            this.products[0].category_ids.filter((x) => x.parent !== 0)[0].name
          }`
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.products && this.products[0].image_id
        }
      ]
    }
  },
  async asyncData({ store, params }) {
    let products = await store.dispatch(
      'product/getProductsFromSubcategorySlug',
      {
        subcatSlug: params.subcatSlug
      }
    )
    if (!products) {
      return { products: [] }
    }
    // products = products.map((_p) => _p.variations)
    return {
      products
    }
  }
}
</script>