<template>
  <div 
    :class="{'just-added': $store.state.purchase.isCartBubbleShowing}" 
    class="badge _bgcl-black _dp-f _pdh-8px _pdv-12px _bdrd-8px _jtfct-ct _alit-ct _bdrd-50pct">
    <span class="_pst-rlt">{{ number }}</span>
  </div>
</template>

<script>
export default {
  props: {
    number: {
      type: Number,
      default: 10
    }
  }
}
</script>

<style lang="scss" scoped>
.badge {
  transform: scale(1);
  transition: 0.25s;
  color: #fff;
  min-width: 12px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  &.just-added {
    transform: scale(3);
  }
}
</style>
