<template>
  <div class="_dp-f _jtfct-ct _alit-ct _fdrt-cl _fdrt-r-md">
    <div 
      v-for="(item, i) in items" 
      :key="i"
      class="_mgv-4px _mgv-0px-md"
    >
      <div class="_dp-f _alit-ct">
        <nuxt-link 
          v-if="item.path" 
          :to="item.path">
          <h4 
            class="_cl-black _ttf-upc _fw-600 _lh-100pct _fs-6 _fs-4-md" 
            v-html="item.title"/>
        </nuxt-link>
        <h4 
          v-else
          class="_cl-black _ttf-upc _fw-600 _lh-100pct _fs-6 _fs-4-md" 
          v-html="item.title"/>
        <fa-icon 
          v-if="i + 1 !== items.length" 
          :icon="['far', 'angle-right']"
          class="_mgh-8px"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [
        {
          title: 'Home',
          path: '/'
        },
        {
          title: 'Test',
          path: '/about-us'
        }
      ]
    }
  }
}
</script>