<template>
  <no-ssr>
    <agile :options="slickOptions">
      <div 
        v-for="(v, i) in slides" 
        :key="i" 
        class="slide"
      >
        <div class="row banner-container bg-white">
          <div class="col-12">
            <div 
              v-lazy:background-image="v.image"
              class="_ratio-2-1 _bgrp-nrp _bgpst-ct"
            />
          </div>
        </div>
      </div>
    </agile>
  </no-ssr>
</template>

<script>
export default {
  props: {
    slides: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      videoUrl: null,
      slickOptions: {},
      left:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M16.2,21c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L9.6,12L17,4.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L6.8,12l8.8,8.7C15.7,20.9,16,21,16.2,21z"/></svg>',
      right:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M7.8,21c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l7.4-7.3L7,4.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l8.8,8.7l-8.8,8.7C8.3,20.9,8,21,7.8,21z"/></svg>'
    }
  },
  mounted() {
    if (process.browser) {
      this.slickOptions = {
        slidesToShow: 1,
        fade: true,
        arrows: true,
        autoplay: false,
        autoplaySpeed: 2000,
        pauseOnHover: true,
        pauseOnDotsHover: true,
        dots: true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.image {
  height: 512px;
  @include breakpoint(mobile) {
    height: 400px;
  }
}
</style>
