<template>
  <div class="row">
    <div class="col-12">
      <div 
        v-lazy:background-image="image" 
        class="_bgrp-nrp _w-100pct _ratio-2-1 _bgpst-ct _mgbt-12px" 
      />
    </div>
    <div class="col-12 _dp-f-md _jtfct-spbtw _mgbt-16px">
      <div>
        <h3
          class="_cl-black _ltspc-2px _fs-4 _lh-150pct"
          v-html="name" 
        />
        <div 
          class="_fs-7 _ltspc-1px"
        >{{ date | moment('DD MMMM YYYY') }}</div>
      </div>
      <div>
        <nuxt-link 
          :to="url"
          class="_cl-pink">
          <div>
            <span>{{ linkText }}
              <fa-icon 
                :icon="['far', 'angle-right']" 
                class="_mgl-8px"
            /></span>
          </div>
        </nuxt-link>
      </div>
      
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'Collection Name'
    },
    date: {
      type: String,
      default: 'Date'
    },
    url: {
      type: String,
      default: '/'
    },
    linkText: {
      type: String,
      default: 'Link'
    }
  }
}
</script>
