<template>
  <div 
    class="_bgcl-gray _cl-black _mgr-12px _pdh-12px _pdv-4px _bdrd-3px _cs-pt _mgv-4px">
    <div class="_fs-7 _dp-f _alit-ct">
      <div class="_fs-4 _mgr-8px">
        <fa-icon 
          :icon="['fal', 'times']" 
          size="xs"/>
      </div>
      <div>{{ $store.state.product.attributes[`pa_${mode}`].find(c => c.slug === value).name }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    mode: {
      type: String,
      default: 'color'
    }
  }
}
</script>
