<template>
  <span>
    {{ _price }}
  </span>
</template>

<script>
export default {
  props: {
    price: {
      type: String,
      default: ''
    }
  },
  computed: {
    _price () {
      const currency = this.$store.state.site.currency
      if (currency === 'THB') {
        const price = parseFloat(this.price).toLocaleString('th-TH', {
          minimumFractionDigits: 0,
          maximumFractionDigits: 0
        })
        return `${price} ฿`
      } else {
        const price = parseFloat(this.price/this.$store.state.site.usdthb).toLocaleString('en-US', {
          minimumFractionDigits: 0,
          maximumFractionDigits: 0
        })
        return `$ ${price}`
      }
    }
  }
}
</script>
