<template>
  <div class="_bgcl-white">
    <div class="row">
      <div class="col-12">
        <form 
          class="_pdh-12px _bdtw-4px _bdbtw-4px _bdlw-4px-md _bdrw-4px-md _dp-f _jtfct-spbtw" 
          @submit.prevent="submit">
          <div class="bio-input _f-5">
            <input 
              v-model="searchKeyword" 
              type="text"
              placeholder="Search our product"
              class="_bdw-0px _fs-5 _h-48px _pd-0px"
              maxlength="40"
              minlength="3"
            >
          </div>
          <button 
            class="bio-button _bgcl-tpr _bdw-0px _cl-pink _f-1 _tal-r _pdr-0px" 
            type="submit">
            <fa-icon 
              :icon="['fal', 'search']" 
              size="lg"/>
          </button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 _pdt-16px-md">
        <nuxt-link 
          v-for="(item, i) in $store.state.menu.searchMenu"
          :key="i" 
          :to="item.path"
          class="_pdh-16px _pdv-16px _pdv-8px-md _dp-f _w-100pct _jtfct-spbtw _jtfct-ct-md _alit-ct _bdbtw-1px _bdcl-gray _bdcl-tpr-md _cl-neutral-800 _cl-pink-hover">
          <div>
            {{ item.title }}
          </div>
          <div class="_dp-b _dp-n-md">
            <fa-icon :icon="['far', 'angle-right']"/>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    searchKeyword: ''
  }),
  methods: {
    async submit() {
      return this.$router.push({
        path: '/product/search',
        query: {
          q: this.searchKeyword
        }
      })
    }
  }
}
</script>


<style lang="scss" scoped>
@import 'assets/styles/variables';
form {
  border-color: $pink;
  button {
    outline: none !important;
  }
}

.bio-input input {
  box-shadow: none !important;
}
</style>
