<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-sm-10">
        <div class="_dp-f _alit-ct _mgbt-24px">
          <div class="_f-1"/>
          <div class="_f-3">
            <PageHeading 
              text="Size Chart"
            />
          </div>
          <div class="_f-1 _tal-r _pdt-24px _pdbt-12px _pdt-32px-md">
            <div 
              v-if="isModal"
              class="_dp-ilb _cs-pt" 
              @click="$modal.hide('size-chart')">
              <fa-icon 
                :icon="['fal', 'times']" 
                class="_cl-black"
                size="2x"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-4">
            <div>
              <div 
                v-lazy:background-image="require(`~/assets/images/size-chart.jpg`)" 
                class="_bgrp-nrp _bgpst-t _bgs-cv _w-100pct image"
              />
            </div>
          </div>
          <div class="col-12 col-sm-8">
            <div class="_ttf-upc _lh-150pct _mgt-12px _mgt-0px-md">
              REGULAR SIZE CHART
            </div>
            <div class="_fs-8">
              All sizes displayed in inches
            </div>
            <table class="_ttf-upc _mgv-16px _bdw-1px _w-100pct _tal-ct tbl-size-chart">
              <tr>
                <th>Size</th>
                <th>Bust</th>
                <th>Under Bust</th>
                <th>Natural Waist</th>
                <th>Hips</th>
              </tr>
              <tr
                v-for="(s, i) in regularSize" 
                :key="i"
              >
                <td>{{ s.size }}</td>
                <td>{{ s.bust }}</td>
                <td>{{ s.underBust }}</td>
                <td>{{ s.naturalWaist }}</td>
                <td>{{ s.hips }}</td>
              </tr>
            </table>
            <div class="_ttf-upc _lh-150pct">
              5Lab Size Conversion Chart
            </div>
            <table class="_ttf-upc _mgv-16px _bdw-1px _w-100pct _tal-ct tbl-size-chart">
              <tr>
                <th>Size</th>
                <th>Us</th>
                <th>Eu</th>
                <th>Uk</th>
              </tr>
              <tr
                v-for="(ps, i) in clothSize" 
                :key="i"
              >
                <td>{{ ps.size }}</td>
                <td>{{ ps.us }}</td>
                <td>{{ ps.eu }}</td>
                <td>{{ ps.uk }}</td>
              </tr>
            </table>

            <div class="measure">
              <h5 class="_ttf-upc _lh-150pct _mgv-24px">
                How to Measure
              </h5>
              <div class="_mgbt-32px">
                <h6 class="_fw-500">Bust/Chest</h6>
                With arms relaxed down at the sides, measure the fullest part of bust/chest, keeping tape parallel to floor.
              </div>
              <div class="_mgbt-32px">
                <h6 class="_fw-500">Waist</h6>
                Measure around your natural waistline, which is the smallest area of the waist.
              </div>
              <div class="_mgbt-32px">
                <h6 class="_fw-500">Hips</h6>
                Stand with feet together. Keeping tape straight and parallel to the floor, measure around fullest part.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'

export default {
  components: {
    PageHeading
  },
  props: {
    isModal: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    regularSize: [
      {
        size: `XS`,
        bust: `31`,
        underBust: `27`,
        naturalWaist: `23.5`,
        hips: `33`
      },
      {
        size: `S`,
        bust: `33`,
        underBust: `28`,
        naturalWaist: `25.5`,
        hips: `35.5`
      },
      {
        size: `M`,
        bust: `35`,
        underBust: `29`,
        naturalWaist: `27.5`,
        hips: `37`
      },
      {
        size: `L`,
        bust: `37`,
        underBust: `29.5`,
        naturalWaist: `28.5`,
        hips: `39`
      },
      {
        size: `XL`,
        bust: `39`,
        underBust: `30`,
        naturalWaist: `30.5`,
        hips: `41`
      }
    ],
    clothSize: [
      {
        size: `XS`,
        us: `US 0`,
        eu: `EU 34`,
        uk: `UK 4`
      },
      {
        size: `S`,
        us: `US 2`,
        eu: `EU 36`,
        uk: `UK 6`
      },
      {
        size: `M`,
        us: `US 4`,
        eu: `EU 38`,
        uk: `UK 8`
      },
      {
        size: `L`,
        us: `US 6`,
        eu: `EU 40`,
        uk: `UK 10`
      },
      {
        size: `XL`,
        us: `US 8`,
        eu: `EU 42`,
        uk: `UK 12`
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
.tbl-size-chart {
  border: 1px solid #000;
  tr {
    font-size: 0.8rem;
    font-weight: 400;

    th {
      background-color: #000;
      padding: 15px 0;
      color: #ffffff;
    }
    td {
      padding: 10px 0;
      width: 20%;
      border-right: 1px solid #000;
    }
  }
  border-collapse: collapse;
}
.measure {
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  margin: 30px 0;
}
.image {
  height: 380px;
}
</style>
