<template>
  <div 
    :class="{'_h-at': slides.length, '_h-256px _bgcl-gray': !slides.length}" 
    class="">
    <no-ssr v-if="slides.length">
      <agile 
        :option="slickOptions"
        speed="1000" 
        timing="ease-in-out">
        <div
          v-for="(v, i) in slides" 
          :key="i" 
          class="slide">
          <div class="row banner-container bg-white">
            <a 
              :href="v.button.url" 
              class="col-12">
              <div 
                v-lazy:background-image="v.image"
                class="_bgrp-nrp _bgpst-ct _ratio-2-1"
              />
            </a>
            <div class="col-12 _dp-b _dp-n-md _pdv-16px">
              <div class="_mgh-16px">
                <div 
                  class="_cl-black _fs-4 _lh-125pct  _fw-300" 
                  v-html="v.header"/>
                <a 
                  v-if="v.button"
                  :href="v.button.url" 
                  class="bio-button _f-msr _ttf-upc _mgt-12px _bdcl-black _cl-white _bgcl-black _dp-ilb _pdh-24px ">
                  <span>
                    {{ v.button.title }}
                  </span>
                  <fa-icon 
                    :icon="['fas', 'arrow-circle-right']" 
                    class="_mgl-12px"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </agile>
    </no-ssr>
  </div>
</template>

<script>
export default {
  props: {
    slides: {
      default: () => [],
      type: Array
    }
  },
  data() {
    return {
      videoUrl: null,
      slickOptions: {},
      left:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M16.2,21c0.3,0,0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L9.6,12L17,4.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L6.8,12l8.8,8.7C15.7,20.9,16,21,16.2,21z"/></svg>',
      right:
        '<svg x="0px" y="0px" viewBox="0 0 24 24"><path d="M7.8,21c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l7.4-7.3L7,4.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l8.8,8.7l-8.8,8.7C8.3,20.9,8,21,7.8,21z"/></svg>'
    }
  },
  mounted() {
    if (process.browser) {
      this.slickOptions = {
        slidesToShow: 1,
        arrows: true,
        autoplay: true,
        speed:1000,
        infinite:true,
        pauseOnHover: true,
        pauseOnDotsHover: true,
        dots: true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.slide-image {
  padding-top: 50%;
}


</style>
