<template>
  <div class="_mgl-12px-md">
    <div 
      v-if="hasText" 
      class="_pst-rlt _h-48px _dp-n _dp-b-md">
      <span class="shareText _pst-asl _fs-7 _cl-black _ttf-upc _ltspc-2px _l-0px">Share</span>
    </div>
    <!-- AddToAny BEGIN -->
    <div 
      class="a2a_kit _dp-f _dp-b-md a2a_kit_size_32 a2a_default_style share-parent" 
      data-a2a-icon-color="white,dimgrey">
      <a class="a2a_button_facebook"/>
      <a class="a2a_button_facebook_messenger"/>
      <a class="a2a_button_line"/>
      <a class="a2a_button_email"/>
    </div>
    <script 
      async 
      src="https://static.addtoany.com/menu/page.js"/>
      <!-- AddToAny END -->
  </div>
</template>

<script>
export default {
  props: {
    hasText: {
      type: Boolean,
      default: true
    },
    fbUrl: {
      type: String,
      default: '#'
    },
    fbMessagerUrl: {
      type: String,
      default: '#'
    },
    mailUrl: {
      type: String,
      default: '#'
    },
    lineUrl: {
      type: String,
      default: '#'
    }
  }
}
</script>

<style lang="scss" scoped>
.shareText {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 36px;
}
.share-parent {
  a {
    margin: 5px 0px;
  }
}
</style>