<template>
  <div class="row">
    <div class="col-12 col-md-6">
      <!-- <div>
        <div 
          v-lazy:background-image="image" 
          class="_ratio-50 _bgrp-nrp _bgs-cv _w-100pct image _bgpst-ct" 
        />
      </div> -->
      <iframe 
        :src="`https://maps.google.com/maps?q=${lat},${lng}&hl=th;z=14&amp;output=embed`" 
        style="border: 0;" 
        width="100%" 
        height="300" 
        frameborder="0" 
        allowfullscreen="allowfullscreen"
      />
      <!-- Button -->
      <!-- <button 
        class="bio-button _bgcl-pink _w-100pct _mgt-16px _bdw-0px"
        @click="$modal.show('store-location-map', { lat, lng })" 
      >
        <h6 class="_ttf-upc _cl-white _tal-ct">
          Store Map
        </h6>
      </button> -->
    </div>
    <div class="col-12 col-md-6">
      <h3  
        class="_fs-6 _fw-700 _ttf-upc _cl-black _ltspc-1px"
        v-html="name" /> 
      <div
        class="_mgt-0px _mgt-64px-md _lh-150pct"
        v-html="address"/>
      <div class="_mgt-32px">
        (Opening hours: <span v-html="openHour"/>)
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: 'Location'
    },
    address: {
      type: String,
      default: 'Address'
    },
    openHour: {
      type: String,
      default: '10 am'
    },
    url: {
      type: String,
      default: '/'
    },
    lat: {
      type: String,
      default: '0.00'
    },
    lng: {
      type: String,
      default: '0.00'
    }
  }
}
</script>