<template>
  <nuxt-link 
    :to ="url"
    class="link _tal-l">
    <h6  
      class="_fs-6 _lh-150pct _cl-pink "
    >
      {{ text }}
    </h6>
  </nuxt-link>
</template>

<script>
  export default {
    props: {
      text: {
        type: String,
        default: 'Show all ...',
      },
      url: {
        type: String,
        default: '/'
      },
      
    }
  }
</script>

<style lang="scss" scoped>

</style>