<template>
  <div class="_w-100pct">
    <ProductListView 
      :products="featuredProducts"
      :breadcrumb="[
        {
          title: 'Our Best Sellers'
        },
      ]"
    />
  </div>
</template>

<script>
import ProductListView from '~/components/products/ProductListView'
export default {
  components: {
    ProductListView
  },
  async asyncData({ store }) {
    const promises = [store.dispatch('product/getFeaturedProducts')]
    const [featuredProducts] = await Promise.all(promises)
    //console.log(collections)
    return {
      featuredProducts
    }
  }
}
</script>