<template>
  <div class="_w-100pct">
    <ProductListView 
      :is-searching="isSearching"
      :products="products"
      :breadcrumb="[
        {
          title: 'Search',
        },
        {
          title: $route.query.q,
        }
      ]"
    />
  </div>
</template>

<script>
import ProductListView from '~/components/products/ProductListView'
export default {
  components: {
    ProductListView
  },
  data: () => ({
    products: [],
    isSearching: true
  }),
  // validate({ query }) {
  //   return query.q && query.q.length > 2
  // },
  watch: {
    '$route.query.q': {
      immediate: true,
      handler: 'search'
    }
  },
  methods: {
    async search() {
      this.isSearching = true
      this.products = []
      const products = await this.$store.dispatch(
        'product/getProductsFromSearch',
        {
          q: this.$route.query.q
        }
      )
      this.isSearching = false
      return (this.products = products)
    }
  }
}
</script>
