<template>
  <div class="_mgt-48px">
    <div 
      v-scroll-reveal 
      class="row _alit-ct">
      <div class="col-12 col-md-6">
        <div
          v-lazy:background-image="topLeftImage" 
          class="_ratio-1-1 _bgrp-nrp " 
        />
      </div>
      <div class="col-12 col-md-6">
        <div 
          class="_pdt-24px _pdt-0px-md _lh-150pct _f-qs" 
          v-html="topLeftDescription"
        />
      </div>
    </div>
    <div 
      v-scroll-reveal 
      class="row">
      <div class="col-12 col-md-6 _dp-f _fdrt-cl _jtfct-fe">
        <div 
          class="_mgv-24px _lh-150pct _ttf-upc _fs-5 _fw-700 _ltspc-1px _cl-black _tal-r" 
          v-html="bottomLeftDescription"/>
        <div 
          v-if="isCollection" 
          class="_mgt-48px-md">
          <nuxt-link 
            :to="`/product/collection/${$route.params.slug}`"
            class="link _tal-l">
            <h6  
              class="_fs-4 _lh-100pct _fw-700 _cl-pink _ttf-upc _ltspc-1px _pdv-4px"
            >
              Shop Related <span class="_dp-ilb">Product 
                <fa-icon 
                  :icon="['far', 'angle-right']" 
                  class="_mgl-8px"
                />
              </span>
            </h6>
          </nuxt-link>
        </div>
        <div 
          class="_tal-r _w-100pct _bdbtw-4px _bdcl-black _ltspc-1px _fw-600 _cl-black _mgbt-32px"
        />
      </div>
      <div class="col-12 col-md-6">
        <div
          v-lazy:background-image="bottomLeftImage" 
          class="_ratio-3-4 _bgrp-nrp _bgs-ct _bgpst-tr _mgbt-32px" 
        />
      </div>
      <div class="col-12 _mgv-32px">
        <div
          v-lazy:background-image="middleRightImage" 
          class="_bgrp-nrp _ratio-4-3 _bgpst-ct" 
        />
      </div>
      <div class="col-12">
        <div 
          class="_f-qs _lh-150pct" 
          v-html="middleRightDescription"/>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'

export default {
  components: {
    PageHeading
  },
  props: {
    topLeftImage: {
      type: String,
      default: ''
    },
    topLeftDescription: {
      type: String,
      default: 'Description ...'
    },
    bottomLeftImage: {
      type: String,
      default: ''
    },
    bottomLeftDescription: {
      type: String,
      default: 'Description ...'
    },
    middleRightImage: {
      type: String,
      default: ''
    },
    middleRightDescription: {
      type: String,
      default: 'Description ...'
    },
    isCollection: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.middle-right-image {
  height: 1024px;
}
</style>
