<template>
  <div class="_pdt-24px">
    <!-- Image -->
    <div class="row _alit-ct">
      <div class="col-12 col-md-3 _dp-f _jtfct-ct _mgbt-16px _mgbt-0px-md">
        <div 
          v-lazy:background-image="image" 
          class="icon-image _ratio-50 _bgrp-nrp _bgpst-ct _w-128px _h-128px" 
        />
      </div>
      <div class="col-12 col-md-9">
        <h2 
          class="_cl-pink _fs-4" 
          v-html="heading" />
        <p 
          class="_fs-6 _cl-black" 
          v-html="text" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      default: ''
    },
    heading: {
      type: String,
      default: 'Heading'
    },
    text: {
      type: String,
      default: 'Content...'
    }
  }
}
</script>