<template>
  <div>
    <h6
      v-if="title"
      class="_fw-700 _lh-125pct _cl-pink _ltspc-1px _fs-5 _mgbt-8px _ttf-upc" 
      v-html="title"/>
    <div 
      class="_fs-7 _cl-dark _lh-150pct _f-qs" 
      v-html="text" />
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: null
    },
    text: {
      type: String,
      default: 'ข้อความ'
    }
  }
}
</script>