<template>
  <div class="container">
    <!-- Image -->
    <div class="row">
      <div class="col-12">
        <div class="content-box _bdw-1px">
          <nuxt-link :to="url">
            <div 
              v-lazy:background-image="image" 
              class="_ratio-50 _bgrp-nrp _bgs-cv _w-100pct image" 
            />
          </nuxt-link>
          <div class="_pd-16px">
            <h2 
              class="_cl-pink _fs-5 _fw-500 _lh-125pct" 
              v-html="title" />
            <span class="_fs-7">{{ date | moment('DD/MM/YYYY') }}</span>
            <p 
              class="_fs-7 _mgt-16px" 
              v-html="text" />
          </div>
          <div>
            <div class="_dp-f _bdtw-1px _jtfct-ct _alit-ct _h-48px">
              <div class="_f-1 _tal-ct">
                <a 
                  :class="{'active': isShowing}" 
                  href="#" 
                  class="_tal-ct btn-share" 
                  @click="isShowing = !isShowing">
                  <fa-icon 
                    :icon="['far', 'share-alt']" 
                    class="_fs-4"/>
                </a>
              </div>
              
              <nuxt-link 
                v-if="!isShowing"
                :to="url"
                class="_f-4 _bgcl-pink _cl-white _tal-ct _h-100pct _dp-f _jtfct-ct _alit-ct _ttf-upc">
                <div>
                  <h6>Read More &nbsp;
                    <fa-icon 
                      :icon="['far', 'angle-right']" 
                    />
                  </h6>
                </div>
              </nuxt-link>
              <div 
                v-if="isShowing" 
                class="_f-4 _bdlw-1px _h-100pct _dp-f _alit-ct socials">
                <SocialShare 
                  :has-text="false"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SocialShare from '~/components/extras/SocialShare'
export default {
  components: {
    SocialShare
  },
  props: {
    image: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: 'Title'
    },
    text: {
      type: String,
      default: '...'
    },
    date: {
      type: String,
      default: 'Date'
    },
    url: {
      type: String,
      default: '/'
    }
  },
  data: () => ({
    isShowing: false
  }),
}
//
</script>

<style lang="scss" scoped>
.image {
  max-height: 215px;
}
.btn-share {
  color: #000000;
}
.active {
  color: #f25c8d;
}
</style>