<template>
  <no-ssr class="_mgt-24px">
    <div class="collection-showcase row _dp-f _jtfct-ct">
      <div class="col-12 col-md-10">
        <div class="row">
          <div class="col-md-6">
            <Headline 
              :text="title"
            />
          </div>
          <div class="col-12">
            <!-- Desktop 0, 2, 1 -->
            <div class="row _alit-ct _dp-n _dp-f-md">
              <div 
                ref="collectionSection" 
                class="showcase-box col-12 col-md-6 _mgt-24px">
                <!-- 1 -->
                <div 
                  v-scroll-reveal 
                  class="_mgbt-32px-md _pdh-16px">
                  <nuxt-link :to="`/collections/${content[0].slug}`">
                    <div 
                      v-lazy:background-image="content[0].image" 
                      class="image _ratio-1-1"
                    />
                    <ContentBox
                      :title="content[0].title"
                      :text="content[0].shortDescription"
                      class="_pdt-12px _pdbt-24px _w-60pct-md _w-100pct"
                    />
                  </nuxt-link>
                </div>
                <div 
                  v-scroll-reveal 
                  class="_pdh-16px">
                  <!-- 3 -->
                  <nuxt-link 
                    v-if="content[2]" 
                    :to="`/collections/${content[2].slug}`">
                    <div 
                      v-lazy:background-image="content[2].image" 
                      class="image _ratio-1-1"
                    />
                    <ContentBox
                      :title="content[2].title"
                      :text="content[2].shortDescription"
                      class="_pdt-12px _pdbt-24px _w-60pct-md _w-100pct"
                    />
                  </nuxt-link>
                </div>
              <!-- Right column -->
              </div>
              <div 
                v-scroll-reveal 
                class="showcase-box col-12 col-md-6 _pdh-16px">
                <!-- 2 -->
                <nuxt-link 
                  v-if="content[1]" 
                  :to="`/collections/${content[1].slug}`">
                  <div 
                    v-lazy:background-image="content[1].image" 
                    class="image _ratio-1-1"
                  />
                  <ContentBox
                    :title="content[1].title"
                    :text="content[1].shortDescription"
                    class="_pdt-12px _pdbt-24px _w-60pct-md _w-100pct _f-r _tal-l _tal-r-md"
                  />
                </nuxt-link>
              </div>
            </div>
            <!-- Mobile 0, 1, 2 -->
            <div class="row _alit-ct _dp-f _dp-n-md">
              <div 
                ref="collectionSection" 
                class="showcase-box col-12 col-md-6 _mgt-24px">
                <!-- 1 -->
                <div 
                  v-scroll-reveal 
                  class="_mgbt-32px-md">
                  <nuxt-link :to="`/collections/${content[0].slug}`">
                    <div 
                      v-lazy:background-image="content[0].image" 
                      class="image _ratio-1-1"
                    />
                    <ContentBox
                      :title="content[0].title"
                      :text="content[0].shortDescription"
                      class="_pdt-12px _pdbt-24px _w-60pct-md _w-100pct"
                    />
                  </nuxt-link>
                </div>
                <div v-scroll-reveal>
                  <!-- 3 -->
                  <nuxt-link 
                    v-if="content[1]" 
                    :to="`/collections/${content[1].slug}`">
                    <div 
                      v-lazy:background-image="content[1].image" 
                      class="image _ratio-1-1"
                    />
                    <ContentBox
                      :title="content[1].title"
                      :text="content[1].shortDescription"
                      class="_pdt-12px _pdbt-24px _w-60pct-md _w-100pct"
                    />
                  </nuxt-link>
                </div>
              <!-- Right column -->
              </div>
              <div 
                v-scroll-reveal 
                class="showcase-box col-12 col-md-6">
                <!-- 2 -->
                <nuxt-link 
                  v-if="content[2]" 
                  :to="`/collections/${content[2].slug}`">
                  <div 
                    v-lazy:background-image="content[2].image" 
                    class="image _ratio-1-1"
                  />
                  <ContentBox
                    :title="content[2].title"
                    :text="content[2].shortDescription"
                    class="_pdt-12px _pdbt-24px _w-60pct-md _w-100pct _f-r _tal-l _tal-r-md"
                  />
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </no-ssr>
</template>

<script>
import ContentBox from '~/components/content-box/ContentBox'
import Headline from '~/components/text/Headline'
export default {
  components: {
    ContentBox,
    Headline
  },
  props: {
    title: {
      default: '',
      type: String
    },
    content: {
      default: () => [],
      type: Array
    }
  },
  created () {
    // if (process.browser) {
    //   let yPos = this.$refs.collectionSection.getBoundingClientRect().y
    //   window.addEventListener('scroll', (e) => {
    //     if (window.scrollY + window.innerHeight >= yPos) {
    //       this.scrollAmount = window.scrollY + window.innerHeight - yPos
    //     }
    //   })
    // }
  },
}
</script>

<style lang="scss" scoped>
.image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
</style>
