<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="_pdv-16px _mgbt-24px _pdh-16px _bgcl-white">
          <!-- ที่อยู่สำหรับจัดส่ง -->
          <Accordion 
            :force-show="true">
            <h5 
              slot="title" 
              v-html="`Shipping`"/>
            <div slot="content">
              <BillingAndShippingForm 
                @success="updateAddressSuccess"
              />
            </div>
          </Accordion>
        </div>
      </div>
      <!-- Summary -->
      <div class="col-12 col-md-4 _mgbt-48px order-first order-md-last">
        <Summary
          :discountTotal="_discountTotal"
          :subTotal="_subTotal"
          :shippingFee="_shippingFee"
          :totalPrice="_totalPrice"
          :showCountry="false"
        />
        <!-- Coupon -->
        <no-ssr v-if="false">
          <form @submit.prevent.stop="applyPromo">
            <div class="_bdcl-black-hover _pdbt-16px _bdbtw-4px">
              <h6 class="_fw-700 _pdbt-0px">Promo code:</h6>
              <float-label>
                <input 
                  v-validate="{max: 15}"
                  v-model="couponCode"
                  maxlength="15"
                  required="true"
                  name="couponCode"
                  type="text" 
                  placeholder="Please enter promo code (optional)">
              </float-label>
              <button 
                :class="{'-loading -disabled': isPromoBtnLoading}"
                :disabled="isPromoBtnLoading"
                type="submit" 
                class="bio-button _bdw-0px _w-100pct _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px">
                <h4 class="_fs-5 _fw-500">
                  Apply
                </h4>
              </button>
            </div>
          </form>
        </no-ssr>
        <!-- Login for faster checkout -->
        <nuxt-link 
          v-if="!$store.state.auth.user" 
          to="/login?redirect=/checkout">
          <button 
            class="bio-button _bdw-0px _w-100pct _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px">
            <h4 class="_fs-5 _fw-500">
              Login for faster checkout
            </h4>
          </button>
        </nuxt-link>
      </div>
    </div>
    <!-- รายการสินค้า -->
    <!-- ข้อมูลการจัดส่ง -->
    <!-- ตำแหน่งและวิธีการจัดส่ง -->
    <!-- ส่วนลด/ชำระเงิน -->
  </div>
</template>

<script>
import Accordion from '~/components/extras/Accordion'
import PurchaseItem from '~/components/purchase/PurchaseItem'
import BillingAndShippingForm from '~/components/forms/BillingAndShippingForm'
import Summary from '~/components/purchase/Summary'
// import pkg from '~/package'
export default {
  components: {
    Accordion,
    PurchaseItem,
    BillingAndShippingForm,
    Summary
  },
  data: () => ({
    couponCode: '',
    isPromoBtnLoading: false
  }),
  async asyncData({ store }) {
    store.commit('purchase/SET_STEP', 1)
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `Checkout ${siteTitle}`
    }
  },
  layout: 'checkout',
  scrollToTop: true,
  computed: {
    _discountTotal () {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].discount_total
        )
      }
      return 0
    },
    _subTotal() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals']
            .cart_contents_total
        )
      }
      return 0
    },
    _totalPrice() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].total
        )
      }
      return 0
    },
    _shippingFee() {
      if (this.$store.state.purchase.cart['\u0000*\u0000totals']) {
        return parseFloat(
          this.$store.state.purchase.cart['\u0000*\u0000totals'].shipping_total
        )
      }
      return 0
    },
    _totalQuantity() {
      const reducer = (a, c) => a + c
      if (!Object.keys(this.$store.state.purchase.cart.cart_contents).length)
        return 0
      return Object.values(this.$store.state.purchase.cart.cart_contents)
        .map((x) => (x = x.quantity))
        .reduce(reducer)
    }
  },
  watch: {
    '$store.state.purchase.cart.cart_contents'() {
      if (!Object.keys(this.$store.state.purchase.cart.cart_contents).length) {
        this.$router.replace({ path: '/' })
      }
    }
  },
  async mounted () {
    // this.$modal.show('dialog', {
    //   title: 'WARNING! 5Lab Store IS STILL IN DEVELOPMENT',
    //   text: 'YOUR PAYMENT WILL NOT BE PROCESSED IN ANY CASE. DO NOT BUY IF YOU ARE NOT AN ADMIN.<br><br> WE ARE SORRY FOR YOUR INCONVENIENCE.',
    //   buttons: [
    //     {
    //       title: 'Close'
    //     }
    //   ]
    // })
    await setTimeout(() => {
      const cc = this.$store.state.auth.customer.shipping.country || 'TH'
      this.$store.dispatch('purchase/setCustomerCountry', cc)
    }, 500)
  },
  methods: {
    async updateAddressSuccess() {
      // return this.$router.push('/checkout/payment')
      return window.location.href = '/checkout/payment'
    },
    async applyPromo () {
      const code = this.couponCode || ''
      const res = await this.$store.dispatch('product/applyCoupon', code)
      if (!res) {
        this.$toast.show(`The promo code is invalid. Please try again.`).goAway(3500)
      }
      return this.$store.commit('purchase/SET_CART_CONTENT', res)
    }
  },
}
</script>