<template>
  <div class="_w-100pct">
    <ProductListView 
      :products="products"
      :breadcrumb="[
        {
          title: 'COLLECTIONS',
          path: '/collections'
        },
        {
          title: `${collection.title.rendered}`
        },
      ]"
    />
  </div>
</template>

<script>
import ProductListView from '~/components/products/ProductListView'
export default {
  scrollToTop: true,
  components: {
    ProductListView
  },
  async asyncData({ store, params }) {
    const promises = [
      store.dispatch(
        'product/getIndividualCollectionSlug',
        {
          collectionSlug: params.slug
        }
      ),
      store.dispatch(
        'product/getProductsByCollectionSlug', {
          collectionSlug: params.slug
        }
      )
    ]
    const [ collection, products ] = await Promise.all(promises)
    return {
      collection: collection[0],
      products
    }
  }
}
</script>