/* Agile */

.agile {
  &__track {
    align-items: flex-start !important;
  }
  &__dots {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    margin-top: 20px !important;
    padding: 0;
    text-align: center;
    white-space: nowrap;
  }
  &__arrow {
    position: absolute;
    background: none;
    opacity: 0.5;
    bottom: -12px;
    border: none;
    cursor: pointer;
    svg {
      width: 24px;
    }
    &--prev {
      left: 0px;
    }
    &--next {
      right: 0px;
    }
  }
  &__dot {
    margin: 0 8px;
    button {
      background-color: #CACACA;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      height: 8px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      transition-duration: .3s;
      width: 8px;
      padding: 0px;
      &:hover {
        background-color: #000000;
      }
    }
    &--current {
      button {
        background-color: #000000;
      }
    }
  }
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #000000;
}
