body {
  overflow-x: hidden !important;
  font-weight: 400;
}

[lazy] {
  // transition: all 0.15s, background-size 0s !important;
}

[lazy=loading] {
  background-size: 150px !important;
  background-color: $light-grey;
  background-position: center center !important;
}

[lazy=loaded] {
  opacity: 1;
  background-size: cover;
  transition: none;
}

p {
  font-family: 'Noto Serif', -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

._cs-pt {
  user-select: none !important;
}

.bio-button.-loading:after {
  top: calc(50% - 0.5em + 0px) !important;
}

.page-enter-active,
.page-leave-active {
  transition: .2s;
  margin-top: 0px;
}

.page-enter,
.page-leave-to {
  opacity: 0;
  margin-top: 20px;
}

.bio-checkbox:not(.-switch)>label:after {
  height: 7px;
  width: 12px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  line-height: 1.4em;
}

::-moz-placeholder {
  /* Firefox 19+ */
  line-height: 1.4em;
}

:-ms-input-placeholder {
  /* IE 10+ */
  line-height: 1.4em;
}

:-moz-placeholder {
  /* Firefox 18- */
  line-height: 1.4em;
}

select {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}

select::-ms-expand {
  display: none;
}

input:not([type="radio"]):not([type="checkbox"]) {
  -webkit-appearance: none;
  border-radius: 0;
}
