@import 'assets/styles/variables';
@import 'assets/styles/biomatic.full.min.scss';
@import 'assets/styles/_grid.scss';
@import 'assets/styles/_embed.scss';
@import 'assets/styles/default';
@import 'assets/styles/agile';
@import 'assets/styles/float-label';
@import 'assets/styles/offline-theme-chrome.css';
@import 'assets/styles/offline-language-english.css';
// https://github.com/FortAwesome/vue-fontawesome/issues/14
@import '@fortawesome/fontawesome/styles.css';
/* Begin your default styles here */

ins {
  text-decoration: none;
  font-weight: 500;
  color: $pink; // display: block;
  line-height: 1em;
  margin-left: 4px;
}

body{
  font-family: 'Montserrat';
  background-color: $light-grey;
}



._f-qs {
  font-family: 'Montserrat';
}

._f-msr {
  font-family: 'Montserrat';
}

.reverse-row {
  @include breakpoint(mobile) {
    flex-direction: column-reverse; // overflow-y: scroll;
  }
}

.bio-button {
  outline: none !important;
}

.min-height-100vh {
  min-height: calc(100vh - 100px); // background: rgba(0, 0, 0, 0.02);
}

.min-height-80vh {
  min-height: calc(80vh - 80px); // background: rgba(0, 0, 0, 0.02);
}

._cl-blue {
  color: $blue !important;
}

._cl-purple {
  color: $purple !important;
}

._cl-magenta {
  color: $magenta;
}

._cl-light-purple {
  color: $light-purple !important;
}

._cl-dark-aqua {
  color: $dark-aqua !important;
}

._bgcl-aqua {
  background-color: $aqua !important;
}

._bgcl-blue {
  background-color: $blue !important;
}

._bgcl-lightgray {
  background-color: $light-grey !important;
}

._bdcl-lightgray {
  border-color: rgba(0,0,0,0.1) !important;
}

._cl-pink {
  border-color: $pink !important;
  color: $pink !important;
}

._cl-pink-hover {
  transition: 0.15s;
  &:hover {
    color: $pink !important;
  }
}

._bgcl-pink {
  background-color: $pink !important;
}

._w-84px {
  width: 84px;
}

/* Headline used in CMS as well as components */

h3 {
  font-weight: 700;
}


.about-logo {
  img {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
  }
}

.hv-anim {
  display: inline-block;
  position: relative;
  color: $purple;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $purple;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

._fdrt-rrv {
  flex-direction: row-reverse !important;
}

._fdrt-clr {
  flex-direction: column-reverse !important;
}

._ratio-50 {
  //background: #333;
  width: 50%;
  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

._ratio-70 {
  //background: #333;
  width: 70%;
  &::before {
    content: '';
    padding-top: 100%;
    float: left;
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

//horizontal
._ratio-2-1 {
  width: 100%;
  padding-bottom: 50%;
}

._ratio-4-3 {
  width: 100%;
  padding-bottom: 76.92%;
}

//square
._ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
}

//vertical
._ratio-3-4 {
  width: 100%;
  padding-bottom: 130%;
}

// Modal
.v--modal-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.modal-fixed {
  position: fixed !important;
  background: #fff;
}

.modal {
  background: #fff;
}

.bio-select {
  select {
    border-radius: 0px !important;
    border-color: rgba(0, 0, 0, 0.25);
  }
}

.bio-accordion.-has-icon>label:before,
.bio-select:not(.-multiple):after {
  z-index: 0;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.static-page {
  line-height: 150%;
  p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  img {
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
  }
  ul {
    padding-left: 30px;
    li {
      list-style-type: disc;
    }
  }
  a {
    color: $pink;
  } //About Us
  .quote {
    font-family: 'Quicksand';
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 150%;
    color: #000;
    text-align: right;
    text-transform: uppercase;
    border-bottom: 5px solid #000;
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    span {
      font-weight: 700;
      max-width: 500px !important;
      display: block;
    }
  }
}

// Fabric Technologies
.long-description {
  div {
    margin-bottom: 12px;
    line-height: 150%;
    strong {
      font-weight: 700;
      display: block;
    }
  }
}




.db {
  border:1px solid red;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.02);
-moz-box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.02);
box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.02);
}

.border-grey {
  border-top:1px solid rgba(0,0,0,0.1);
  border-bottom:1px solid rgba(0,0,0,0.1);
}