$sm: 640px;
$sm-1: 639px;
$md: 900px;
$lg: 1200px;
$blue: #111e48;
$purple: #662871;
$magenta: #d02cc0;
$aqua: #b5fff0;
$dark-aqua: #22608E;
$light-purple: #6B18F1;
$light-blue: #eef5ff;
$light-grey: #fcfcfc;
$pink: #ff7a7a;
@mixin breakpoint($point) {
  @if $point==desktop {
    @media (min-width: $md) {
      @content ;
    }
  }
  @else if $point==laptop {
    @media (max-width: $md) {
      @content ;
    }
  }
  @else if $point==mobile {
    @media (max-width: $sm) {
      @content ;
    }
  }
}
