<template>
  <div class="_mgt-24px">
    <div class="container">
      <div class="row _jtfct-ct">
        <div class="col-12">
          <h1 class="_fs-3 _fw-500 _ttf-upc _cl-black _lh-100pct">My Orders</h1>
          <!-- Order items -->
          <slide-y-down-transition 
            v-if="orders.length"
            group 
          >
            <div 
              v-for="(x, i) in orders" 
              :key="i">
              <OrderItem 
                :order-id="x.id"
                :order-status="x.status"
                :total="x.total"
                :purchase-items="[]"
                :date-modified="x.date_modified.date"
              />
            </div>
          </slide-y-down-transition>
          <div 
            v-else
            class="_pdt-16px" 
          >
            <p class="_cl-warning">
              You don't have order yet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OrderItem from '~/components/purchase/OrderItem'

export default {
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `My Orders ${siteTitle}`
    }
  },
  components: {
    OrderItem
  },
  data: () => ({
    orders: []
  }),
  async asyncData({ store }) {
    // Fetch all orders
    const orders = await store.dispatch('order/getOrders')
    // console.log(orders)
    return {
      orders
    }
  },
  layout: 'profile'
}
</script>
