<template>
  <div>
    <Header />
    <!-- Content -->
    <main 
      :class="{'_mgt-48px': $store.state.menu.isUserSticky}" 
      class="min-height-100vh _dp-f _alit-ct _ovf-hd">
      <nuxt/>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/layout/Header'
import Footer from '~/components/layout/Footer'
export default {
  components: {
    Header,
    Footer,
  }
}
</script>