<template>
  <div>
    <Header/>
    <!-- Content -->
    <main 
      :class="{'_mgt-48px': $store.state.menu.isUserSticky}" 
      class="min-height-100vh _dp-f _alit-ct _ovf-hd _pdv-48px">
      <div class="container">
        <div class="row _jtfct-ct">
          <div class="col-12 col-md-10 static-page">
            <nuxt/>
          </div>
        </div>
      </div>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from '~/components/layout/Header'
import Footer from '~/components/layout/Footer'
export default {
  components: {
    Header,
    Footer
  }
}
</script>