<template>
  <div class="row _mgbt-64px _jtfct-ct">
    <div class="col-12 col-md-10 _pdt-2px">
      <div v-html="aboutUs.content.rendered"/> 
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'

export default {
  name: 'AboutUs',
  components: {
      PageHeading,
      Headline
  },
  computed: {
    aboutUs () {
      return this.$store.state.site.aboutUs
    }
  },
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  async asyncData ({ store }) {
    const aboutUs = await store.dispatch('site/getAboutUs')
  },
  head () {
    const siteTitle = this.$store.state.site.title
    return { 
      title: `About Us ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `About Us` },
        { hid: 'og:description', property: 'og:description', content: `About Us` }
      ]
    }
  },
  layout: `static`
}
</script>
