<template>
  <div class="container">
    <div class="row _jtfct-ct">
      <div class="col-12 col-md-10">
        <PageHeading 
          text="Contact Us"
          class="_mgbt-32px"
        />
        <div class="row _bdbtw-4px _bdcl-gray">
          <div class="col-12 col-md-3 _dp-n _dp-b-md">
            <div>
              <div 
                v-lazy:background-image="require(`~/assets/images/contact-us.jpg`)" 
                class="_bgrp-nrp _bgs-cv _ratio-3-4" 
              />
            </div>
          </div>

          <!-- Contact Info -->

          <div class="col-12 col-md-9">
            <div class="_ttf-upc _lh-100pct _cl-black">We are here to help</div>
            <div class="_fs-7 _pdv-8px _mgbt-16px _lh-175pct _cl-dark">
              <div class="_dp-b _f-qs">
                101 Mobicom 3 Sathorn, Bangkok 10110
              </div>
              <div class="_f-qs">
                <span class="_w-84px _dp-ilb">Line:</span>
                <a 
                  class="_cl-pink"
                  href="http://line.me/ti/p/%405Labstore" 
                  target="_blank">@5LabStore</a>
              </div>
              <div class="_f-qs">
                <span class="_w-84px _dp-ilb">Facebook:</span>
                <a 
                  class="_cl-pink"
                  href="https://www.facebook.com/5labgroup/" 
                  target="_blank">5LabGroup
                </a>
              </div>
              <div class="_f-qs">
                <span class="_w-84px _dp-ilb">Instagram:</span>
                <a 
                  class="_cl-pink"
                  href="https://www.instagram.com/iggu.me/" 
                  target="_blank">Iggu.me
                </a>
              </div>
            </div>
            <!-- Contact us Form -->
            <ContactUs />
          </div>
        </div>
        <div class="_pdv-32px">
          <div class="_dp-b _dp-n-md">
            <h3 class="_ttf-upc _fs-5">Contact us</h3>
          </div>
          <div class="_dp-b _dp-f-md _jtfct-spbtw _alit-ct _w-100pct">
            <div
              v-for="(x, i) in $store.state.site.socialMedias" 
              :key="i"
              class="_pdv-8px"
            >
              <a
                :href="x.path"
                target="_blank"
              >
                <fa-icon 
                  :icon="[x.style, x.icon]" 
                  :flip="x.flip"
                  class="_cl-black _fs-6"
                />
                <span class="_cl-pink _fs-6 _pdl-4px">{{ x.text }}</span> 
              </a>
            </div>
          </div>
          <!-- Add line -->
          <div class="_w-100pct _dp-f _jtfct-ct-md _mgt-24px-md line">
            <!-- <div class="_dp-ilb">
              <div 
                class="line-it-button" 
                data-lang="en" 
                data-type="friend" 
                data-lineid=" @5LabStore" 
                style="display: none;"/>
              <script 
                src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" 
                async="async" 
                defer="defer"/>
            </div> -->
            <div class="_dp-ilb _mgl-4px-md _cl-pink _fs-6 _pdt-8px">
              <fa-icon 
                :icon="[`fab`, `line`]"
                class="_cl-black _fs-6"
              />
              <a 
                class="_cl-pink"
                href="http://line.me/ti/p/%405LabStore" 
                target="_blank">@5LabStore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-dialog/>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import ContactUs from '~/components/forms/ContactUs'

export default {
  name: 'ContactUsPage',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    PageHeading,
    ContactUs
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `Contact us ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `Contact us` },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `Contact us`
        }
      ]
    }
  }
}
</script>