<template>
  <div class="row _jtfct-ct">
    <div class="col-12 col-md-11">
      <PageHeading 
        :text="`Fabric Technologies`"
      /> 
      <!-- <div 
          v-html="fabricTechnologies.content.rendered"
        /> -->
      <div 
        v-for="(item,i) in _fabricTechnologies" 
        :key="i"
        class="row">
        <div class="col-12">
          <Headline 
            :text="item.name"
          />
        </div>
        <div class="col-12 col-md-4 _dp-f _jtfct-ct _mgbt-24px _mgbt-0px-md">
          <div 
            v-lazy:background-image="item.meta.image" 
            class="_bgs-ct _bgpst-tr _bgs-ct _w-128px _h-128px"
          />
        </div>
        <div 
          class="col-12 col-md-8" 
        >
          <div 
            class="long-description _f-qs" 
            v-html="item.meta.long_description[0]"/>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'

export default {
  // async asyncData ({ store }) {
  //   const productAttribute = await store.dispatch('product/getFabricTechnologies')
  // },
  name: 'FabricAndTech',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
      PageHeading,
      Headline
  },
  computed: {
    _fabricTechnologies () {
      return this.$store.state.product.attributes.pa_fabric_technologies
    }
  },
    
  mounted () {
    if (process.browser) {
      window.scrollTo(0, 0)
    }
  },
  head () {
    const siteTitle = this.$store.state.site.title
    return { 
      title: `Fabric Technologies ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `About us` },
        { hid: 'og:description', property: 'og:description', content: `About us` }
      ]
    }
  },
  layout: `static`
}
</script>
