<template>
  <div class="container">
    <div class="row _jtfct-ct _pdbt-48px">
      <div class="col-12 col-md-10">
        <PageHeading 
          text="How to Order"
        />
        <Headline 
          :text="`By Website`"
        />
        <div class="step">
          <div
            v-for="(x, i) in webSteps" 
            :key="i"
            class="_fs-7 _bdtw-4px _bdcl-gray _cl-black"
          >
            <div class="row _dp-f _alit-ct">
              <!-- Icon -->
              <div class="col-2">
                <div class="_dp-f _jtfct-ct">
                  <fa-icon 
                    :icon="[x.style, x.icon]" 
                    class="_cl-black _fs-4 _fs-3-md"/>
                </div>
              </div>

              <!-- Text --> 
              <div class="col-10">
                <div class="row _pdv-24px ">
                  <div class="col-2 _tal-r _lh-175pct">{{ i + 1 }}.</div>
                  <div class="col-10">
                    <div class="_lh-175pct _fw-600">{{ x.text }}</div>
                    <div class="_lh-175pct step-text-th">{{ x.textTH }}</div>

                    <!-- Payment Methods -->
                    <div v-if="i === 2">
                      <ul class="_pdl-16px _pdv-4px _lh-125pct">
                        <li 
                          v-for="(value, key) in paymentMethod" 
                          v-if="value.byWeb"
                          :key="key"
                          class="_mgbt-4px"
                        >
                          <span class="_dp-ilb _w-40pct _w-20pct-md _lh-175pct">{{ value.text }}</span> 
                          <span class="_dp-ilb _w-60pct _w-70pct-md _lh-175pct">{{ value.textTH }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Headline 
          :text="`By Phone`"
        />
        <div class="step">
          <div
            v-for="(x, i) in phoneSteps" 
            :key="i"
            class="_fs-7 _bdtw-4px _bdcl-gray _cl-black"
          >
            <div class="row _dp-f _alit-ct">
              <!-- Icon -->
              <div class="col-2 _tal-r _lh-175pct">
                <div class="_tal-ct">
                  <fa-icon 
                    :icon="[x.style, x.icon]" 
                    class="_cl-black _fs-3"/>
                </div>
              </div>
              <!-- Text -->
              <div class="col-10">
                <div class="row _pdv-24px ">
                  <div class="col-2 _tal-r">{{ i + 1 }}.</div>
                  <div class="col-10">
                    <div class="_lh-175pct _fw-600">{{ x.text }}</div>
                    <div class="_lh-175pct step-text-th">{{ x.textTH }}</div>
                    <!-- Payment Methods -->
                    <div v-if="i === 2">
                      <ul class="_pdl-16px _pdv-4px _lh-125pct">
                        <li 
                          v-for="(value, key) in paymentMethod" 
                          v-if="value.byPhone"
                          :key="key"
                          class="_mgbt-4px"
                        >
                          <span class="_dp-ilb _w-40pct _w-20pct-md _lh-175pct">{{ value.text }}</span> 
                          <span class="_dp-ilb _w-60pct _w-70pct-md _lh-175pct">{{ value.textTH }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Headline 
          :text="`By Our Distributor Shop`"
          class="headline-mobile _mgbt-16px _mgbt-0px-md"
        />
        <div class="_fs-7 _bdtw-4px _bdbtw-4px _bdcl-gray _cl-black">
          <div class="row _alit-ct">
            <!-- Icon -->
            <div class="col-2 _tal-r">
              <div class="_tal-ct">
                <fa-icon 
                  :icon="['fal','map-marker-alt']" 
                  class="_cl-black _fs-3"/>
              </div>
            </div>
            <div class="col-10 _pdv-24px">
              <div class="_lh-100pct _fw-600">See locations <nuxt-link 
                to="/store-locations" 
                class="_cl-pink">here</nuxt-link></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'

export default {
  name: 'HowToOrder',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    PageHeading,
    Headline
  },
  data: () => ({
    webSteps: [
      {
        text: 'Register your account',
        textTH: 'เข้าสู่ระบบโดยการสมัครสมาชิก',
        style: 'fal',
        icon: 'keyboard'
      },
      {
        text: 'Add Items to your shopping bag',
        textTH: 'เลือกซื้อสินค้าใส่ตะกร้าสินค้า',
        style: 'fal',
        icon: 'shopping-bag'
      },
      {
        text: 'Make payment via three methods ',
        textTH: 'ชำระค่าสินค้า ผ่าน 3 ช่องทาง',
        style: 'fal',
        icon: 'usd-circle'
      },
      {
        text: 'Receive confirmation Email and Tracking ID',
        textTH: 'ได้รับอีเมลยืนยันการสั่งซื้อ พร้อมรหัสการสั่งซื้อ',
        style: 'fal',
        icon: 'envelope'
      },
      {
        text: 'Check your shipping status from My Order',
        textTH: 'ตรวจสอบสถานะการจัดส่งสินค้าได้ที่ My Order',
        style: 'fas',
        icon: 'user-circle'
      },
      {
        text: 'Receive your order by mail or messenger',
        textTH: 'ส่งสินค้าถึงมือคุณทางไปรษณีย์ หรือ แมสเซนเจอร์',
        style: 'fal',
        icon: 'box-full'
      }
    ],
    phoneSteps: [
      {
        text: 'Contact us at Line: @5LabStore',
        textTH: 'แอดไลน์ @5LabStore เพื่อสั่งซื้อสินค้า',
        style: 'fab',
        icon: 'line'
      },
      {
        text: 'Let us know your chosen item',
        textTH: 'แจ้งสินค้าที่ต้องการ',
        style: 'fal',
        icon: 'comments'
      },
      {
        text: 'Make payment via three methods ',
        textTH: 'ชำระค่าสินค้า ผ่าน 3 ช่องทาง',
        style: 'fal',
        icon: 'usd-circle'
      },
      {
        text: 'Receive your shipment tracking ID via Line',
        textTH: 'ได้รับเลข Tracking การส่งสินค้าทางไลน์',
        style: 'fab',
        icon: 'line'
      },
      {
        text: 'Receive your order by mail',
        textTH: 'ส่งสินค้าถึงมือคุณทางไปรษณีย์',
        style: 'fal',
        icon: 'box-full'
      }
    ],
    paymentMethod: [
      {
        text: 'Bank Transfer',
        textTH: 'โอนเงินผ่านธนาคาร',
        byPhone: true,
        byWeb: true
      },
      {
        text: 'Credit Card',
        textTH: 'ชำระเงินผ่านบัตรเครดิต',
        byPhone: true,
         byWeb: true
      },
      {
        text: 'Paypal',
        textTH: 'ชำระเงินผ่าน Paypal',
        byPhone: false,
        byWeb: true
      },
      {
        text: 'PromptPay',
        textTH: 'ชำระเงินผ่าน พร้อมเพย์',
        byPhone: true,
        byWeb: false
      }
    ]
  }),
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `How to order ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `How to order` },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `How to order`
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
ul {
  li {
    list-style-type: disc;
  }
}
</style>
