<template>
  <div class="container">
    <div class="home-slider row">
      <div class="col-12 col-md-12 _pd-0px">
        <SlideBanner 
          :slides="slideImages"
        />
      </div>
      <!-- <div class="col-md-1 _pst-rlt _dp-n _dp-b-md contact-column">
        <nuxt-link 
          to="/about-us"
          class="contact-link _pst-asl _tal-l">
          <h6  
            class="_fs-8 _fw-500 _cl-black _ttf-upc _ltspc-1px"
          >
            About us
          </h6>
        </nuxt-link>
        <nuxt-link 
          to="/contact-us"
          class="contact-link _pst-asl _tal-l _bt-128px">
          <h6  
            class="_fs-8 _fw-500 _cl-black _ttf-upc _ltspc-1px"
          >
            Contact Us
          </h6>
        </nuxt-link>
      </div> -->
    </div>
    <!-- Best Seller -->
    <hr class="dot _dp-b _dp-n-md">
    <BestSeller 
      :products="featuredProducts"
      class=""
    />
    <!-- Collection Showcase -->
    <hr class="dot _dp-b _dp-n-md">
    <CollectionShowcase 
      :content="_collectionContent"
      title="Product Review"
    />
    <!-- Technologies
    <div class="home-technology row _dp-f _jtfct-ct _pdt-32px _pdbt-12px">
      <div class="col-12 col-md-10">
        <Headline 
          :text="`Technologies`"
          :right-heading="true"
        />
        <div 
          v-scroll-reveal
          v-for="(item, i) in _fabricTechnologies" 
          :key="i" 
          class="_mgbt-16px-md _mgbt-0px _mgt-0px _mgt-32px-md">
          <nuxt-link to="/fabric-technologies">
            <ContentWithThumb 
              :image="item.meta.image"
              :heading="item.name"
              :text="item.description"
            />
          </nuxt-link> 
        </div>
      </div>
    </div> -->

    <!-- How To Order -->
    <div class="_mgbt-48px">
      <nuxt-link to="/how-to-order">
        <button class="bio-button _bgcl-pink _bdw-0px _pdh-48px _pdv-24px _dp-f _alit-ct _mgh-at _bgcl-dark-hover">
          <div 
            v-lazy:background-image="require(`assets/images/howtoorder-icon.svg`)" 
            class="_w-32px _h-32px _bgs-ct _bgpst-ct"/>
          <div class="_mgl-12px">HOW TO ORDER</div>
        </button>
      </nuxt-link>
    </div>
  </div>
</template>



<script>
import ContentWithThumb from '~/components/content-box/ContentWithThumb'
import Headline from '~/components/text/Headline'
import SlideBanner from '~/components/extras/SlideBanner'
import CollectionShowcase from '~/components/collections/CollectionShowcase'
import BestSeller from '~/components/products/BestSeller'
import pkg from '~/package'
// import WooCommerce from 'woocommerce'
export default {
  name: 'Index',
  components: {
    ContentWithThumb,
    Headline,
    SlideBanner,
    CollectionShowcase,
    BestSeller
  },
  data: () => ({
    slideImages: [],
    featuredProducts: [],
    isCollectionsInView: false,
    scrollAmount: 0
  }),
  computed: {
    _parallaxY () {
      if (process.browser) {
        return -this.scrollAmount
      }
      return 0
    },
    _collectionContent() {
      // return this.$store.state.product.collections
      // Conditions
      // 1: have more than 3 collections -> 3
      let content = []
      let collections = this.$store.state.product.collections.slice(0, 3)
      if (collections.length >= 2) {
        content = collections.map((c) => {
          return {
            image: c.acf.content[0].top_left.image,
            title: c.title.rendered,
            description: c.content.rendered,
            shortDescription: c.acf.short_description,
            slug: c.slug
          }
        })
        return content
      } else if (collections.length === 1) {
        let x = collections[0].acf.content[0]
        content = [
          {
            image: x.top_left.image,
            description: x.top_left.description
          },
          {
            image: x.middle_right.image,
            description: x.middle_right.description
          },
          {
            image: x.bottom_left.image,
            description: x.bottom_left.description
          }
        ]
        return content
      }
    },
    _collectionTitle() {
      if (this.$store.state.product.collections.length > 1) {
        return `Collections`
      } else if (this.$store.state.product.collections.length === 1) {
        return this.$store.state.product.collections[0].title.rendered
      }
    },
    _fabricTechnologies () {
        return this.$store.state.product.attributes.pa_fabric_technologies
    }
  },
  async created() {
    // find offsetY
    const promises = [
      this.$store.dispatch('site/getSlideshow', 'home-banner'),
      this.$store.dispatch('product/getFeaturedProducts')
    ]
    const [slideImages, featuredProducts] = await Promise.all(promises)
    //console.log(collections)
    this.slideImages = slideImages
    this.featuredProducts = featuredProducts
  },
  methods: {
    checkIfCollectionsInView(isVisible, entry) {
      this.isCollectionsInView = isVisible
    }
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `Home ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `Home` },
        { hid: 'og:description', property: 'og:description', content: pkg.description }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
.contact-link {
  transform: rotate(-90deg);
  width: 90px;
  bottom: 40px;
  left: 0;
}
.contact-column {
  @media (max-width: 1199px) {
    margin-bottom: 120px;
  }
}
hr.dot{
  border:none;
  height:1px;
  padding:0;
  border-bottom:1px dotted rgba(0,0,0,0.1);
  margin-top:30px;
  width:100%;
}
</style>
