<template>
  <div>
    <PageHeading 
      :text="returnPolicy.title.rendered"
    /> 
    <div v-html="returnPolicy.content.rendered" />
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'

export default {
  async asyncData ({ store }) {
      const returnPolicy = await store.dispatch('site/getReturnPolicy')
  },
  components: {
      PageHeading,
      Headline
  },
    
  data: () => ({

  }),
  head () {
    const siteTitle = this.$store.state.site.title
    return { 
      title: `Return Policy ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `Return Policy` },
        { hid: 'og:description', property: 'og:description', content: `Return Policy` }
      ]
    }
  },
  computed: {
    returnPolicy () {
      return this.$store.state.site.returnPolicy
    }
  },
  layout: `static`
}
</script>

<style lang="scss" scoped>
</style>
