<template>
  <SizeChart />
</template>

<script>
  import SizeChart from '~/components/extras/SizeChart'

  export default {
    components: {
      SizeChart
    },
    mounted () {
      if (process.browser) {
        window.scrollTo(0, 0)
      }
    }  
  }
</script>
