<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <PageHeading 
          text="Store Locations"
        />
      </div>
    </div>
    <div class="row _mgt-48px">
      <div class="_dp-n _dp-b-md col-12 col-md-4">
        <hr class="_bgcl-black _h-4px _bdw-0px _mgt-0px _mgbt-8px">
        <a 
          v-scroll-to="{ el: `#${x.slug}` , offset: -150 }" 
          v-for="(x, i) in $store.state.storeLocation.locations"
          :key="i"   
          class="_cs-pt"         
        >
          <div class="_bdbtw-2px _bdcl-gray _pdl-12px _pdv-8px">
            <h6 class="_fs-6 _fw-500">{{ x.title.rendered }}</h6>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-8">
        <div 
          v-for="(x, i) in $store.state.storeLocation.locations" 
          :key="i" 
          :id="x.slug"
          class="_mgbt-64px"
        >
          <StoreLocation 
            :name="x.title.rendered"
            :address="x.acf.address"
            :lat="x.acf.map.lat"
            :lng="x.acf.map.lng"
          />
        </div>
      </div>
      <ModalStoreLocation />
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import StoreLocation from '~/components/extras/StoreLocation'
import ModalStoreLocation from '~/components/modals/StoreLocation'

export default {
  async asyncData({ store }) {
    const storeLocations = await store.dispatch(
      'storeLocation/getStoreLocation'
    )
  },
  components: {
    PageHeading,
    StoreLocation,
    ModalStoreLocation
  }
}
</script>

<style lang="scss">
</style>
