<template>
  <div>
    <PageHeading 
      :text="termCondition.title.rendered"
    />
    <div v-html="termCondition.content.rendered" />
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'

export default {
  async asyncData ({ store }) {
      const termCondition = await store.dispatch('site/getTermCondition')
  },
  components: {
      PageHeading,
      Headline
  },
    
  data: () => ({

  }),
  head () {
    const siteTitle = this.$store.state.site.title
    return { 
      title: `Terms and conditions ${siteTitle}`,
      meta: [
        { hid: 'og:title', property: 'og:title', content: `Terms and conditions` },
        { hid: 'og:description', property: 'og:description', content: `Terms and conditions` }
      ]
    }
  },
  computed: {
    termCondition () {
      return this.$store.state.site.termCondition
    }
  },
  layout: `static`
}
</script>

<style lang="scss" scoped>
</style>
