<template>
  <div 
    :class="{'right': rightHeading}"
    class="headline-wrapper _dp-f _alit-ct _jtfct-fs )_pdh-0px _pdh-16px-md"
  >
    <h2
      class="fs-3 _ttf-upc _fw-700 _cl-black _dp-f _jtfct-fs _lh-100pct _pdv-12px " 
      v-html="text"/>  
  </div>
  
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'เฮด'
    },
    rightHeading: {
      type: Boolean,
      default: false
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'assets/styles/variables';


</style>
