<template>
  <h1 
    class="_lh-125pct _cl-black _tal-ct _fs-4 _fw-600 _pdt-24px _pdbt-12px _pdt-32px-md _w-100pct _ttf-upc _ltspc-1px" 
    v-html="text"/>  
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      default: 'เฮด'
    }
  }
}
</script>