<template>
  <modal 
    :pivot-y="0.1"
    :adaptive="true" 
    :max-width="1000" 
    :scrollable="true" 
    name="size-chart"
    classes="modal" 
    width="100%" 
    height="auto"
  >
    <SizeChart 
      :is-modal="true"
    />
  </modal>
</template>

<script>
import SizeChart from '~/components/extras/SizeChart'

export default {
  components: {
    SizeChart
  }
}
</script>
