<template>
  <modal 
    :pivot-y="0.1"
    :adaptive="true" 
    :max-width="500" 
    name="store-location-map" 
    modal 
    classes="modal" 
    width="95%" 
    height="auto" 
    @before-open="beforeOpen"
  >
    <!-- <div slot="top-right" class="_pdv-16px">
      <button @click="$modal.hide('foo')">
        X
      </button>
    </div> -->
    <div>
      <iframe 
        :src="`https://maps.google.com/maps?q=${lat},${lng}&hl=th;z=14&amp;output=embed`" 
        style="border: 0;" 
        width="100%" 
        height="500" 
        frameborder="0" 
        allowfullscreen="allowfullscreen"
      />
      <div>
        <button 
          class="_bdw-0px _cs-pt _bgcl-black _w-100pct _pdv-8px"
          @click="$modal.hide('store-location-map')"  
        >
          <h6 class="_fw-600 _fs-5 _tal-ct _cl-white _ttf-upc _ltspc-1px">Close</h6>
        </button>
      </div>
    </div>
  </modal>
</template>

<script>
export default {
  data: () => ({
    lat: 0.00,
    lng: 0.00,
  }),
  methods: {
    beforeOpen (event) {
      this.lat = event.params.lat
      this.lng = event.params.lng
      this.$modal.show({
        template: `
          <div>
            <p>Close using this button:</p>
            <button @click="$emit('close')">Close</button>
          </div>
        `
      })
    }
  }
}
</script>
