<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 _pd-0px _mgbt-16px">
        <CollectionSlide 
          :slides="_collectionImages"
        />
      </div>

    </div>

    <div class="row _mgv-24px _pst-rlt">
      <div class="col-12 col-md-11">    
        <PageHeading 
          :text="_collection.title.rendered"
        />
        <div class="_w-100pct _ltspc-1px _tal-ct _mgbt-32px">{{ _collection.date | moment('YYYY') }}</div>
        <div class="article-details row _dp-f _jtfct-ct _pdv-32px">
          <div class="col-12 col-md-10">
            <ContentCollection
              :top-left-image="_collection.acf.content[0].top_left.image"
              :top-left-description="_collection.acf.content[0].top_left.description"
              :bottom-left-image="_collection.acf.content[0].bottom_left.image"
              :bottom-left-description="_collection.acf.content[0].bottom_left.description"
              :middle-right-image="_collection.acf.content[0].middle_right.image"
              :middle-right-description="_collection.acf.content[0].middle_right.description"
              :is-collection = "true"
            />
          </div>
        </div>
      </div>
      <div 
        id="parent" 
        class="col-12 col-md-1 _pst-rlt _t-256px">
        <no-ssr>
          <affix 
            :offset="{top: 200, bottom: 0}"
            relative-element-selector="#parent" 
            style="width: 70px;">
            <SocialShare />
          </affix>
        </no-ssr>
      </div>
    </div>
    <!-- Collection -->
    <div class="row _dp-f _jtfct-ct _alit-ct _pdv-32px">
      <div class="col-12 col-md-10">
        <div class="row">
          <div class="col-12 _pdbt-12px">
            <div class="row">
              <div class="col-md-12">
                <Headline 
                  :text="`Related Products`"
                />
              </div>
     
            </div>
            <!-- Products -->
            <div class="row">
              <div class="col-12">
                <ProductColumnX
                  v-if="_products && _products.length"
                  :product-list="_products.slice(0, 8)"
                  _class="col-6 col-md-3"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-12 _dp-f ">
                <nuxt-link 
                  :to="`/product/collection/${$route.params.slug}`"
                  class="link _tal-l">
                  <h6  
                    class="_fs-6 _lh-150pct _fw-500 _cl-pink _pd-0px _pd-16px-md"
                  >
                    All related <span class="_dp-ilb">product 
                      <fa-icon 
                        :icon="['far', 'angle-right']" 
                        class="_mgl-8px"
                    /></span>
                  </h6>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeading from '~/components/text/PageHeading'
import Headline from '~/components/text/Headline'
import ContentCollection from '~/components/content-box/ContentCollection'
import ProductColumnX from '~/components/products/ProductColumnX'
import CollectionSlide from '~/components/extras/CollectionSlide'
import SocialShare from '~/components/extras/SocialShare'
import uniqBy from 'lodash/uniqBy'
import shuffle from 'lodash/shuffle'

export default {
  name: 'Collections',
  serverCacheKey: () => Math.floor(Date.now() / 1000000),
  components: {
    PageHeading,
    Headline,
    ContentCollection,
    CollectionSlide,
    ProductColumnX,
    SocialShare
  },
  async asyncData({ store, params }) {
    const promises = [
      store.dispatch(
        'product/getIndividualCollectionSlug',
        {
          collectionSlug: params.slug
        }
      ),
      store.dispatch(
        'product/getProductsByCollectionSlug', {
          collectionSlug: params.slug
        }
      )
    ]
    const [ collection, products ] = await Promise.all(promises)
    return {
      collection,
      products
    }
  },
  head() {
    const siteTitle = this.$store.state.site.title
    return {
      title: `${this._collection.title.rendered} ${siteTitle}`,
      meta: [
        {
          hid: 'og:title',
          property: 'og:title',
          content: `${this._collection.title.rendered} ${siteTitle}`
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: `Articles from 5Lab Store`
        },
        {
          hid: 'og:image',
          property: 'og:image',
          content: `${this._collectionImages[0] && this._collectionImages[0].image}`
        },
      ]
    }
  },
  computed: {
    _collection() {
      return this.collection[0]
    },
    _collectionImages() {
      return this.collection[0].acf.collection_images
    },
    _products() {
      if (!this.products) {
        return []
      }
      const products = this.flatten(
        this.products.map((p) =>
          uniqBy(p.variations, 'attributes.attribute_pa_color').map((v) => {
            return {
              slug: p.slug,
              name: p.name,
              date_created: p.date_created,
              ...v,
              attributes: {
                ...v.attributes,
                attribute_pa_size: Array.from(
                  new Set(
                    p.variations.map((x) => x.attributes.attribute_pa_size)
                  )
                )
              }
            }
          })
        )
      )
      return shuffle(products)
    }
  },
  methods: {
    flatten(arr) {
      return Array.prototype.concat(...arr)
    }
  },
}
</script>
<style lang="scss" scoped>
.contact-link {
  transform: rotate(-90deg);
  width: 90px;
  bottom: 85px;
  left: 0;
}
</style>

