<template>
  <div>
    <form @submit.stop.prevent="submit">
      <!-- ที่อยู่ในการจัดส่ง -->
      <no-ssr>
        <div class="_mgv-24px container">
          <div class="row">
            <div class="col-12 _pdh-0px _pdh-16px-md">
              <h6 class="_mgbt-24px _mgl-4px">
                <fa-icon 
                  :icon="['fal', 'truck']" 
                  class="_mgr-8px"/> Shipping Address
              </h6>
            </div>
          </div>
          <div class="row">
            <!-- ชื่อ -->
            <div class="col-12 col-md-6 _pdh-0px _pdh-16px-md">
              <float-label>
                <input 
                  v-validate="{required: true}" 
                  v-model="shipping.firstName"
                  type="text"
                  name="shipping.firstName"
                  placeholder="Full name / ชื่อ-นามสกุล">
                <small 
                  v-show="errors.has('shipping.firstName')"
                  class="_cl-negative" 
                >Please enter first name - last name</small>
              </float-label>
              <float-label>
                <input 
                  v-validate="{required: true}"
                  v-model="shipping.phone"
                  name="shipping.phone"
                  type="text"
                  placeholder="Phone number / หมายเลขโทรศัพท์">
                <small 
                  v-show="errors.has('shipping.phone')"
                  class="_cl-negative" 
                >Please enter phone number</small>
              </float-label>
              <float-label>
                <input 
                  v-validate="{required: true}"
                  v-model="shipping.address1"
                  name="shipping.address1"
                  type="text" 
                  placeholder="Address line 1 / ที่อยู่จัดส่ง">
                <small 
                  v-show="errors.has('shipping.address1')"
                  class="_cl-negative" 
                >Please enter address</small>
              </float-label>
              <float-label>
                <input 
                  v-model="shipping.address2" 
                  name="shipping.address2"
                  type="text"
                  placeholder="Address line 2 / ที่อยู่จัดส่ง (ต่อ)">
              </float-label>
            </div>
            <!-- ที่อยู่ -->
            <div class="col-12 col-md-6 _mgt-32px _mgt-0px-md _pdh-0px _pdh-16px-md">
              <float-label
                label="City / เขต / อำเภอ">
                <input 
                  v-validate="{required: true}" 
                  v-model="shipping.city"
                  type="text"
                  name="shipping.city"
                  placeholder="City / เขต / อำเภอ">
                <small 
                  v-show="errors.has('shipping.city')"
                  class="_cl-negative" 
                >Please enter city / เขต / อำเภอ</small>
              </float-label>
              <float-label
                label="State / จังหวัด">
                <select 
                  v-validate="{required: $store.state.site.countryCodes[shipping.country].states? true: false}" 
                  v-model="shipping.state"
                  name="shipping.state"
                  class="select">
                  <option 
                    disabled 
                    value="">Please select state / จังหวัด</option>
                  <option 
                    v-for="(value, key) in $store.state.site.countryCodes[shipping.country].states" 
                    :key="key" 
                    :value="key" 
                    v-html="value"/>
                </select>
                <small 
                  v-show="errors.has('shipping.state')"
                  class="_cl-negative" 
                >Please enter state</small>
              </float-label>
              <float-label
                label="Country / ประเทศ">
                <select 
                  v-validate="{required: true}" 
                  v-model="shipping.country"
                  name="shipping.country"
                  class="select">
                  <option 
                    disabled 
                    value="">Please select country / ประเทศ</option>
                  <option 
                    v-for="(value, key) in $store.state.site.countryCodes" 
                    :key="key" 
                    :value="key" 
                    v-html="value.title"/>
                </select>
                <small 
                  v-show="errors.has('shipping.country')"
                  class="_cl-negative" 
                >Please enter Country</small>
              </float-label>
              <float-label
                label="Postal code / รหัสไปรษณีย์">
                <input 
                  v-validate="{required: true}"
                  v-model="shipping.postcode"
                  type="text"
                  name="shipping.postcode"
                  placeholder="Postal code / รหัสไปรษณีย์">
                <small 
                  v-show="errors.has('shipping.postcode')"
                  class="_cl-negative" 
                >Please enter postal code / รหัสไปรษณีย์</small>
              </float-label>
            </div>
          </div>
        </div>
      </no-ssr>
      <!-- ที่อยู่ในการออกบิล -->
      <no-ssr>
        <div class="_mgv-24px container">
          <div class="row _mgbt-24px">
            <div class="col-12 _dp-f-md _dp-b _alit-ct _jtfct-spbtw _pdh-0px _pdh-16px-md">
              <div>
                <h6 class="_mgl-4px">
                  <fa-icon 
                    :icon="['fal', 'file-alt']" 
                    class="_mgr-8px"/> Billing Address
                </h6>
              </div>
              <div class="_pd-8px _pdh-0px-md">
                <div class="bio-checkbox">
                  <input 
                    id="c1"
                    v-model="billing.copyChecked" 
                    type="checkbox"
                  >
                  <label for="c1">Copy from shipping / คัดลอกจากที่อยู่จัดส่ง</label>
                </div>
              </div>
            </div>
          </div>
          <div 
            v-if="!billing.copyChecked" 
            class="row">
            <!-- ชื่อ -->
            <div class="col-12 col-md-6 _pdh-0px _pdh-16px-md">
              <float-label>
                <input 
                  v-validate="{required: true}" 
                  v-model="billing.firstName"
                  type="text"
                  name="billing.firstName"
                  placeholder="Full name / ชื่อ-นามสกุล">
                <small 
                  v-show="errors.has('billing.firstName')"
                  class="_cl-negative" 
                >Please enter first name - last name</small>
              </float-label>
              <float-label>
                <input 
                  v-validate="{required: true}"
                  v-model="billing.phone"
                  name="billing.phone"
                  type="text"
                  placeholder="Phone number / หมายเลขโทรศัพท์">
                <small 
                  v-show="errors.has('billing.phone')"
                  class="_cl-negative" 
                >Please enter phone number</small>
              </float-label>
              <float-label>
                <input 
                  v-validate="{required: true}"
                  v-model="billing.address1"
                  name="billing.address1"
                  type="text" 
                  placeholder="Address line 1 / ที่อยู่จัดส่ง">
                <small 
                  v-show="errors.has('billing.address1')"
                  class="_cl-negative" 
                >Please enter address</small>
              </float-label>
              <float-label>
                <input 
                  v-model="billing.address2" 
                  name="address2"
                  type="text"
                  placeholder="Address line 2 / ที่อยู่จัดส่ง (ต่อ)">
              </float-label>
            </div>
            <!-- ที่อยู่ -->
            <div class="col-12 col-md-6 _mgt-32px _mgt-0px-md _pdh-0px _pdh-16px-md">
              <float-label
                label="City / เขต / อำเภอ">
                <input 
                  v-validate="{required: true}" 
                  v-model="billing.city"
                  type="text"
                  name="billing.city"
                  placeholder="City / เขต / อำเภอ">
                <small 
                  v-show="errors.has('billing.city')"
                  class="_cl-negative" 
                >Please enter city / เขต / อำเภอ</small>
              </float-label>
              <float-label
                label="State / จังหวัด">
                <select 
                  v-validate="{required: $store.state.site.countryCodes[billing.country].states? true: false}" 
                  v-model="billing.state"
                  name="billing.state"
                  class="select">
                  <option 
                    disabled 
                    value="">Please select state / จังหวัด</option>
                  <option 
                    v-for="(value, key) in $store.state.site.countryCodes[billing.country].states" 
                    :key="key" 
                    :value="key" 
                    v-html="value"/>
                </select>
                <small 
                  v-show="errors.has('billing.state')"
                  class="_cl-negative" 
                >Please enter state</small>
              </float-label>
              <float-label
                label="Country / ประเทศ">
                <select 
                  v-validate="{required: true}" 
                  v-model="billing.country"
                  name="billing.country"
                  class="select">
                  <option 
                    disabled 
                    value="">Please select country / ประเทศ</option>
                  <option 
                    v-for="(value, key) in $store.state.site.countryCodes" 
                    :key="key" 
                    :value="key" 
                    v-html="value.title"/>
                </select>
                <small 
                  v-show="errors.has('billing.country')"
                  class="_cl-negative" 
                >Please enter Country</small>
              </float-label>
              <float-label
                label="Postal code / รหัสไปรษณีย์">
                <input 
                  v-validate="{required: true}"
                  v-model="billing.postcode"
                  type="text"
                  name="billing.postcode"
                  placeholder="Postal code / รหัสไปรษณีย์">
                <small 
                  v-show="errors.has('billing.postcode')"
                  class="_cl-negative" 
                >Please enter postal code / รหัสไปรษณีย์</small>
              </float-label>
            </div>
          </div>
        </div>
      </no-ssr>
      <!-- สมัครสมาชิก -->
      <no-ssr v-if="!$store.state.auth.user">
        <div class="_mgv-24px container">
          <div class="row">
            <div class="col-12 _pdh-0px _pdh-16px-md">
              <h4 class="_mgbt-16px _mgl-4px _fw-500 _tal-ct _ttf-upc">
                Almost done!
              </h4>
              <p class="_mgbt-4px">Please register to check out</p>
            </div>
          </div>
          <!-- Form -->
          <div class="row">
            <!-- Email -->
            <div class="col-12 col-md-6 _pdh-0px _pdh-16px-md">
              <float-label>
                <input 
                  v-validate="{required: true, email: true}" 
                  v-model="newUser.email"
                  type="email"
                  name="newUser.email"
                  placeholder="Email">
                <small 
                  v-show="errors.has('newUser.email')"
                  class="_cl-negative" 
                >Please enter email</small>
              </float-label>
            </div>
            <!-- Password -->
            <div class="col-12 col-md-6 _mgt-32px _mgt-0px-md _pdh-0px _pdh-16px-md">
              <float-label>
                <input 
                  v-validate="{required: true, regex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%-_*#?&])[A-Za-z\d$@$!%-_*#?&]{8,}$/}" 
                  v-model="newUser.password"
                  type="password"
                  name="newUser.password"
                  placeholder="Password">
                <InvalidPassword v-show="errors.has('newUser.password')" />
              </float-label>
            </div>
          </div>
        </div>
      </no-ssr>
      <!-- Actions -->
      <div class="container">
        <div class="row _mgt-24px">
          <div class="col-12 col-md-6 _pdh-0px _pdh-16px-md">
            <div 
              v-if="errorMsg" 
              class="bio-message -negative _mgbt-24px">
              {{ errorMsg }}
            </div>
            <button 
              :class="{'-loading -disabled': isBtnLoading}"
              :disabled="isBtnLoading"
              type="submit" 
              class="bio-button _bdw-0px _w-100pct _mgv-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px"><h4 class="_fs-5 _fw-500">{{ proceedBtnTitle }} </h4></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import InvalidPassword from '~/components/messages/invalid-password'
export default {
  components: {
    InvalidPassword
  },
  props: {
    proceedBtnTitle: {
      type: String,
      default: 'PROCEED TO PAYMENT'
    },
    countryOptions: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    isSuccess: null,
    isBtnLoading: false,
    errorMsg: '',
    newUser: {
      email: '',
      password: ''
    },
    shipping: {
      firstName: '',
      address1: '',
      address2: '',
      city: '',
      state: '',
      country: 'TH',
      postcode: '',
      phone: ''
    },
    billing: {
      firstName: '',
      address1: '',
      address2: '',
      city: '',
      state: '',
      country: 'TH',
      postcode: '',
      phone: '',
      copyChecked: null
    }
  }),
  watch: {
    '$store.state.auth.customer': {
      handler() {
        if (this.$store.state.auth.customer) return this.initValue()
      },
      immediate: true,
      deep: true
    },
    isBtnLoading(val) {
      if (val) {
        this.errorMsg = ''
      }
    },
    'shipping.country' () {
      this.$store.dispatch('purchase/setCustomerCountry', this.shipping.country)
      this.shipping.state = ''
    },
    'billing.country' () {
      this.billing.state = ''
    }
  },
  methods: {
    decodeHtmlEntity(str) {
      return str.replace(/&#(\d+);/g, function(match, dec) {
        return String.fromCharCode(dec)
      })
    },
    initValue() {
      const us = this.$store.state.auth.customer.shipping
      this.shipping = {
        firstName: `${us.first_name}`,
        phone: `${us.phone}`,
        address1: us.address_1,
        address2: us.address_2,
        city: us.city,
        postcode: us.postcode,
        state: us.state,
        country: us.country || 'TH'
      }
      const ub = this.$store.state.auth.customer.billing
      if (!ub) return (this.billing.copyChecked = true)
      this.billing = {
        firstName: `${ub.first_name}`,
        phone: `${ub.phone}`,
        address1: ub.address_1,
        address2: ub.address_2,
        city: ub.city,
        postcode: ub.postcode,
        state: ub.state,
        country: ub.country || 'TH'
      }
    },
    async submit() {
      // Save to user
      this.isBtnLoading = true
      this.isSuccess = false
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        let billing = {}
        if (this.billing.copyChecked) {
          billing = {
            firstName: this.shipping.firstName,
            phone: this.shipping.phone,
            address_1: this.shipping.address1,
            address_2: this.shipping.address2,
            city: this.shipping.city,
            postcode: this.shipping.postcode,
            state: this.shipping.state,
            country: this.shipping.country
          }
        } else {
          billing = {
            firstName: this.billing.firstName,
            phone: this.billing.phone,
            address_1: this.billing.address1,
            address_2: this.billing.address2,
            city: this.billing.city,
            postcode: this.billing.postcode,
            state: this.billing.state,
            country: this.billing.country
          }
        }
        // Register
        if (!this.$store.state.auth.user) {
          const register = await this.$store.dispatch('auth/register', {
            email: this.newUser.email,
            password: this.newUser.password,
            firstName: this.shipping.firstName.split(' ')[0] || '',
            lastName: this.shipping.firstName.split(' ')[1] || ''
          })
          if (!register) {
            this.isBtnLoading = false
            return (this.errorMsg = 'Error. Please try again with another email.')
          }
          const token = await this.$store.dispatch('auth/login', {
            email: this.newUser.email,
            password: this.newUser.password
          })
          if (!token) {
            this.isBtnLoading = false
            return (this.errorMsg = 'Error. Please try again with another email.')
          }
          // commit token
          this.$store.commit('auth/SET_TOKEN', token)
          // await this.$store.dispatch('auth/getUserMe')
        }
        // console.log('this far?')
        const customer = await this.$store
          .dispatch('user/updateAddress', {
            shipping: {
              firstName: this.shipping.firstName,
              phone: this.shipping.phone,
              address_1: this.shipping.address1,
              address_2: this.shipping.address2,
              city: this.shipping.city,
              postcode: this.shipping.postcode,
              state: this.shipping.state,
              country: this.shipping.country
            },
            billing
          })
          .catch(
            (err) => (this.errorMsg = 'Error. Please try again.')
          )
        // console.log(customer)
        if (customer) {
          this.isSuccess = true
          this.$store.commit('auth/SET_CUSTOMER', customer)
          this.$emit('success')
        } else {
          this.errorMsg = 'Error. Please try again with another email.'
        }
      }
      return (this.isBtnLoading = false)
      // Check if copyCheck is true
      // if true copy from shipping
      // submit to api and save both shipping and billing
      // emit success
      // console.log('submit')
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
select {
  width: 100%;
}
label {
  &::before {
    top: 0px;
    width: 18px !important;
    height: 18px !important;
    border-width: 1px !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
  &::after {
    top: 4px !important;
    left: 3px !important;
    border-color: $pink !important;
  }
}
</style>
