<template>
  <div>
    <no-ssr>
      <form @submit.stop.prevent="submit">
        <float-label>
          <input 
            v-validate="{required: true, min: 2}" 
            v-model="body.name"
            name="name"
            type="text"
            placeholder="Name">
          <small 
            v-show="errors.has('name')"
            class="_cl-negative" 
          >Please enter your name</small>
        </float-label>
        <float-label>
          <input 
            v-validate="{required: true, email: true}"
            v-model="body.email" 
            maxlength="100"
            type="email"
            name="email"
            placeholder="Email">
          <small 
            v-show="errors.has('email')"
            class="_cl-negative" 
          >Please enter your email</small>
        </float-label>
        <float-label>
          <input 
            v-validate="{required: true, min: 10}"
            v-model="body.phoneNumber"
            type="tel"
            name="phoneNumber"
            placeholder="Phone Number">
          <small 
            v-show="errors.has('phoneNumber')"
            class="_cl-negative" 
          >Please enter your phone number</small>
        </float-label>
        <float-label>
          <input 
            v-model="body.orderNumber" 
            type="text"
            placeholder="Order Number (eg. 231342341)">
        </float-label>
        <float-label>
          <textarea 
            v-validate="{required: true, min: 4}"
            v-model="body.message"
            name="message"
            placeholder="Your Message"
          />
          <small 
            v-show="errors.has('message')"
            class="_cl-negative" 
          >Please enter your message</small>
        </float-label>
        <button 
          :class="{'-loading -disabled': isBtnLoading}"
          :disabled="isBtnLoading"
          type="submit" 
          class="bio-button -positive _w-100pct _mgv-48px _ttf-upc _bgcl-pink _bdw-0px">
          <h4>
            Submit
          </h4>
        </button>
      </form>
    </no-ssr>
  </div>
</template>

<script>
export default {
  data: () => ({
    isBtnLoading: false,
    body: {
      name: '',
      email: '',
      phoneNumber: '',
      orderNumber: '',
      message: ''
    }
  }),
  methods: {
    async submit () {
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        this.isBtnLoading = true
        const res = await this.$store.dispatch('site/sendMail', {
          to: 'hello@5lab.co',
          html: `<p>
            Name: ${this.body.name}<br>
            Email: ${this.body.email}<br>
            Phone: ${this.body.phoneNumber}<br>
            Order ID: ${this.body.orderNumber || 'Not specified'}<br>
            Message: ${this.body.message}
          </p>`
        })
        this.isBtnLoading = false
        if (res.success) {
          this.body = {
            name: '',
            email: '',
            phoneNumber: '',
            orderNumber: '',
            message: ''
          }
          this.$validator.reset()
          this.errors.clear()
          return this.$modal.show('dialog', {
            title: 'Message sent. Our representative will contact you shortly.',
            buttons: [
              {
                title: 'Done',
                default: true,
                handler: () => this.$modal.hide('dialog')
              }
            ]
          })
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
