<template>
  <div>
    <h4 class="_tal-ct">
      Forgot Password
    </h4>
    <p class="_tal-ct _mgbt-32px">You can reset your password via Email</p>
    <no-ssr>
      <form @submit.stop.prevent="submit">
        <float-label v-if="!isSent">
          <input 
            v-validate="{required: true, email: true}"
            v-model="email"
            name="email"
            class="_bgcl-tpr"
            type="email" 
            data-vv-delay="500"
            data-vv-validate-on="none"
            placeholder="✉️ Your email address">
          <small 
            v-show="errors.has('email')"
            class="_cl-negative" 
          >Please enter your email</small>
        </float-label>
        <div 
          v-if="errorMsg" 
          class="bio-message -negative">
          {{ errorMsg }}
        </div>
        <div 
          v-if="isSent"
          class="bio-message -positive _mgv-12px" 
        >
          <div>
            <fa-icon 
              icon="check" 
              class="_mgr-8px" />
            Instruction sent. Please check your email.
          </div>
        </div>
        <button 
          v-if="!isSent"
          :class="{'-loading -disabled': isBtnLoading}"
          type="submit" 
          class="bio-button -positive -outline _w-100pct _mgv-16px">
          <h4>
            Proceed
            <fa-icon icon="arrow-circle-right"/>
          </h4>
        </button>
      </form>
    </no-ssr>
    <div class="_tal-ct _mgv-12px">
      <span>Already a member? </span>
      <nuxt-link 
        to="login" 
        class="bio-link -fancy">
        Login
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import urls from '~/services/apiUrl'
export default {
  data: () => ({
    isBtnLoading: false,
    isSent: false,
    email: '',
    password: '',
    errorMsg: null
  }),
  methods: {
    async forgot () {
      const isSent = await this.$axios.$post(urls.forgotPassword, {
        email: this.email
      })
      this.isBtnLoading = false
      return this.isSent = true
    },
    async submit () {
      this.isBtnLoading = true
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        await this.forgot()
          .catch(err => this.errorMsg = 'Error. Please try again with another account.')
      }
      return this.isBtnLoading = false
    }
  }
}
</script>
