<template>
  <div>
    <PageHeading 
      text="Already a Member ?"
      class="_mgbt-24px"
    />
    <no-ssr>
      <form @submit.stop.prevent="submit">
        <float-label>
          <input 
            v-validate="{required: true, email: true}"
            v-model="email"
            name="email"
            class="_bgcl-tpr"
            type="email" 
            data-vv-delay="500"
            data-vv-validate-on="none"
            placeholder="✉️ Email">
          <small 
            v-show="errors.has('email')"
            class="_cl-negative" 
          >Email</small>
        </float-label>
        <float-label class="_mgbt-16px">
          <input 
            v-validate="{required: true}"
            v-model="password"
            name="password"
            class="_bgcl-tpr"
            type="password" 
            data-vv-delay="500"
            data-vv-validate-on="none"
            placeholder="🔒 Password">
          <small 
            v-show="errors.has('password')"
            class="_cl-negative" 
          >Password</small>
        </float-label>
        <div 
          v-if="errorMsg"
          class="bio-message -negative" 
        >
          <div v-html="errorMsg"/>
        </div>
        <div class="_tal-r _mgv-12px">
          <nuxt-link 
            to="forgot-password" 
            class="_fs-7 _cl-pink">
            FORGOT PASSWORD
          </nuxt-link>
        </div>
        <button 
          :class="{'-loading -disabled': isBtnLoading}"
          :disabled="isBtnLoading"
          type="submit" 
          class="bio-button _bdw-0px _w-100pct _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px">
          <h4 class="_fs-5 _fw-500">
            Log in
          </h4>
        </button>
      </form>
    </no-ssr>
    
    <!-- Facebook Login -->
    <div>
      <FacebookButton
        text="Log in with facebook"
        @success="fbSuccess"
        @error="fbError"
      />
    </div>
    <!-- <Horiz /> -->
    <!-- No Account -->
    <div class="_tal-r _mgv-12px">
      <nuxt-link 
        to="register" 
        class="_fs-7 _cl-pink">
        SIGN UP HERE
      </nuxt-link>
    </div>
    
  </div>
</template>

<script>
import Horiz from '~/components/extras/Horiz'
import FacebookButton from '~/components/buttons/FacebookButton'
import PageHeading from '~/components/text/PageHeading'
export default {
  components: {
    Horiz,
    FacebookButton,
    PageHeading
  },
  data: () => ({
    isBtnLoading: false,
    email: '',
    password: '',
    errorMsg: ''
  }),
  methods: {
    async fbSuccess({ email, password }) {
      // userData
      await this.login(email, password)
      return (this.isBtnLoading = false)
    },
    fbError(res) {
      return this.errorMsg = res
    },
    async login(email = null, password = null) {
      const redirect = this.$route.query.redirect || ''
      const token = await this.$store.dispatch('auth/login', {
        email: email || this.email,
        password: password || this.password
      })
      if (token) {
        // return this.$router.replace(`/${redirect}`)
        return (window.location.href = `${window.location.origin}${redirect}`)
      }
      return (this.errorMsg = 'Error. Please try again with another account.')
    },
    async submit() {
      this.isBtnLoading = true
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        await this.login().catch(
          (err) => (this.errorMsg = err.response.data.message)
        )
      }
      return (this.isBtnLoading = false)
    }
  }
}
</script>
