<template>
  <div>
    <div v-if="$store.state.auth.customer.is_facebook_user">
      <h5>Logged in using <fa-icon :icon="['fab', 'facebook-square']"/></h5>
    </div>
    <form 
      v-else
      class="_mgt-32px"
      @submit.stop.prevent="submit">
      <h5 class="_ttf-upc _fs-6 _fw-600 _cl-black">Change Password</h5>
      <float-label class="_mgbt-16px">
        <input 
          v-validate="{required: true, min: 8, max: 16}"
          v-model="currentPassword"
          name="currentPassword"
          class="_bgcl-tpr"
          type="password" 
          data-vv-delay="250"
          placeholder="🔒 Old Password">
        <small 
          v-show="errors.has('currentPassword')"
          class="_cl-negative" 
        >Please enter your password</small>
      </float-label>
      <float-label class="_mgbt-16px">
        <input 
          v-validate="{required: true, regex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%-_*#?&])[A-Za-z\d$@$!%-_*#?&]{8,}$/}"
          v-model="newPassword"
          name="newPassword"
          class="_bgcl-tpr"
          type="password" 
          data-vv-delay="500"
          placeholder="🔒 New Password">
      </float-label>
      <float-label class="_mgbt-16px">
        <input 
          v-validate="{required: true, confirmed: 'newPassword'}"
          v-model="confirmNewPassword"
          name="confirmNewPassword"
          class="_bgcl-tpr"
          type="password" 
          data-vv-delay="250"
          placeholder="🔒 Confirm New Password">
        <small 
          v-show="errors.has('confirmNewPassword')"
          class="_cl-negative" 
        >Password mismatched.</small>
      </float-label>
      <InvalidPassword v-show="errors.has('newPassword')" />
      <div 
        v-if="errorMsg" 
        class="bio-message -accent">
        <div>
          <fa-icon 
            :icon="['fal', 'times']" 
            class="_mgr-8px" />
          {{ errorMsg }}
        </div>
      </div>
      <div 
        v-if="successMsg" 
        class="bio-message -positive">
        <div>
          <fa-icon 
            class="_mgr-8px" 
            icon="check"/>
          {{ successMsg }}
        </div>
      </div>
      <button 
        :class="{'-loading -disabled': isBtnLoading}"
        type="submit" 
        class="bio-button _w-100pct _mgv-24px _bgcl-pink _bdw-0px _ttf-upc">
        <h4 class="_fs-6 _fw-500">
          Save
        <!-- <fa-icon icon="arrow-circle-right"/> -->
        </h4>
      </button>
    </form>
  </div>
</template>

<script>
import InvalidPassword from '~/components/messages/invalid-password'
export default {
  components: {
    InvalidPassword
  },
  data: () => ({
    isBtnLoading: false,
    currentPassword: '',
    newPassword: '',
    confirmNewPassword: '',
    successMsg: '',
    errorMsg: ''
  }),
  methods: {
    async submit() {
      this.isBtnLoading = true
      this.errorMsg = ''
      this.successMsg = ''
      const isValid = await this.$validator.validateAll()
      // if
      if (isValid) {
        await this.changePassword().catch(
          (err) => (this.errorMsg = 'Error. Please try again.')
        )
      }
      return (this.isBtnLoading = false)
    },
    async changePassword() {
      this.errorMsg = ''
      this.successMsg = ''
      const res = await this.$store.dispatch('user/updatePassword', {
        currentPassword: this.currentPassword,
        newPassword: this.newPassword
      })
      if (res) return (this.successMsg = 'Success')
      return (this.errorMsg = 'Error. Please try again.')
    }
  }
}
</script>
