<template>
  <form 
    class="_mgt-24px"
    @submit.stop.prevent="submit"
  >
    <h1 class="_fs-3 _fw-500 _ttf-upc _cl-black _lh-100pct">My Account</h1>
    <div class="_mgt-32px">
      <h5 class="_ttf-upc _fs-6 _fw-600 _cl-black">Profile Info</h5>
    </div>
    <float-label class="_mgbt-16px">
      <input 
        v-validate="{required: true, min: 2, max: 40}"
        v-model="firstName"
        name="firstName"
        class="_bgcl-tpr"
        type="text" 
        data-vv-delay="250"
        placeholder="First name">
      <small 
        v-show="errors.has('firstName')"
        class="_cl-negative" 
      >Please enter first name</small>
    </float-label>
    <float-label class="_mgbt-16px">
      <input 
        v-validate="{required: true, min: 2, max: 40}"
        v-model="lastName"
        name="lastName"
        class="_bgcl-tpr"
        type="text" 
        data-vv-delay="250"
        placeholder="Last name">
      <small 
        v-show="errors.has('lastName')"
        class="_cl-negative" 
      >Please enter last name</small>
    </float-label>
    <float-label>
      <input 
        v-validate="{required: true, email: true}"
        v-model="email"
        disabled
        name="email"
        class="_bgcl-tpr _cl-neutral-500"
        type="email" 
        data-vv-delay="250"
        placeholder="✉️ Email">
      <small 
        v-show="errors.has('email')"
        class="_cl-negative" 
      >Email</small>
    </float-label>
    
    <div 
      v-if="errorMsg" 
      class="bio-message -negative">
      <div>
        <fa-icon 
          :icon="['fal', 'times']" 
          class="_mgr-8px"/>
        {{ errorMsg }}
      </div>
    </div>
    <div 
      v-if="successMsg" 
      class="bio-message -positive _mgt-16px">
      <div>
        <fa-icon 
          class="_mgr-8px" 
          icon="check"/>
        {{ successMsg }}
      </div>
    </div>
    <button 
      :class="{'-loading -disabled': isBtnLoading}"
      type="submit" 
      class="bio-button _w-100pct _mgv-24px _bgcl-pink _bdw-0px _ttf-upc">
      <h4 class="_fs-6 _fw-500">
        UPDATE
      </h4>
    </button>
  </form>
</template>

<script>
export default {
  data: () => ({
    isBtnLoading: false,
    email: '',
    firstName: '',
    lastName: '',
    errorMsg: '',
    successMsg: ''
  }),
  created() {
    // Init data values
    this.email = this.$store.state.auth.user.email
    this.firstName = this.$store.state.auth.user.first_name
    this.lastName = this.$store.state.auth.user.last_name
  },
  methods: {
    async updateProfile() {
      this.errorMsg = ''
      this.successMsg = ''
      const res = await this.$store.dispatch('user/updateBasicProfile', {
        firstName: this.firstName,
        lastName: this.lastName
      })
      if (res) return (this.successMsg = 'Profile updated.')
      return (this.errorMsg = 'Please try again.')
    },
    async submit() {
      this.isBtnLoading = true
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        await this.updateProfile().catch(
          (err) => (this.errorMsg = 'Error. Please try again with another account.')
        )
      }
      return (this.isBtnLoading = false)
    }
  }
}
</script>
