<template>
  <div>
    <PageHeading 
      text="Let's Be Friends."
      class="_mgbt-24px"
    />
    <no-ssr>
      <form @submit.stop.prevent="submit">
        <float-label class="_mgbt-16px">
          <input 
            v-validate="{required: true, max: 20}"
            v-model="firstName"
            name="firstName"
            class="_bgcl-tpr"
            type="text" 
            data-vv-delay="250"
            placeholder="First name">
          <small 
            v-show="errors.has('firstName')"
            class="_cl-negative" 
          >Please enter your first name</small>
        </float-label>
        <float-label class="_mgbt-16px">
          <input 
            v-validate="{required: true, max: 20}"
            v-model="lastName"
            name="lastName"
            class="_bgcl-tpr"
            type="text" 
            data-vv-delay="250"
            placeholder="Last name">
          <small 
            v-show="errors.has('lastName')"
            class="_cl-negative" 
          >Please enter your last name</small>
        </float-label>
        <float-label>
          <input 
            v-validate="{required: true, email: true}"
            v-model="email"
            name="email"
            class="_bgcl-tpr"
            type="email" 
            data-vv-delay="250"
            placeholder="✉️ Email">
          <small 
            v-show="errors.has('email')"
            class="_cl-negative" 
          >Please enter your email</small>
        </float-label>
        <float-label class="_mgbt-16px">
          <input 
            v-validate="{required: true, regex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%-_*#?&])[A-Za-z\d$@$!%-_*#?&]{8,}$/}"
            v-model="password"
            name="password"
            class="_bgcl-tpr"
            type="password" 
            data-vv-delay="250"
            placeholder="🔒 Password">
        </float-label>
        <InvalidPassword v-show="errors.has('password')" />
        <div 
          v-if="errorMsg" 
          class="bio-message -negative">
          {{ errorMsg }}
        </div>
        <div 
          v-if="isLoggingIn" 
          class="bio-message -positive">
          <div>
            <fa-icon icon="check"/>
            <span class="_mgl-12px">LOGGING YOU IN</span>
          </div>
        </div>
        <button 
          :class="{'-loading -disabled': isBtnLoading}"
          :disabled="isBtnLoading"
          type="submit" 
          class="bio-button _bdcl-tpr _w-100pct _mgt-16px _mgbt-4px _ttf-upc _bgcl-pink _cl-white _pdv-12px">
          <h4 class="_fs-5 _fw-500">
            Sign Up
          </h4>
        </button>
      </form>
    </no-ssr>
    <!-- Facebook Login -->
    <div>
      <FacebookButton
        text="Sign up with facebook"
        @success="fbSuccess"
        @error="fbError"
      />
    </div>
    <div class="_tal-r _mgv-12px">
      <nuxt-link 
        to="login" 
        class="_cl-pink _fs-7">
        LOG IN HERE
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import InvalidPassword from '~/components/messages/invalid-password'
import Horiz from '~/components/extras/Horiz'
import FacebookButton from '~/components/buttons/FacebookButton'
import PageHeading from '~/components/text/PageHeading'
export default {
  components: {
    InvalidPassword,
    Horiz,
    FacebookButton,
    PageHeading
  },
  data: () => ({
    isBtnLoading: false,
    isLoggingIn: false,
    email: '',
    firstName: '',
    lastName: '',
    password: '',
    errorMsg: '',
    redirect: ''
  }),
  methods: {
    async fbSuccess({ email, password }) {
      // userData
      await this.login(email, password)
      return (this.isBtnLoading = false)
    },
    fbError(res) {
      return this.errorMsg = res
    },
    async login(email = null, password = null) {
      const redirect = this.$route.query.redirect || ''
      this.isLoggingIn = true
      const token = await this.$store.dispatch('auth/login', {
        email: email || this.email,
        password: password || this.password
      })
      if (token) return (window.location.href = `/${redirect}`)
      this.isLoggingIn = false
      return (this.errorMsg = 'Registration failed. Please try again.')
    },
    async register() {
      const register = await this.$store.dispatch('auth/register', {
        email: this.email,
        password: this.password,
        firstName: this.firstName,
        lastName: this.lastName
      })
      if (register) {
        return await this.login()
      }
      return (this.errorMsg = 'Registration failed. Please try again.')
    },
    async submit() {
      this.isBtnLoading = true
      this.errorMsg = ''
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        await this.register().catch(
          (err) => (this.errorMsg = err.response.data.message)
        )
      }
      return (this.isBtnLoading = false)
    }
  }
}
</script>
