<template>
  <div>
    <h4 class="_tal-ct">
      Reset Password
    </h4>
    <no-ssr>
      <form 
        @submit.stop.prevent="submit" 
      >
        <float-label class="_mgbt-16px">
          <input 
            v-validate="{required: true, regex: /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%-_*#?&])[A-Za-z\d$@$!%-_*#?&]{8,}$/}"
            v-model="newPassword"
            name="newPassword"
            class="_bgcl-tpr"
            type="password" 
            data-vv-delay="500"
            placeholder="🔒 New Password">
        </float-label>
        <float-label class="_mgbt-16px">
          <input 
            v-validate="{required: true, confirmed: 'newPassword'}"
            v-model="confirmNewPassword"
            name="confirmNewPassword"
            class="_bgcl-tpr"
            type="password" 
            data-vv-delay="250"
            placeholder="🔒 Confirm New Password">
          <small 
            v-show="errors.has('confirmNewPassword')"
            class="_cl-negative" 
          >Password mismatch</small>
        </float-label>
        <InvalidPassword v-show="errors.has('newPassword')" />
        <div 
          v-if="errorMsg" 
          class="bio-message -accent">
          <div>
            <fa-icon 
              :icon="['fal', 'times']" 
              class="_mgr-8px" />
            {{ errorMsg }}
          </div>
        </div>
        <div 
          v-if="successMsg" 
          class="bio-message -positive">
          <div>
            <fa-icon 
              class="_mgr-8px" 
              icon="check"/>
            {{ successMsg }}
            <nuxt-link 
              class="bio-link -fancy _mgl-8px" 
              to="/login">Login</nuxt-link>
          </div>
        </div>
        <button 
          :class="{'-loading -disabled': isBtnLoading}"
          type="submit" 
          class="bio-button -info -outline _w-100pct _mgv-24px">
          <h4>
            Change Password
            <fa-icon icon="arrow-circle-right"/>
          </h4>
        </button>
      </form>
    </no-ssr>
  </div>
</template>

<script>
import InvalidPassword from '~/components/messages/invalid-password'
export default {
  components: {
    InvalidPassword
  },
  data: () => ({
    isBtnLoading: false,
    newPassword: '',
    confirmNewPassword: '',
    successMsg: '',
    errorMsg: ''
  }),
  methods: {
    async submit () {
      this.isBtnLoading = true
      this.errorMsg = ''
      this.successMsg = ''
      const isValid = await this.$validator.validateAll()
      // if 
      if (isValid) { 
        await this.resetPassword()
          .catch(err => this.errorMsg = 'Error. Please try again.')
      }
      return this.isBtnLoading = false
    },
    async resetPassword () {
      const res = await this.$store.dispatch('auth/forgotSetPassword', {
        key: this.$route.query.key,
        login: this.$route.query.login,
        password: this.newPassword
      })
      if (!res) {
        return this.errorMsg = 'Error. Please try again.'
      }
      return this.successMsg = 'Successful.'
    }
  }
}
</script>
